<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Edit Production Type</h4>
</div>
<form name="production-type-form" action="/inventory/production-type/edit/{{ prod_type_id }}/" method="post">{% csrf_token %}
<div class="modal-body">
    
    <input type="hidden" name="prod_type_id" value="{{ prod_type_id }}">
    <table class="table">
        <tr>
            <th><label for="id_production_type_name">Production Type Name</label></th>
            <td>
                <input type="text" class="form-control" name="production_type_name" id="id_production_type_name" value="{{production_type_form.production_type_name.value}}">
            </td>
        </tr>
        <tr>
            <th><label for="id_cost_per_hour">Cost Per Hour</label></th>
            <td>
                <input type="number"  max="10000" step="0.0001" class="form-control" name="cost_per_hour" id="id_cost_per_hour" value="{{production_type_form.cost_per_hour.value}}">
            </td>
        </tr>
        
    </table>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
</div>
</form>
<script type="text/javascript">
(function(){
    $("form[name='production-type-form']").on("submit", function(e){
        e.preventDefault();
        dcid = $("input[name='dcid']").val();
        $("#delivery-choice-list span."+dcid).remove();
        console.log($(this).attr("action"));
        
        form_data = $(this).serialize();
        $.ajax({
            type: "POST",
            url: $(this).attr("action"),
            data: form_data,
            success: function(rdata) {
                $( "button.close-modal" ).trigger( "click" );

                // $("#delivery-choice-list").prepend(rdata);
                window.location.reload();

            }
        })

    })

})(jQuery)
    
</script>
