{% extends "base.html" %}

{% block content %}

<div class="container shadow4 main-body">
<section class="row">
	<div class="col-md-6 col-md-offset-3">
		<a href="#" class="btn btn-primary production-type-add">Add Production Type</a>
	</div>
</section>
<br />
<section class="row"  id="production-type-list">
	

	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4> Production Type</h4>
		  	</div>
		  	<div class="panel-body">
		  		<table class="table">
			  		<tr>
			  			<td>Production Type </td>
			  			<td>Cost Per Hour </td>
			  			<td>Action</td>
			  			
			  		</tr>
			  		{% for production_type in production_types %}
			  			<tr>
				  			<td> {{ production_type.production_type_name }} </td>
				  			<td> {{ production_type.cost_per_hour }} </td>
				  			<td>
				  				<a class="production-type-delete" href="#" data-prod-type-id="{{ production_type.id }}">delete</a> / <a class="production-type-edit" href="/inventory/production-type/edit/{{production_type.id}}/">Edit</a>
				  			</td>
				  			
				  		</tr>
				  	{% empty %}
				  	<tr>
			  			<td colspan='4'> No Production Type found. </td>
			  		</tr>
				  	{% endfor %}
			  	</table>
		  	
			</div>
		</div>
	</div>


</section>

{% include "modals/edit-modal.html" %}

<script type="text/javascript">
(function(){

		$("a.production-type-add").on("click", function(e){
			e.preventDefault();
			// com_id = $(this).data("id");
		    url = "/inventory/production-type/add/"
			mdal = $('#editModal');
			mdal.on("shown.bs.modal", function(){
				$("#editModal .modal-content").load(url);
				console.log(url);
			}).modal();

			return false;
		});

	$("a.production-type-edit").on("click", function(e){
		e.preventDefault();
		// com_id = $(this).data("id");
	    url = $(this).attr("href");
		mdal = $('#editModal');
		mdal.on("shown.bs.modal", function(){
			$("#editModal .modal-content").load(url);
			console.log(url);
		}).modal();

		return false;
	});


	$("#production-type-list a.production-type-delete").on("click", function(e){
		e.preventDefault();
		prodid = $(this).data("prod-type-id");
		console.log(prodid);

		$.ajax({
			type: "POST",
			url: "/inventory/production-type/delete/",
			data: {
				'production_type_id': prodid,
			},
			success: function(rdata) {
				console.log(rdata);
				$("a[data-prod-type-id='"+rdata+"']").closest("tr").remove();
			}
		})
	});

})(jQuery)

</script>
</div>


{% endblock content %}
	