<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Add Unit Measure</h4>
</div>
<form name="unit-measure-form" action="/inventory/unit-measure/add/" method="post">{% csrf_token %}
<div class="modal-body">
    
    <input type="hidden" name="dcid" value="{{ dcid }}">
    <table class="table">
        <tr>
            <th><label for="id_unit_name">Unit Name</label></th>
            <td>
                <input type="text" class="form-control" name="unit_name" id="id_unit_name">
            </td>
        </tr>
    </table>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Add</button>
</div>
</form>
<script type="text/javascript">
(function(){
    $("form[name='unit-measure-form']").on("submit", function(e){
        e.preventDefault();
        // dcid = $("input[name='dcid']").val();
        // $("#delivery-choice-list span."+dcid).remove();
        console.log($(this).attr("action"));
        
        form_data = $(this).serialize();
        $.ajax({
            type: "POST",
            url: $(this).attr("action"),
            data: form_data,
            success: function(rdata) {
                $( "button.close-modal" ).trigger( "click" );

                // $("#delivery-choice-list").prepend(rdata);
                window.location.reload();

            }
        })

    })

})(jQuery)
    
</script>
