<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h4 class="modal-title" id="myModalLabel">Edit Unit Measure</h4>
</div>
<form name="unit-measure-form" action="/inventory/unit-measure/edit/{{ unit_mes_id }}/" method="post">{% csrf_token %}
<div class="modal-body" style="text-align: center;">
    
    <input type="hidden" name="unit_mes_id" value="{{ unit_mes_id }}">
    <table class="table">
        <tr>
            <th><label for="id_unit_name">Unit Name</label></th>
            <td>
                <input type="text" class="form-control" name="unit_name" value="{{unit_measure_form.unit_name.value}}" id="id_unit_name">
            </td>
        </tr>
    </table>
    
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
</div>
</form>
<script type="text/javascript">
(function(){

    $("form[name='unit-measure-form']").on("submit", function(e){
        e.preventDefault();
        id = $("input[name='unit_mes_id']").val();
        $("#unit-measure-list span."+id).remove();
        console.log(id);
        
        form_data = $(this).serialize();
        $.ajax({
            type: "POST",
            url: $(this).attr("action"),
            data: form_data,
            success: function(rdata) {
                $( "button.close-modal" ).trigger( "click" );

                window.location.reload();

            }
        })

    });


})(jQuery)
    
</script>
