<table class="table" ng-show="jobs">
	<thead>
	<tr>
		<th> ID </th>
		<th>Report Type</th>
		<th>Script Name</th>
		<th>Que Type</th>
		<th>Current job status</th>
		<th>Date submitted</th>
		<th> Comments </th>
		<th>File Path</th>
		
		
		<th width="120">Action</th>
		
	</tr>
	</thead>
	<tbody>
		<tr ng-repeat="job in jobs | googleSearchFilter:search">
			<td> {[{ job.id }]} </td>
			<td> {[{ job.report.report_type }]} </td>
			<td> {[{ job.script_name }]} </td>
			<td> {[{ job.que_type }]} </td>
			<td> {[{ job.current_job_status }]} </td>
			<td> {[{ job.date_submitted }]} </td>
			<td> {[{ job.report_description }]} </td>
			<td>{[{ job.filepath }]}</td>
			
			
			<td>
				<a href="/report/singlejob/viewpdf/{[{job.id}]}/" target="_blank" class="view-report" data-path="{[{job.id}]}" >View</a>
				<span ng-show="{[{ job.permission.can_change_singlereport }]}">
				 / 
				<a href="/report/singlejob/edit/{[{job.id}]}/" >Edit</a>
				</span>

				<span ng-show="{[{ job.permission.can_delete_singlereport }]}">
				 / 
				<a href=""  data-id="{[{ job.id }]}" class="single-job-delete">Delete</a>
				</span>
				
			</td>
			
		</tr>
	</tbody>
</table>

<h2 ng-hide="jobs">There's no recuring job</h2>
<div id="delete-job-confirm" style="display:none;" title="Do you want to delete?">
  <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;">
  </span>This will delete the job from your system?</p>
</div>

<script type="text/javascript">
(function(){
	$(document).on("click", "#recuring-report-list a.single-job-delete", function(e){
		e.preventDefault();
		var job_id = $(this).data("id");

		$( "#delete-user-confirm" ).css("display:block;");
		
		$( "#delete-job-confirm" ).dialog({
			resizable: false,
			height:200,
			modal: true,
			buttons: {
				"Delete Job": function() {
									
					$( this ).dialog( "close" );
					$.ajax({
						type: "POST",
						url: "/report/singlejob/delete/",
						data: {
							'id': job_id,
						},
						success: function(rdata) {
							console.log(rdata);
							$("a[data-id='"+ rdata + "']").closest("tr").remove();
						}
					})
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});

	});


})(jQuery)

</script>



