{% extends "base.html" %}

{% block content %}
<style type="text/css">

.supplier_contact thead{
	background-color: #E0E0E0 !important;
}
.sold_to_contact tbody, .ship_to_contact tbody, .installed_by_contact tbody {
	background-color: #333;
	font-size: 14px;
	color: #FFF;
}
.sold_to_contact tbody tr:hover, .ship_to_contact tbody tr:hover, .installed_by_contact tbody tr:hover{
	background-color: #616183;
}

.contact_box, .item_box {
	position: relative;
}
.input-group {
	width: 90% !important;
}
table.contact {
	margin-top: 10px;
}
table.contact th{
	background-color: #83AD9E;
}
.contact_box .sold_to_contact,.contact_box .ship_to_contact, .contact_box .installed_by_contact {
	position: absolute;
	width: 980px;
	top:-16px;
	left: 102px;
	z-index: 1000;
	border: 1px solid #000;
}
.ship_to_contact {
	left: -430px !important;
}
.sold_to_contact thead, .ship_to_contact thead, .installed_by_contact thead{
	background-color: #ed791a;
	color: #FFF;
	height: 35px;
	font-size: 16px;
}

#ship_to_contact_list, #items_list {
	position: absolute;
	top: 42px;
	left: 8px;
	background-color: #DDD;
	z-index: 1000;
	/*border: 1px solid #000;*/
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}
a.close {
	color: red !important;
	opacity: 1 !important;
}
</style>
<div class="container-fluid shadow4 main-body" ng-app="scheduleApp">

<section class="row" >
	

	<div class="col-md-12" ng-controller="AddJobControlController">
	<form action="/schedule/job-control/add/" method="POST" enctype="multipart/form-data">{% csrf_token %}
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4>Add Job Control</h4>
		  	</div>
			
				
					{% include "schedule/partial/job-control-form.html" %}
			
		</div>
	</form>
		
	</div>
</section>
</div>
{% include "modals/add-modal.html" %}
<script type="text/javascript">

(function(){
$(".datepicker").datepicker();
$(document).on("change", "input.decimal", function(e){
	var myval = parseFloat($(this).val())
	$(this).val(myval.toFixed(2));
});
$("a#add_id_primary_supplier").on("click", function(e){
	e.preventDefault();
	url = "/contacts/add/rel/",
	mdal = $('#addModal');
	mdal.on("shown.bs.modal", function(){
		$("#addModal .modal-content").load(url);
		// console.log(url);
	}).modal();
	return false;
});
var scheduleApp = angular.module("scheduleApp", ['components'], function ($interpolateProvider) {
    $interpolateProvider.startSymbol("{[{");
    $interpolateProvider.endSymbol("}]}");
});

scheduleApp.controller('AddJobControlController', ['$scope', '$http', '$compile', function ($scope, $http, $compile) {
	$scope.init = function (){
		
        // $("#show_job_list").hide()
        $scope.show_job_list = false;
        $scope.new_jc_form = true;
        
	};

	$scope.init();
	$scope.hideSoldToContact = function() {
		$scope.show_sold_to_contact_list = false;
	}

	$scope.hideShipToContact = function() {
		$scope.show_ship_to_contact_list = false;
	}

	$scope.hideInstalledByContact = function() {
		$scope.show_installed_by_contact_list = false;
	}

	$scope.selectJob = function (job) {
		console.log(job);
		// $scope.job = job;
		$scope.new_jc_form = false;
		$scope.show_job_list = false;
		$scope.job_number = job.job_number;
		$scope.job_name = job.job_name;
		$scope.start_date = job.start_date;
		$scope.number_of_cabs = job.number_of_cabs;
		
		$scope.sold_to = job.sold_to;
		console.log(job.sold_to);
		// $scope.sold_to_id = job.sold_to_id;
		// $scope.sold_to_contacts = job.sold_to_contacts;
		$scope.sold_to_contact_details = true;
		
		$scope.ship_to = job.ship_to;
		// $scope.ship_to_id = job.ship_to_id;
		$scope.ship_to_contact_details = true;

		// $scope.installed_by_contact = job.installed_by_contact;
		// $scope.installed_by_id = job.installed_by_id;
		$scope.installed_by = job.installed_by;
		$scope.installed_by_contact_details = true;

		
		if(job.elevetor_type_id){
			$("#id_elevetor_type").val(job.elevetor_type_id);
			$scope.elevetor_type = job.elevetor_type;
		}
		$scope.number_of_floors = job.number_of_floors;
		$scope.front = job.front;
		$scope.rear = job.rear;
		$scope.rgw = job.rgw;
		$scope.capacity = job.capacity;
		$scope.customer_po_number = job.customer_po_number;
		$scope.delivery_date = job.delivery_date;
		
		$scope.estimated_price_for_job = job.estimated_price_for_job;

		$scope.fixtures = job.fixtures;
		$scope.wood_shop = job.wood_shop;
		$scope.machine_shop = job.machine_shop;
		$scope.welding = job.welding;
		$scope.lacquer = job.lacquer;
		$scope.trim_shop = job.trim_shop;
		$scope.cab_assembly = job.cab_assembly;
		$scope.install_date = job.install_date;
		$scope.premier_glass = job.premier_glass;
		$scope.tile_installer = job.tile_installer;
		$scope.bill = job.bill;
		$scope.hayward = job.hayward;
		$scope.glenn = job.glenn;
		$scope.suren = job.suren;
		$scope.roger = job.roger;
		$scope.matt = job.matt;
		$scope.third_party_install = job.third_party_install;
	}

	$scope.deleteJC = function() {
        console.log("Delete JC.");
        var status = confirm("Do you want to delete this Job?");
        if(status == true) {
            var jc_id = $("#id_job_number").val();
            // console.log(po_id);
            var url = "/schedule/job-control/delete/";
            $.ajax({
                type: "POST",
                url: url,
                
                data: {
                    'jc_id': jc_id,
                },
                success: function(rdata) {
                    // console.log(rdata);
                    window.location.reload();

                }
            });
        }
        
    }
	
	// sold to google seach and select
	$scope.searchSoldTo = function(con) {

		if (con.length > 1) {
			var url = "/contacts/search/?q="+con+"/"
			$http({method: 'GET', url: url}).
            success(function(data, status, headers, config) {
                console.log(data);
                $scope.contacts = data;
                // Select deafult contacts
            
        	});
			$scope.show_sold_to_contact_list = true;
		} else {
			$scope.show_sold_to_contact_list = false;
		}

	}

	$scope.selectSoldTo = function(con) {
		$scope.show_sold_to_contact_list = false;
		$scope.sold_to_contact_details = true;
		$scope.search_sold_to = '';

		$scope.sold_to = con;
		console.log(con);
	};

	$scope.searchShipTo = function(con) {
		if (con.length > 1) {
			var url = "/contacts/search/?q="+con+"/"
			$http({method: 'GET', url: url}).
            success(function(data, status, headers, config) {
                console.log(data);
                $scope.contacts = data;
                // Select deafult contacts
            
        	});
			$scope.show_ship_to_contact_list = true;
		} else {
			$scope.show_ship_to_contact_list = false;
		}
	}

	$scope.selectShipTo = function(con) {
		$scope.show_ship_to_contact_list = false;
		$scope.search_ship_to = ""
		$scope.ship_to = con;
		$scope.ship_to_contact_details = true;
	};

	$scope.searchInstalledBy = function(con) {
		if (con.length > 1) {
			var url = "/contacts/search/?q="+con+"/"
			$http({method: 'GET', url: url}).
            success(function(data, status, headers, config) {
                console.log(data);
                $scope.contacts = data;
                // Select deafult contacts
            
        	});
			$scope.show_installed_by_contact_list = true;
		} else {
			$scope.show_installed_by_contact_list = false;
		}
	}

	$scope.selectInstalledBy = function(con) {
		$scope.show_installed_by_contact_list = false;
		$scope.search_installed_by = ""
		$scope.installed_by = con;
		$scope.installed_by_contact_details = true;
	};

}])
})(jQuery)

</script>
{% endblock content %}