{% extends "base.html" %}

{% block angular %}
	<script type="text/javascript" src="/statics/js/angular.min.js"></script>
	<script type="text/javascript" src="/statics/js/angular-route.min.js"></script>	
{% endblock angular %}

{% block content %}
<div class="container-fluid shadow4 main-body" ng-app="premierApp">

<section class="row">
	<div class="col-md-6">
		<input type='text' class="form-control" ng-model="search" placeholder="Filter By job number, cab designaiton, job name and customers">
	</div>
	
	
</section>

<br />

<section class="row" id="ob-time-control-list">
	
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4>Job Time Control list</h4>
		  	</div>
		  	<table class="table">
		  		<thead>
		  			<tr>
		  				<th>Serial</th>
		  				<th>Job number</th>
		  				<th>Entry</th>
		  				<th>Total hours worked</th>
		  				<th width="200">Eng Comment</th>
		  			</tr>
		  		</thead>
		  		<tbody>
		  			{% for jtc in job_time_controls %}
		  				<tr>
		  					<td>{{ jtc.serial }}</td>
		  					<td>{{ jtc.job_number }}</td>
		  					<td>{{ jtc.entry }}</td>
		  					<td>{{ jtc.total_hours_worked }}</td>
		  					<td>{{ jtc.eng_comment }}</td>
		  				</tr>
		  			{% endfor%}
		  		</tbody>
		  	</table>
		</div>
	</div>
	
</section>
</div>
<script type="text/javascript">


</script>
{% endblock content %}