{% extends "base.html" %}

{% block content %}
<style type="text/css">
#job-list {
	position: absolute;
	width: 380px;
}
#job-list .list-group-item {
	padding: 0px 5px 2px !important;

}
#job-list ul {
	list-style: none;
}
#job_control_list {
	position: absolute;
	width: 640px;
	border: 1px solid #333;
	background: #FFE;

}
#job_control_list thead tr {
	background: #000 !important;
	color: #FF0;
}
#job_control_list tbody tr:hover {
	background: #EEE;
}
/*#job_list {
	position: absolute;
	width: 450px;
}
#job_list li:hover{
	background-color: #EEE;
}

#show_job_list table {
	border: 1px solid #000;
}
#show_job_list thead {
	background-color: #555;
	color: #FF0;
}
#show_job_list tbody tr:hover {
	background-color: #DDD;
}
*/

#show_job_list {
	
	left: -80px;
	
}

</style>
<div class="container shadow4 main-body" ng-app="jobtimecontrolApp">

<section class="row" ng-controller="JobTimeController">
	

	<div class="col-md-8 col-md-offset-2" >
		<form name="job_time_control" action="/schedule/job-time-control/add/" method="POST" enctype="multipart/form-data">{% csrf_token %}
			<div class="panel panel-primary">
				<div class="panel-heading">
			    	<h4>Add/Update Job Time Control</h4>
			  	</div>
			  	
				  	{% include "schedule/partial/job-time-control-form.html" %}

			</div>
		</form>
	</div>
</section>
</div>

<script type="text/javascript">
'use strict';

var jobtimecontrolApp = angular.module("jobtimecontrolApp",['components'], function ($interpolateProvider) {
        $interpolateProvider.startSymbol("{[{");
        $interpolateProvider.endSymbol("}]}");
});

jobtimecontrolApp.controller("JobTimeController", ['$scope', '$http', function($scope, $http){
	
	$scope.init = function() {
	    $scope.new_job_time_control = true;
	    $scope.show_job_list = false;
	    $scope.show_job_details = false;

	    var date = new Date();
	    var today = date.getFullYear();
	    today += "/"+eval(date.getMonth()+1);
	    today += "/"+date.getDate();
	    today += " "+date.getHours();
	    today += ":"+date.getMinutes();
	    $scope.entry = today;

	};

	$scope.init();

	$scope.searchJobTimeControl = function(q) {
		if(q.length > 1) {

            var url = "/schedule/job-time-control/search/?q="+q;

            $http({method: 'GET', url: url}).
                success(function(data, status, headers, config){

                if(data.length > 0) {
                	console.log(data);	
                	$scope.job_time_controls = data;	
                	$scope.show_job_time_control_list = true;

                } else {

                	$scope.show_job_time_control_list = false;

                }
            });
            
        } else {

            $scope.show_job_time_control_list = false;

        }
	
	}

	$scope.selectJobTimeControl = function(job) {
		console.log(job);
		$scope.show_job_time_control_list = false;
		$scope.new_job_time_control = false;

		$scope.serial = job.serial;
		$scope.search_serial = job.serial;

		$scope.job_number = job.job_number;
		$("#id_job_number").val(job.job_number);

		$scope.show_job_details = true;
		$scope.job_sold_to = job.job_control.sold_to;
		$scope.job_name = job.job_control.job_name;

		$scope.total_hours_worked = parseFloat(job.total_hours_worked);

		$scope.entry = job.entry;
		$scope.eng_comment = job.eng_comment;

		$("#id_department_worked").val(job.department_worked_id);
		// $scope.serial = job.serial;
	
	}

	$scope.selectJob = function(job) {
		console.log(job);
		
		$scope.show_job_list = false;
		$scope.show_job_details = true;

		$scope.job_number = job.job_number;
		$scope.job_sold_to = job.sold_to;
		$scope.job_name = job.job_name;
	}

}]);



(function(){
	
	$(".datetimepicker").datetimepicker({});


})(jQuery)

</script>
{% endblock content %}