{% extends "base.html" %}

{% block content %}

<style>
#feedback { font-size: 1.4em; }

#supplier_contact_list {
	position: absolute;
	z-index: 1000;
}
#producer_contact_list {
	position: absolute;
	right: 0px;
	z-index: 1000;
}
#container .ui-widget-content-custom, #container-producer .ui-widget-content-custom {
	background-color: #333 !important;
	color: #FFF;
}
.contact_info {
	margin-top: 10px;
}
.contact_info p.bg-info {
	background-color: #d9edf7;
	padding: 5px;
	margin: 0 0 2px;
}

a.close {
	color: red !important;
	opacity: 1 !important;
}

.bg-info {
	padding: 5px 10px;
	margin-top: 10px;
}
input.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid {
	border: 1px solid red;
}
</style>

<div class="container-fluid shadow4 main-body" ng-app="inventoryApp">
<section class="row">
	<div class='col-md-12'>
		{% for message in messages %}
	      <p {% if message.tags %} class="col-md-6 col-md-offset-3 bg-warning login-{{ message.tags }}"{% endif %}>{{ message }}</p>
	    {% endfor %}
		
	</div>
</section>

<section class="row"  id="add-inventory-item" ng-controller="AddItemController">
	

	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4>Add / Update Inventory Item</h4>
		  	</div>
		  	<div class="panel-body">

			  	<form action="/inventory/item/add/" enctype="multipart/form-data" name="inventory_item_form" method="POST" novalidate>{% csrf_token %}
			  		
			  		{% include "inventory/item/add-new-item-form.html" %}
	    		  	
			  	</form>
			</div>
		</div>
	</div>


</section>
</div>
{% include "modals/add-modal.html" %}
<script type="text/javascript">
(function(){

	$(document).on("change", "input.decimal", function(e){
		var myval = parseFloat($(this).val())
		$(this).val(myval.toFixed(2));
	})

	$("select#id_primary_supplier").hide();

	$("a#add_id_primary_supplier").on("click", function(e){
		e.preventDefault();
		url = "/contacts/add/rel/",
		mdal = $('#addModal');
		mdal.on("shown.bs.modal", function(){
			$("#addModal .modal-content").load(url);
			// console.log(url);
		}).modal();
		return false;
	});
	$("a.close").on("click", function(){
		$(".selectable").hide();
	});

	$(document).on("click", "#selectable a.edit-contact", function(e){
		e.preventDefault();
		var cid = $(this).data("id");

		e.preventDefault();
		url = "/contacts/edit/basic/" + cid + "/",
		mdal = $('#addModal');
		mdal.on("shown.bs.modal", function(){
			$("#addModal .modal-content").load(url);
			console.log(url);
		}).modal();
		return false;
	
	})


})(jQuery)

</script>

<script type="text/javascript">
(function(){
$("select#id_producer_of_item").hide();


$("#producer > .selectable > a.close").on("click", function(){
	$("#producer .selectable").hide();
});

})(jQuery)
</script>

<script type="text/javascript">
var inventoryApp = angular.module("inventoryApp", ['components',], function ($interpolateProvider) {
        $interpolateProvider.startSymbol("{[{");
        $interpolateProvider.endSymbol("}]}");
});

inventoryApp.controller('AddItemController',['$scope', '$http', function ($scope, $http) {
	
	$scope.init = function() {

        $scope.submit_add = false;
        $scope.show_producer = false;
        $scope.add_new_item = true;

        $("#id_hst_taxable").bootstrapToggle('on');

	};

	$scope.init();


	$scope.searchProducer = function(q) {

		if(q != undefined){
			if(q.length > 1 ) {
	    		var url = "/contacts/search/?q=" + q
	    		
	    		$http({method: 'GET', url: url}).
		            success(function(data, status, headers, config) {
		            	if(data.length > 0) {
		            		$scope.producers = data;
		            		$scope.show_producer_list = true;	
		            	} else {
		            		$scope.show_producer_list = false;
		            	}
		            });					        
	    		
	    	} else {
	    		$scope.show_producer_list = false;
	    	}
		} else {
			$scope.show_producer_list = false;
		}
	}

	$scope.setProducer = function(con) {
		$scope.show_producer_list = false;
    	$("#id_producer_of_item").val(con.id);
    	$scope.producer = con;
    	$scope.show_producer_details = true;
    	$scope.search_producer = con.contact_name;
	}

	$scope.searchContact = function (q) {
		// console.log(q);
    	if(q != undefined){
			if(q.length > 1 ) {
	    		var url = "/contacts/search/?q=" + q
	    		
	    		$http({method: 'GET', url: url}).
		            success(function(data, status, headers, config) {
		            	if(data.length > 0) {
		            		$scope.contacts = data;
		            		$scope.show_contact_list = true;	
		            	} else {
		            		$scope.show_contact_list = false;
		            	}
		            });					        
	    		
	    	} else {
	    		$scope.show_contact_list = false;
	    	}
		} else {
			$scope.show_contact_list = false;
		}

    }

    $scope.setSupplier = function(con){
    	$scope.show_contact_list = false;
    	$("#id_primary_supplier").val(con.id);
    	$scope.supplier_contact = con;
    	$scope.show_supplier_details = true;
    	$scope.search_contact = con.contact_name;

    }
	
	$scope.closeMe = function() {
		$scope.show_item_list = false;
	}

	$scope.selectItem = function(item) {
		console.log(item);

		$scope.add_new_item = false;
		$scope.show_item_list = false;

		$("#id_item_number_search").val(item.item_number);
		$("#id_item_number").val(item.item_number);
		$("#id_description").val(item.description);
		$("#id_quantity_on_hand").val(parseFloat(item.quantity_on_hand).toFixed(2));
		$("#id_minimum_qty_on_hand").val(parseFloat(item.minimum_qty_on_hand).toFixed(2));
		$("#id_max_order_qty").val(parseFloat(item.max_order_qty).toFixed(2));

		if(item.supplier){
    		$scope.supplier_contact = item.supplier;
    		$scope.search_contact = item.supplier.contact_name;
    		$scope.show_supplier_details = true;
    		$("#id_primary_supplier").val(item.supplier.id);
    	}

    	if(item.producer_of_item){
    		$("#id_producer_of_item").val(item.producer_of_item.id);
    		$scope.search_producer = item.producer_of_item.contact_name;
    		$scope.producer = item.producer_of_item;
    		$scope.show_producer_details = true;
    	}

		$("#id_max_single_order_qty").val(parseFloat(item.max_single_order_qty).toFixed(2));
		$("#id_wholesale_cost").val(parseFloat(item.wholesale_cost).toFixed(2));
		
		if(item.currency){
			$("#id_currency").val(item.currency.id);	
		}

		if(item.unit){
			$("#id_item_unit_measure").val(item.unit.id);	
		}
		
		if(item.terms){
			$("#id_terms").val(item.terms.id);	
		}

		if(item.hst_taxable){
			$("#id_hst_taxable").bootstrapToggle('on');	
		} else {
			$("#id_hst_taxable").bootstrapToggle('off');
		}

		if(item.pst_taxable){
			$("#id_pst_taxable").bootstrapToggle('on');	
		} else {
			$("#id_pst_taxable").bootstrapToggle('off');
		}

		$("#id_lead_time").val(item.lead_time);

		if(item.department){
			$("#id_department").val(item.department.id);	
		}

		if(item.deliver_internal){
			$("#id_deliver_internal").val(item.deliver_internal.id);
		}

		$("#id_warehouse_location").val(item.warehouse_location);

		if(item.production_type){
			$("#id_production_type").val(item.production_type.id);	
		}
		
		$("#id_retail_price").val(parseFloat(item.retail_price).toFixed(2));
		$("#id_estimated_wholesale_cost").val(parseFloat(item.estimated_wholesale_cost).toFixed(2));
		
		if(item.stock_status_type) {
			$("#id_stock_status_type").val(item.stock_status_type.id);
		}

		$("#id_catalog_number").val(item.catalog_number);
		$("#id_country_of_origin").val(item.country_of_origin);

		if(item.customs_designation) {
			$("#id_customs_designation").val(item.customs_designation.id);	
		}

		$("#id_customer_tariff_number").val(item.customer_tariff_number);
		$("#id_preference_criteria").val(item.preference_criteria);
		$("#id_shipping_unit").val(item.shipping_unit);
		$("#id_shipping_weight").val(item.shipping_weight);
		$("#id_duty_percentage").val(item.duty_percentage);
		$("#id_website").val(item.website);
		
	}

	$scope.deleteItem = function () {
		
		var status = confirm("Do you want to delete this Item?");
		if(status == true) {
			var url = "/inventory/item/delete/";
	    	var item_number = $("#id_item_number").val();

	    	$http({
			    method: 'POST',
			    url: url,
			    data: JSON.stringify({item_number:item_number}),
			    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
			}).success(function (data, status, headers, config) {
				window.location.reload(true);
			});	
		}
    	

    }


}]);
</script>
{% endblock content %}
