<table class='table'>
<tr>
	<th colspan="2">
		<label for="id_item_number">Item number:</label>
	</th>
	<td colspan="12">
		<search-item item="item" select-item="selectItem"></search-item>
	</td>
</tr>
<tr >
	<th colspan="2">
		<label for="id_description">Description:</label>
	</th>
	<td colspan="12">
		<textarea class="form-control" ng-model="description" cols="40" id="id_description" name="description" placeholder="Item Description" rows="2"></textarea>
	</td>
</tr>
<tr>
	<th colspan="2">
		<label for="id_quantity_on_hand">Qty on hand:</label>
	</th>
	<td colspan="2">
		<input class="form-control decimal" id="id_quantity_on_hand" name="quantity_on_hand"  placeholder="0.00" type="number" step="0.0001" ng-model="quantity_on_hand">	
		
	</td>

	<th>
		<label for="id_minimum_qty_on_hand">Minimum qty on hand:</label>
	</th>
	<td colspan="2">
		<input class="form-control decimal" id="id_minimum_qty_on_hand" name="minimum_qty_on_hand"  placeholder="0.00" type="number" step="0.0001" ng-model="minimum_qty_on_hand"  autocomplete="off">		
		
	</td>

	<th>
		<label for="id_max_order_qty">Max order qty:</label>
	</th>
	<td colspan="2">
		<input class="form-control decimal" id="id_max_order_qty" name="max_order_qty" placeholder="Maximum Order Quenty" type="number" step="0.0001" ng-model="max_order_qty"  placeholder="0.00">		
	</td>
	<th colspan="2">
		<label for="id_max_single_order_qty">Max single order qty:</label>
	</th>
	<td colspan="2">
		<input class="form-control decimal" id="id_max_single_order_qty" name="max_single_order_qty" placeholder="Maximum Single Order Quenty" type="number" step="0.0001" ng-model="max_single_order_qty"  placeholder="0.00">		
	</td>
</tr>

<tr>
	<th colspan="2" ng-class="{'ng-pristine': inventory_item_form.primary_supplier_demo.$pristine || inventory_item_form.primary_supplier_demo.$invalid}">
		<label for="id_primary_supplier">Primary supplier:</label>
	</th>
	<td colspan="5">
		<div class="search_contact">
			<input type="text" ng-model="search_contact" placeholder="start typing to search contact" class="form-control" name="search_contact" ng-change="searchContact(search_contact)" style="width: 95%; display: inline;" >
			
			<div class="contact_list" id="supplier_contact_list" ng-show="show_contact_list">
				<table class="table selectable" class="ui-autocomplete ui-widget-content-custom ui-corner-all" >
					<thead>
						<tr>
							<th>Rec No.</th>
							<th>Contact Name</th>
							<th>Attention To</th>
							<th>Address</th>
							<th>Primary Contacts</th>
							<th>Terms</th>
							<th>Shipping Method</th>
							<th><a class="btn">X</a></th>
						</tr>
					</thead>
					<tbody>
						<tr class="ui-menu-item" ng-repeat="contact in contacts" ng-click="setSupplier(contact)">
							
							<td width="80">{[{contact.id}]}</td>
							<td width="180">{[{contact.contact_name}]}</td>
							<td width="180">{[{contact.attention_to}]}</td>
							<td width="200">
								<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
								<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
								<p>
								<span ng-if="contact.country != ''">{[{ contact.country }]}</span>
								</p>
								<p ng-if="contact.postal_code != ''">{[{ contact.postal_code }]}</p>
								
								
							</td>
							
							<td width="200">
								<div class='phone' ng-repeat="phon in contact.phones">
									{[{phon.number}]} <span ng-if="phon.ext"> (ext: {[{phon.ext}]})</span>
								</div>
								<p class='email' ng-repeat="email in contact.emails">
									{[{email.email_address}]} <span ng-if="email.email_type">({[{email.email_type}]})</span>
								</p>
							</td>
							<td>
								{[{contact.terms.term}]}
							</td>
							<td width="120">
								{[{contact.shipping_method.delivery_choice}]}
							</td>
							<td></td>
						</tr>
					</tbody>
				</table>

				<input type="hidden" name="supplier" id="id_supplier">
			</div>
		</div>	
	</td>
	<th colspan="1">
		<label for="id_producer_of_item">Producer of item:</label>
	</th>
	<td colspan="6">
		<div class="search_contact">
			<input type="text" ng-model="search_producer" placeholder="start typing to search contact" class="form-control" name="search_producer" ng-change="searchProducer(search_producer)" style="width: 95%; display: inline;" >
			
			<div class="contact_list" id="producer_contact_list" ng-show="show_producer_list">
				<table class="table selectable" class="ui-autocomplete ui-widget-content-custom ui-corner-all" >
					<thead>
						<tr>
							<th>Rec No.</th>
							<th>Contact Name</th>
							<th>Attention To</th>
							<th>Address</th>
							<th>Primary Contacts</th>
							<th>Terms</th>
							<th>Shipping Method</th>
						</tr>
					</thead>
					<tbody>
						<tr class="ui-menu-item" ng-repeat="contact in producers" ng-click="setProducer(contact)">
							
							<td width="80">{[{contact.id}]}</td>
							<td width="180">{[{contact.contact_name}]}</td>
							<td width="180">{[{contact.attention_to}]}</td>
							<td width="200">
								<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
								<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
								<p>
								<span ng-if="contact.country != ''">{[{ contact.country }]}</span>
								</p>
								<p ng-if="contact.postal_code != ''">{[{ contact.postal_code }]}</p>
								
								
							</td>
							
							<td width="200">
								<div class='phone' ng-repeat="phon in contact.phones">
									{[{phon.number}]} <span ng-if="phon.ext"> (ext: {[{phon.ext}]})</span>
								</div>
								<p class='email' ng-repeat="email in contact.emails">
									{[{email.email_address}]} <span ng-if="email.email_type">({[{email.email_type}]})</span>
								</p>
							</td>
							<td>
								{[{contact.terms.term}]}
							</td>
							<td width="120">
								{[{contact.shipping_method.delivery_choice}]}
							</td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</td>
</tr>

<tr>
	<td colspan="7">
		<div class="contact_box" id="supplier_contact_details" ng-show="show_supplier_details">
			<table class="table table-bordered">
				<tr>
					<th width="150">Contact Name</th>
					<td colspan="2">{[{ supplier_contact.attention_to }]}</td>
				</tr>
				<tr>
					<th>Address</th>
					<td colspan="2">
						<p ng-if="supplier_contact.address_1 != ''">
							{[{supplier_contact.address_1}]}
						</p>
						<p ng-if="supplier_contact.address_2 != ''">
							{[{supplier_contact.address_2}]}
						</p>
						<p>{[{supplier_contact.city}]}<span ng-if="supplier_contact.province != ''">, {[{supplier_contact.province}]}</span></p>
						
						<p>{[{supplier_contact.country}]}</p>
						<p><span ng-if="supplier_contact.postal_code != ''">{[{ supplier_contact.postal_code }]}
						</span></p>
					</td>
				</tr>
			</table>
			<table class="table table-bordered" id="extra_contact_list" ng-show="supplier_contact">
				<thead>
					<tr class='bg-primary'><td>Contact Type</td><td>Contact Details</td><td>Contact Name</td><td>Action</td></tr>
				</thead>
				<tbody>
					<tr ng-repeat="ph in supplier_contact.phones">
						<td>{[{ ph.type}]}</td>
						<td>{[{ ph.number}]}<span ng-if="ph.ext != ''"> Ext: ({[{ph.ext}]})</span></td>
						<td>{[{ supplier_contact.attention_to }]}</td>
						<td>
							<a href="" class='delete-contact'>Delete</a>
							<input type="hidden" name='po_contact_phone_type'  value="{[{ ph.type }]}">
							<input type="hidden" name='po_contact_phone_number'  value="{[{ ph.number }]}">
							<input type="hidden" name='po_contact_phone_ext'  value="{[{ ph.ext }]}">
							<input type="hidden" name='po_contact_phone_attention'  value="{[{ supplier_contact.attention_to }]}">
						</td>
					</tr>
					<tr ng-repeat="em in supplier_contact.emails">
						<td>{[{ em.email_type}]}</td>
						<td>{[{ em.email_address }]} </td>
						<td>{[{ supplier_contact.attention_to }]}</td>
						<td>
							<a href="" class='delete-contact'>Delete</a>
							<input type="hidden" name='po_contact_email_type' value
							="{[{ em.email_type}]}" >
							<input type="hidden" name='po_contact_email' value="{[{ em.email_address}]}" >
							<input type="hidden" name='po_contact_email_attention' value="{[{ supplier_contact.attention_to}]}" >
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<input type="hidden" name="primary_supplier" id="id_primary_supplier" value="" >
	</td>
	<td colspan="7">
		<div class="contact_box" id="ship_to_contact_details"  ng-show="show_producer_details">
			<table class="table table-bordered">
				<tr>
					<th width="150">Contact Name</th>
					<td colspan="2">{[{ producer.attention_to }]}</td>
				</tr>
				<tr>
					<th>Address</th>
					<td colspan="2">
						<p ng-if="producer.address_1 != ''">
							{[{producer.address_1}]}
						</p>
						<p ng-if="producer.address_2 != ''">
							{[{producer.address_2}]}
						</p>
						<p>{[{producer.city}]}<span ng-if="producer.province != ''">, {[{producer.province}]}</span></p>
						
						<p>{[{producer.country}]}</p>
						<p><span ng-if="producer.postal_code != ''">{[{ producer.postal_code }]}
						</span></p>
					</td>
				</tr>
			</table>
			<table class="table table-bordered" ng-show="show_producer_details">
				<thead>
					<tr class='bg-primary'><td>Contact Type</td><td>Contact Details</td><td>Contact Name</td><td>Action</td></tr>
				</thead>
				<tbody>
					<tr ng-repeat="ph in producer.phones">
						<td>{[{ ph.type}]}</td>
						<td>{[{ ph.number}]}<span ng-if="ph.ext != ''"> Ext: ({[{ph.ext}]})</span></td>
						<td>{[{ producer.attention_to }]}</td>
						<td>
							<a href="" class='delete-contact'>Delete</a>
							<input type="hidden" name='po_contact_phone_type'  value="{[{ ph.type }]}">
							<input type="hidden" name='po_contact_phone_number'  value="{[{ ph.number }]}">
							<input type="hidden" name='po_contact_phone_ext'  value="{[{ ph.ext }]}">
							<input type="hidden" name='po_contact_phone_attention'  value="{[{ producer.attention_to }]}">
						</td>
					</tr>
					<tr ng-repeat="em in producer.emails">
						<td>{[{ em.email_type}]}</td>
						<td>{[{ em.email_address }]} </td>
						<td>{[{ producer.attention_to }]}</td>
						<td>
							<a href="" class='delete-contact'>Delete</a>
							<input type="hidden" name='po_contact_email_type' value="{[{ em.email_type}]}" >
							<input type="hidden" name='po_contact_email' value="{[{ em.email_address}]}" >
							<input type="hidden" name='po_contact_email_attention' value="{[{ producer.attention_to}]}" >
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<input type="hidden" name="producer_of_item" id="id_producer_of_item">
	</td>
</tr>
<tr>
	
	<th>
		<label for="id_wholesale_cost">Supplier cost:</label>
	</th>
	<td colspan="" width="210">
		
		<input class="form-control decimal" id="id_wholesale_cost" ng-model="wholesale_cost" name="wholesale_cost" placeholder="Wholesale cost" type="number" step="0.0001"  placeholder="0.00">
		
		
	</td>

	<th >
		<label for="id_currency">Currency:</label>
	</th>
	<td width="210">
		{{ item_form.currency.errors }}
		<select class="form-control" id="id_currency" name="currency">
		{% for currency in currencies %}
			<option value="{{currency.id}}" {% if currency.id == 1 %} selected="selected" {% endif %}>
				{{currency.get_currency_icon}} {{currency.currency}}
			</option>
		{% endfor %}
		
		</select>
	</td>
	<th>
		<label for="id_item_unit_measure">Item Unit Measure:</label>
	</th>
	<td width="210">
		{{ item_form.item_unit_measure.errors }}
		<select class="form-control" id="id_item_unit_measure" name="item_unit_measure">
		{% for unitmeasure in unit_measures %}
			<option value="{{unitmeasure.id}}">{{unitmeasure.unit_name}}</option>
		{% endfor %}
		</select>
		
	</td>
	<th>
		<label for="id_terms">Terms:</label>
	</th>
	<td width="210">
		
		<select class="form-control" id="id_terms" name="terms">
		{% for term in terms %}
			<option value="{{term.id}}" {% if term.id == 2 %} selected="selected" {% endif %}>{{term.term}}</option>
		{% endfor %}
		</select>
	</td>
	<th colspan="1">
		<label for="id_hst_taxable">HST Taxable:</label>
	</th>
	<td>
		{{ item_form.hst_taxable.errors }}
		<input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" id="id_hst_taxable" name="hst_taxable" style="margin-left: 10px; margin-right: 20px;">
	</td>

	<th>
		<label for="id_pst_taxable">PST Taxable:</label>
	</th>
	<td >
		{{ item_form.pst_taxable.errors }}
		<input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" id="id_pst_taxable" name="pst_taxable" style="margin-left: 10px; margin-right: 20px;" value="No">
	</td>

	<th colspan="1">
		<label for="id_lead_time">Lead time:</label>
	</th>
	<td colspan="1" width="210">
		{{ item_form.lead_time.errors }}
		<input class="form-control" id="id_lead_time" maxlength="25" name="lead_time" placeholder="Lead Time" type="text">
	</td>
</tr>
<tr>
	
	<th colspan="2">
		<label for="id_department">
		Department that is Responsible <br> for Making this Item:</label>
	</th>
	<td colspan="2">
		{{ item_form.department.errors }}
		<select class="form-control" id="id_department" name="department">
		{% for department in departments %}
			<option value="{{department.id}}">{{department.name}}</option>
		{% endfor %}
		</select>
	</td>
	<th colspan="1">
		<label for="id_deliver_internal">Deliver <br> Internal:</label>
	</th>
	<td colspan="2">
		{{ item_form.deliver_internal.errors }}
		<select name="deliver_internal" id="id_deliver_internal" class="form-control">
		{% for di in deliver_internals %}
			<option value="{{di.id}}">{{di.department}}</option>
		{% endfor %}
		</select>
	</td>
	<th colspan="1" >
		<label for="id_warehouse_location">Warehouse <br>location:</label>
	</th>
	<td colspan="3">
		{{ item_form.warehouse_location.errors }}
		<input type="text" class="form-control" id="id_warehouse_location" name="warehouse_location">
		
	</td>
	<th colspan="1">
		<label for="id_production_type">Production <br>type:</label>
	</th>
	<td colspan="2">
		{{ item_form.production_type.errors }}
		<select class="form-control" id="id_production_type" name="production_type">
		{% for production_type in production_types %}
			<option value="{{production_type.id}}">{{production_type.production_type_name}}</option>
		{% endfor %}
		</select>
	</td>
</tr>
<tr>
	
	<th colspan="2">
		<label for="id_retail_price">Retail price:</label>
	</th>
	<td colspan="3">
		
		<input class="form-control decimal" id="id_retail_price" name="retail_price" type="number" step="0.0001" placeholder="0.00">
		
	</td>
	<th colspan="2">
		<label for="id_estimated_wholesale_cost">Estimated wholesale cost:</label>
	</th>
	<td colspan="3">
		<input class="form-control decimal" id="id_estimated_wholesale_cost" name="estimated_wholesale_cost" type="number" step="0.0001" placeholder="0.00">
	</td>
	<th colspan="2">
		<label for="id_stock_status_type">Stock Status Type:</label>
	</th>
	<td colspan="2">

		<select class="form-control" name="stock_status_type">
			<option value="0">Normal tracking item</option>
			<option value="1">Non-stock item</option>
			<option value="2">Labour for shop specified</option>
			<option value="3">NC labour</option>
			<option value="4">Obsolete</option>
			<option value="5">Production Hold</option>			
		</select>
		
	</td>
</tr>
<tr>
	
	<th colspan="2">
		<label for="id_catalog_number">Supplier Catalouge Number:</label>
	</th>
	<td colspan="5">
		{{ item_form.catalog_number.errors }}
		<input class="form-control" id="id_catalog_number" maxlength="25" name="catalog_number" placeholder="Catalog Number" type="text">
	</td>
	<th colspan="2">
		<label for="id_country_of_origin">Country of origin:</label>
	</th>
	<td colspan="5">
		{{ item_form.country_of_origin.errors }}
		<input class="form-control" id="id_country_of_origin" maxlength="25" name="country_of_origin" placeholder="Country of Origin" type="text" value="Canada">
	</td>
	
</tr>
<tr>
	<th colspan="2">
		<label for="id_customs_designation">Customs designation:</label>
	</th>
	<td colspan="5">
		{{ item_form.customs_designation.errors }}
		<select class="form-control" id="id_customs_designation" name="customs_designation">
		{% for customdesignation in designations %}
			<option value="{{customdesignation.id}}">{{customdesignation.designation}}</option>
		{% endfor %}
		</select>
	</td>
	<th colspan="2">
		<label for="id_customer_tariff_number">Customer tariff number:</label>
	</th>
	<td colspan="5">
		{{ item_form.customer_tariff_number.errors }}
		<input class="form-control" id="id_customer_tariff_number" maxlength="25" name="customer_tariff_number" placeholder="Customer tariff number" type="text">
	</td>
</tr>

<tr>
	<th colspan="2">
		<label for="id_preference_criteria">Preference criteria:</label>
	</th>
	<td colspan="12">
		
		<input class="form-control" id="id_preference_criteria" maxlength="25" name="preference_criteria" placeholder="Preference Criteria" type="text">
	</td>
</tr>

<tr>
	<th colspan="2">
		<label for="id_shipping_weight">Shipping weight:</label>
	</th>
	<td colspan="3">
		{{ item_form.shipping_weight.errors }}
		
		<input class="form-control decimal" id="id_shipping_weight" name="shipping_weight" placeholder="Shipping Weight" type="number" step="0.0001">
	</td>

	<th colspan="2">
		<label for="id_shipping_unit">Shipping unit:</label>
	</th>
	<td colspan="2">
		{{ item_form.shipping_unit.errors }}
		
		<select class="form-control" id="id_shipping_unit" name="shipping_unit">
			<option value="kilogram">Kilograms</option>
			<option value="pound">Pounds</option>
		</select>
	</td>
	

	<th colspan="2">
		<label for="id_duty_percentage">Duty percentage:</label>
	</th>
	<td colspan="3">
		{{ item_form.number.errors }}
		<input class="form-control decimal" id="id_duty_percentage" name="duty_percentage" placeholder="Duty percentage" type="number" step="0.0001">
	</td>
</tr>
<tr>
	<th colspan="2">
		<label for="id_website">Website:</label>
	</th>
	<td colspan="12">
		{{ item_form.website.errors }}
		<input class="form-control" id="id_website" maxlength="250" name="website" placeholder="product page url" type="url">
	</td>
</tr>

<tr>
	<td colspan="6">
		
	</td>
	<td colspan="8">
		<button class="btn btn-primary btn-lg" type="submit" ng-hide="add_new_item">Update Inventory Item</button>
		{% if user.is_superuser %}
			<a ng-hide="add_new_item" id="delete-item" class="btn btn-danger btn-lg pull-right" ng-click="deleteItem()">Delete Item</a>
		{% endif %}
		<button class="btn btn-primary btn-lg pull-right" type="submit" ng-show="add_new_item" ng-disabled="!(inventory_item_form.$valid && inventory_item_form.$dirty)">Add Inventory Item</button>
	</td>
</tr>
</table>