{% extends "base.html" %}

{% block content %}

<div class="container-fluid shadow4 main-body" ng-app="premierApp" ng-controller="InventoryController">
<section class="row">
	<div class="col-md-6">
		<input type='text' class="form-control" ng-model="search" ng-change="searchItem(search)" autocomplete="off" placeholder="Filter By Item Number">
	</div>
</section>

<section class="row"  id="inventory-list">
	

	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4>Inventory Item List</h4>
		  	</div>
		  	<div class="panel-body">
		  		<table class="table" ng-show="items">
					<thead>
					<tr class="bg-default">
						<th>Item Number</th>
						<th>Description</th>
						<th>Quantity On Hand</th>
						<th>Department</th>
						<th>Item Unit Measure</th>
						<th>Currency</th>
						<th>Warehouse Location</th>
						<th>Production Type</th>

						<th>Action</th>
					</tr>
					</thead>
					
					<tr ng-repeat="item in items">
						<td>{[{ item.item_number }]}</td>
						<td>{[{ item.description }]}</td>
						<td>{[{ item.quantity_on_hand }]}</td>
						<td>{[{ item.department.name }]}</td>
						<td>{[{ item.unit.unit_name }]}</td>
						<td>{[{ item.currency.currency }]}</td>
						<td>{[{ item.warehouse_location }]}</td>
						<td>{[{ item.production_type.production_type_name }]}</td>
						
						<td width="80">
						
							<a class="btn btn-danger delete-item" data-item-number="{[{ item.item_number }]}" href="#" ng-click="deleteItem(item.item_number)"> Delete </a>

						</td>

					</tr>
				</table>
			</div>
		</div>
	</div>

</section>
</div>

<script type="text/javascript">
premierApp.controller('InventoryController',['$scope', '$http', function ($scope, $http) {
	$scope.init = function(){
        $http.get("/inventory/search/").success(function(data){  
          	$scope.items = data;
          	console.log(data);
        })
    }
    $scope.init();

    $scope.searchItem = function(q) {
        if(q.length > 1) {
            var url = "/inventory/search/?q=" + q;
            $http({method: 'GET', url: url}).
	            success(function(data, status, headers, config){
	            	console.log(data);
	            $scope.items = data;
	        });
            
        }
    }
    $scope.deleteItem = function (item_number) {
    	var url = "/inventory/item/delete/";
    	console.log(url + ":"+ item_number);
    	$http({
		    method: 'POST',
		    url: url,
		    data: JSON.stringify({item_number:item_number}),
		    headers: {'Content-Type': 'application/x-www-form-urlencoded'}
		}).success(function (data, status, headers, config) {
			window.location.reload(true);
		});

    }

}]);

</script>

{% endblock content %}
	