<table class="table add-po-form">

	<tr class="bg-success">
		<th width="150">
			<label for="id_po_number">PO Number:</label>
		</th>
		<td colspan="11">
			<div style="position: relative;">
				<input class="form-control" ng-model='search_po' maxlength="25" id="id_po_number_search"  type="search" name="po_number_search" ng-change="searchPo(search_po)" placeholder="Search for PO by Customer Name, Address, Phone Number, Item Description, PO Number or leave Blank for New PO" autocomplete="off" ng-disabled='!show_add_button'>
				<input type="hidden" name="po_form_state" id="po_form_state" value="new">

				<div id="po_list" ng-show="show_po_list">
					<table class="table">
						<thead class="bg-primary">
							<tr>
								<th>PO Number</th>
								<th>PO Date</th>
								<th>Expected Date</th>
								<th>Supplier</th>
								<th>PO Status</th>
								<th width="50%" align="center">PO Items</th>	
								<th>
									<a class="close" ng-click="closeMe()">X</a>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="po in pos" ng-class-odd="'bg-success'" ng-click="selectPo(po)">
								<td width="100">
									<h2 class="label label-warning">
										{[{po.po_number}]}
									</h2>
								</td>
								<td width="80">
									<h2 ng-if="po.date_issued" class="label label-warning">
										{[{po.date_issued}]}
									</h2>
								</td>
								<td width="80">
									<h2 ng-if="po.date_expected" class="label label-warning">
										{[{po.date_expected}]}
									</h2>
								</td>
								
								<td width="150">
									<div class="contact">
										<h3 ng-if="po.supplier.contact_name" class="label label-primary">{[{po.supplier.contact_name}]}</h3>
										<h2 ng-if="po.supplier.attention_to" class="label label-primary">{[{po.supplier.attention_to}]}</h2>
										<b ng-repeat="ph in po.supplier.phones" class="label label-info">Phone: {[{ph.number}]} <span ng-if="ph.ext" class="text-danger">Ext:{[{ph.ext}]}</span></b>
										<b ng-repeat="em in po.supplier.emails" class="label label-info">{[{em.email}]}</b>
									</div>
								</td>
								<td>
									<h2 ng-if="po.po_status.status" class="label label-warning">
									{[{po.po_status.status}]}
									</h2>
									
								</td>
								<td width="400" colspan="2">
									<table class="table">
										<thead>
											<tr>
												<th>Item Number</th>
												<th>Description</th>
												<th>Qty Ordered</th>
												<th>Qty Received</th>
												<th>Item Cost</th>
											</tr>
										</thead>
										<tbody>
											<tr ng-repeat="item in po.items" >
												<td>{[{ item.item_number }]}</td>
												<td>{[{ item.item_description }]}</td>
												<td>{[{ item.qty_ordered }]}</td>
												<td>{[{ item.item_recv }]}</td>
												<td>{[{ item.sub_total }]}</td>
											</tr>
											<tr ng-show="!po.items.length">
												<td colspan="5">
													No Items
												</td>
											</tr>
										</tbody>
									</table>	
								</td>
							</tr>
							<tr ng-show="!pos.length">
								<td colspan="6">
									No PO found!
								</td>
							</tr>
							
						</tbody>
						
					</table>
					
				</div>
				<div ng-show="!pos.length && show_po_list">
					No Purchase Order Found!
				</div>
			</div>
			<input id="id_po_number" name="po_number" type="hidden">
			
		</td>
	</tr>
	<tr class="bg-info">
		<th width="150">
			<label for="id_date_issued">Date issued:</label>
		</th>
		<td colspan="4">
			<input ng-model="dateIssued" class="form-control datepicker" id="id_date_issued" name="date_issued" value="{[{dateIssued}]}" placeholder="date issued" type="text" >
		</td>
		<th width="150">
			<label for="id_date_expected">Date expected:</label>
		</th>
		<td colspan="4">


			<input class="form-control datepicker" id="id_date_expected" name="date_expected" placeholder="date expected" type="text">
		</td>	
	</tr>
	<tr class="bg-success">
		<th width="150" >
			<label for="id_supplier">Supplier:</label>
		</th>
		<td colspan="4">
			<div class="search_contact">
				<input type="text" ng-model="search_contact" placeholder="start typing to search contact" class="form-control" name="search_contact" ng-change="searchContact(search_contact)" style="width: 95%; display: inline;" >
				
				<div class="contact_list" id="supplier_contact_list" ng-show="show_contact_list">
					<table class="table selectable" class="ui-autocomplete ui-widget-content-custom ui-corner-all" >
						<thead>
							<tr>
								<th>Rec No.</th>
								<th>Contact Name</th>
								<th>Attention To</th>
								<th>Address</th>
								<th>Primary Contacts</th>
								<th>Terms</th>
								<th>Shipping Method</th>
								<th><a href="" class="close" ng-click="hideContactList()">x</a></th>
								
							</tr>
						</thead>
						<tbody>
							<tr class="ui-menu-item" ng-repeat="contact in contacts" ng-click="setSupplier(contact)">
								
								<td width="80">{[{contact.id}]}</td>
								<td width="180">{[{contact.contact_name}]}</td>
								<td width="180">{[{contact.attention_to}]}</td>
								<td width="200">
									<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
									<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
									<p>
									<span ng-if="contact.country != ''">{[{ contact.country }]}</span>
									</p>
									<p ng-if="contact.postal_code != ''">{[{ contact.postal_code }]}</p>
									
									
								</td>
								
								<td width="200">
									<div class='phone' ng-repeat="phon in contact.phones">
										{[{phon.number}]} <span ng-if="phon.ext"> (ext: {[{phon.ext}]})</span>
									</div>
									<p class='email' ng-repeat="email in contact.emails">
										{[{email.email_address}]} <span ng-if="email.email_type">({[{email.email_type}]})</span>
									</p>
								</td>
								<td>
									{[{contact.terms.term}]}
								</td>
								<td width="120">
									{[{contact.shipping_method.delivery_choice}]}
								</td>
								<td></td>
								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<br />
			
		</td>
		<th width="150">
			<label for="id_ship_to">Ship to:</label>
		</th>
		<td colspan="4">
			<div class="search_contact">
				<input type="text" ng-model="search_shipto_contact" placeholder="start typing to search contact" class="form-control" name="search_shipto_contact" ng-change="searchShipToContact(search_shipto_contact)" style="width: 95%; display: inline;" >
				
				<div class="shipto_contact_list" id="shipto_contact_list" ng-show="show_shipto_contact_list">
					<table class="table selectable" class="ui-autocomplete ui-widget-content-custom ui-corner-all" >
						<thead>
							<tr>
								<th>Rec No.</th>
								<th>Contact Name</th>
								<th>Attention To</th>
								<th>Address</th>
								<th>Primary Contacts</th>
								<th>Terms</th>
								<th>Shipping Method</th>
								<th><a href="" class="close" ng-click="hideContactList()">x</a></th>
							</tr>
						</thead>
						<tbody>
							<tr class="ui-menu-item" ng-repeat="contact in shipto_contacts" ng-click="setShipTo(contact)">
								
								<td width="80">{[{contact.id}]}</td>
								<td width="180">{[{contact.contact_name}]}</td>
								<td width="180">{[{contact.attention_to}]}</td>
								<td width="200">
									<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
									<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
									<p>
									<span ng-if="contact.country != ''">{[{ contact.country }]}</span>
									</p>
									<p ng-if="contact.postal_code != ''">{[{ contact.postal_code }]}</p>
									
									
								</td>
								
								<td width="200">
									<div class='phone' ng-repeat="phon in contact.phones">
										{[{phon.number}]} <span ng-if="phon.ext"> Ext: {[{phon.ext}]}</span>
									</div>
									<p class='email' ng-repeat="email in contact.emails">
										{[{email.email_address}]} <span ng-if="email.email_type">({[{email.email_type}]})</span>
									</p>
								</td>
								<td>
									{[{contact.terms.term}]}
								</td>
								<td width="120">
									{[{contact.shipping_method.delivery_choice}]}
								</td>
								<td></td>
								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<br />

		</td>
	</tr>
	<tr class="bg-success">
		<td colspan="5">
			<div class="contact_box" id="supplier_contact_details" ng-show="supplier_contact_details">
				<table class="table">
					<tr>
						<th width="150">Contact Name</th>
						<td colspan="2">{[{ supplier_contact.attention_to }]}</td>
					</tr>
					<tr>
						<th>Address</th>
						<td colspan="2">
							<p ng-if="supplier_contact.address_1 != ''">
								{[{supplier_contact.address_1}]}
							</p>
							<p ng-if="supplier_contact.address_2 != ''">
								{[{supplier_contact.address_2}]}
							</p>
							<p>{[{supplier_contact.city}]}<span ng-if="supplier_contact.province != ''">, {[{supplier_contact.province}]}</span></p>
							
							<p>{[{supplier_contact.country}]}</p>
							<p><span ng-if="supplier_contact.postal_code != ''">{[{ supplier_contact.postal_code }]}
							</span></p>
						</td>
					</tr>
					
					<tr>
						<th colspan="3">
							<a class="btn btn-info" ng-click="addSupplierExtraContact()">
								Add Extra Contact
							</a>
						</th>
					</tr>
				</table>
				<table class="table" id="supplier_extra_contact_list">
					<thead>
						<tr class='bg-primary'><td>Contact Type</td><td>Contact Details</td><td>Contact Name</td><td>Action</td></tr>
					</thead>
					<tbody>
						<tr ng-if="supplier_contact.phones.length == 0 && supplier_contact.faxes.length == 0 && supplier_contact.emails.length == 0">
							<td colspan="4">
								<p> No supplier contacts</p>
							</td>
						</tr>
						<tr class="bg-warning" ng-repeat="ph in supplier_contact.phones">
							<td>{[{ ph.department }]}</td>
							<td>{[{ ph.number}]}<span ng-if="ph.ext"> Ext: ({[{ph.ext}]})</span></td>
							<td>{[{ ph.contact_name }]}</td>
							<td>
								<a data-pocid="{[{ ph.id }]}" ng-click="removeContact($event)">Delete</a>
								<input type="hidden" name='supplier_contact_type'  value="phone">
								<input type="hidden" name='supplier_contact_department'  value="{[{ ph.department }]}">
								<input type="hidden" name='supplier_contact_contact'  value="{[{ ph.number }]}">
								<input type="hidden" name='supplier_contact_ext'  value="{[{ ph.ext }]}">
								<input type="hidden" name='supplier_contact_name'  value="{[{ ph.contact_name }]}">
							</td>
						</tr>
						<tr class="bg-warning" ng-repeat="fx in supplier_contact.faxes">
							<td>{[{ fx.department }]}</td>
							<td>{[{ fx.number}]}<span ng-if="fx.ext"> Ext: ({[{fx.ext}]})</span></td>
							<td>{[{ fx.contact_name }]}</td>
							<td>
								<a data-pocid="{[{ fx.id }]}" ng-click="removeContact($event)">Delete</a>
								<input type="hidden" name='supplier_contact_type'  value="fax">
								<input type="hidden" name='supplier_contact_department'  value="{[{ fx.department }]}">
								<input type="hidden" name='supplier_contact_contact'  value="{[{ fx.number }]}">
								<input type="hidden" name='supplier_contact_ext'  value="{[{ fx.ext }]}">
								<input type="hidden" name='supplier_contact_name'  value="{[{ fx.contact_name }]}">
							</td>
						</tr>
						<tr class="bg-warning" ng-repeat="em in supplier_contact.emails">
							<td>{[{ em.department}]}</td>
							<td>{[{ em.email }]} </td>
							<td>{[{ em.contact_name }]}</td>
							<td>
								<a data-pocid="{[{ em.id }]}" ng-click="removeContact($event)">Delete</a>
								<input type="hidden" name='supplier_contact_type'  value="email">
								<input type="hidden" name='supplier_contact_department'  value="{[{ em.department }]}">
								<input type="hidden" name='supplier_contact_contact'  value="{[{ em.email }]}">
								<input type="hidden" name='supplier_contact_ext'  value="email">
								<input type="hidden" name='supplier_contact_name'  value="{[{ em.contact_name }]}">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<input type="hidden" name="supplier" id="id_supplier">
		</td>
		<td colspan="5">
			<div class="contact_box" id="ship_to_contact_details" ng-show="shipto_contact_details">
				<table class="table" >
					<tr>
						<th width="150">Contact Name</th>
						<td>{[{ ship_to_contact.attention_to }]}</td>
					</tr>
					<tr>
						<th>Address</th>
						<td colspan="2">
							<p ng-if="ship_to_contact.address_1 != ''">
								{[{ship_to_contact.address_1}]}
							</p>
							<p ng-if="ship_to_contact.address_2 != ''">
								{[{ship_to_contact.address_2}]}
							</p>
							<p>{[{ship_to_contact.city}]}<span ng-if="ship_to_contact.province != ''">, {[{ship_to_contact.province}]}</span></p>
							
							<p>{[{ship_to_contact.country}]}</p>
							<p><span ng-if="ship_to_contact.postal_code != ''">{[{ ship_to_contact.postal_code }]}</span></p>
						</td>
					</tr>
					
					<tr>
						<th colspan="3">
							<a class="btn btn-info" ng-click="addShipToExtraContact()">
								Add Extra Contact
							</a>
						</th>
					</tr>
				</table>
				<table class="table" id="ship_to_extra_contact_list">
					<thead>
						<tr class='bg-primary'><td>Contact Type</td><td>Contact Details</td><td>Contact Name</td><td>Action</td></tr>
					</thead>
					<tbody>
						
						<tr ng-if="ship_to_contact.phones.length == 0 && ship_to_contact.faxes.length == 0 && ship_to_contact.emails.length == 0">
							<td colspan="4">
								<p> No ship to contacts</p>
							</td>
						</tr>

						<tr class="bg-warning" ng-repeat="ph in ship_to_contact.phones">
							<td>{[{ ph.department }]}</td>
							<td>{[{ ph.number}]}<span ng-if="ph.ext"> Ext: {[{ph.ext}]}</span></td>
							<td>{[{ ph.contact_name }]}</td>
							<td>
								<a data-pocid="{[{ ph.id }]}" ng-click="removeContact($event)">Delete</a>
								<input type="hidden" name='ship_to_contact_type'  value="phone">
								<input type="hidden" name='ship_to_contact_department'  value="{[{ ph.department }]}">
								<input type="hidden" name='ship_to_contact_contact'  value="{[{ ph.number }]}">
								<input type="hidden" name='ship_to_contact_ext'  value="{[{ ph.ext }]}">
								<input type="hidden" name='ship_to_contact_name'  value="{[{ ph.contact_name }]}">
							</td>
						</tr>
						<tr class="bg-warning" ng-repeat="fx in ship_to_contact.faxes">
							<td>{[{ fx.department }]}</td>
							<td>{[{ fx.number}]}<span ng-if="fx.ext"> Ext: {[{fx.ext}]}</span></td>
							<td>{[{ fx.contact_name }]}</td>
							<td>
								<a data-pocid="{[{ fx.id }]}" ng-click="removeContact($event)">Delete</a>
								<input type="hidden" name='ship_to_contact_type'  value="fax">
								<input type="hidden" name='ship_to_contact_department'  value="{[{ fx.department }]}">
								<input type="hidden" name='ship_to_contact_contact'  value="{[{ fx.number }]}">
								<input type="hidden" name='ship_to_contact_ext'  value="{[{ fx.ext }]}">
								<input type="hidden" name='ship_to_contact_name'  value="{[{ fx.contact_name }]}">
							</td>
						</tr>
						<tr class="bg-warning" ng-repeat="em in ship_to_contact.emails">
							<td>{[{ em.department}]}</td>
							<td>{[{ em.email }]} </td>
							<td>{[{ em.contact_name }]}</td>
							<td>
								<a data-pocid="{[{ em.id }]}" ng-click="removeContact($event)">Delete</a>
								<input type="hidden" name='ship_to_contact_type'  value="email">
								<input type="hidden" name='ship_to_contact_department'  value="{[{ em.department }]}">
								<input type="hidden" name='ship_to_contact_contact'  value="{[{ em.email }]}">
								<input type="hidden" name='ship_to_contact_ext'  value="email">
								<input type="hidden" name='ship_to_contact_name'  value="{[{ em.contact_name }]}">
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<input type="hidden" name="ship_to" id="id_ship_to">
		</td>
	</tr>
	<tr class="bg-info">	
		<th width="150">
			<label for="id_ship_via">Ship via:</label>
		</th>
		<td colspan="4">
			<select class="form-control" id="id_ship_via" name="ship_via">
			{% for dc in delivery_choices %}
				<option value="{{dc.id}}">{{dc.delivery_choice}}</option>
			{% endfor %}
			</select>
		</td>

		<th width="150">
			<label for="id_deliver_internal">Department deliver internal:</label>
		</th>
		<td colspan="4">
			<select class="form-control" id="id_deliver_internal" name="deliver_internal">
				{% for di in deliver_internals %}
				<option value="{{di.id}}">
					{{di.department}}
				</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr class="bg-success">
		<th width="150">
			<label for="id_shipping_inst">Shipping inst:</label>
		</th>
		<td colspan="4">
			<textarea class="form-control" cols="40" id="id_shipping_inst" name="shipping_inst" placeholder="Shipping Inst" rows="3"></textarea>
		</td>
		<th width="150">
			<label for="id_po_status">Status:</label>
		</th>
		<td colspan="4">
			<select class="form-control" id="id_po_status" name="po_status">
				<option value="0">New</option>
				<option value="1">Printed</option>
				<option value="2">Partial Received</option>
				<option value="3">Received / Completed</option>
				<option value="4">Closed</option>
				<option value="5">Canceled</option>
			</select>
		</td>
	</tr>
	<tr class="bg-info">
		<th width="150">
			<label for="id_blanket_po">Blanket po:</label>
		</th>
		<td colspan="4">
			<select class="form-control" id="id_blanket_po" name="blanket_po" placeholder="Blanket PO">
			<option value="0">NO</option>
			<option value="1">YES</option>
			</select>
		</td>

		<th>
			<label for="id_terms">Terms:</label>
		</th>
		<td colspan="4">
			<select class="form-control" id="id_terms" name="terms">
				{% for pt in terms %}
					<option value="{{pt.id}}" {% if pt.id = 2 %} selected="selected" {% endif %}>{{pt.term}}</option>
				{% endfor %}
			</select>
		</td>
	</tr>
	<tr class="bg-success">
		<th width="150">
			<label for="id_purchasing_agent">Purchasing agent:</label>
		</th>
		<td colspan="4">
			<select class="form-control" id="id_purchasing_agent" name="purchasing_agent">
			{% for user in users %}
				<option value="{{user.id}}" {% if user.id == request.user.id %}selected='selected' {% endif %}>
					{{ user.first_name }} {{ user.last_name }}
				</option>
			{% endfor %}
			</select>
		</td>

		<th width="150">
			<label for="id_returned_type">Type:</label>
		</th>
		<td colspan="4">
			<select class="form-control" id="id_returned_type" name="returned_type">
			<option value="0">Purchase Order</option>
			<option value="1">Return For Credit</option>
			<option value="2">Returned damaged Goods</option>
			<option value="3">Return For Repair</option>
			<option value="4">Return For Replacement</option>
			<option value="5">Return For RE-WORK</option>
			<option value="6">Returned Excessive Qty</option>
			<option value="7">Returned Wrong Material</option>
			</select>
		</td>
	</tr>
	<tr>
		<td colspan="10" align="center" ng-class="{'item_error ng-pristine': !item_added, 'bg-primary': item_added }">
			<span style="font-size: 14px; font-style: bold;">Add Items here for this purchase order</h4>
			<a href="/inventory/item/add/" class="btn btn-default" target="_blank">Add New Item To Inventory</a>
		</td>
	</tr>
	<tr>
		<td colspan="10" ng-class="{'item_error ng-pristine': !item_added, 'bg-info': item_added }">
			<div class="item_box">
							
				<table class="table item">
				<thead>
					<tr>
						<th width="120">Item Number</th>
						<th width="180">Description</th>
						<th width="120">Unit Measure</th>
						<th width="">Current Cost</th>
						<th width="100">Order Qty</th>
						<th width="150">Subtotal</th>
						<th width="">Job Number</th>
						<th width="100">Qty Recv To Date</th>
						<th width="100">Date Last Received</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="add_item_list">
					<tr style="border-top: 2px dotted red;">
					<td style="position: relative;">
						<search-item item="item" select-item="selectItem" add-service="addService"></search-item>
					</td>
					<td>
						<textarea rows="1" class="form-control demo_box" readonly=""></textarea>
					</td>
					<td>
						<select class="form-control" disabled="true">
						{% for unit_measue in item_unit_measures %}
							<option value="{{unit_measue.id}}">{{unit_measue.unit_name}}</option>
						{% endfor %}
						</select>
					</td>
					<td>
						<input type="currency" class="form-control demo_box" placeholder="Cost"readonly="readonly">
					</td>
					<td>
						<input type="number" class="form-control demo_box" placeholder="Qty" readonly="readonly">
					</td>
					<td>
						<input type="currency" step="0.0001" class="form-control demo_box" placeholder="Subtotal" readonly="readonly">
					</td>
					<td>
						
						<input type="text" class="form-control demo_box" placeholder="job number" autocomplete="off" readonly="readonly">
					</td>
					
					<td>
						<input type="number" step="0.01" class="form-control" placeholder="Qty Received" readonly="readonly">
					</td>
					<td>
						<input type="text" class="form-control" placeholder="Last Recv Date" readonly="readonly">
					</td>
					<td></td>
					</tr>
					<tr class="footer"></tr>			
				</tbody>

					<tfoot>
						<tr id='calculated_total_amount'>
							<td width="150" colspan="2">
								Items Total Qty:
							</td>
							<td colspan="1">
								<span id='items_total_qty'>0.0</span>
								<input class="form-control" id="id_items_total" name="items_total" type="hidden">
							</td>
							<td colspan="3">Total Amount Without Tax:</td>
							<td width="120" align="left">{{ currency.get_currency_icon }}<span class="amount">{[{ po_total_before_tax }]}</span></td>
							<td width="10" colspan="5">
								<input type="hidden" id="po_total_before_tax" name="po_total_before_tax" value="{[{ po_total_before_tax }]}">
							</td>
						</tr>
					</tfoot>
				</table>
					
			</div>
		</td>	
	</tr>
	<tr class="bg-info">
		<th width="150" colspan="1">
			<label for="id_hst_taxable">Hst taxable:</label>
		</th>
		<td colspan="4">
			<select class="form-control tax" ng-model="hst_tax" id="id_hst_taxable" name="hst_taxable" ng-change="updateHST(hst_tax)">
				<option value="False">NO</option>
				<option value="True">YES</option>
			</select>
			
			<input class="form-control decimal tax" ng-if="hst_tax" ng-model="hst_tax_amount" ng-change="addHstAmount(hst_tax_amount)" id="id_hst_taxable_amount" name="hst_taxable_amount" placeholder="HST Taxable Amount"  type="text">

		</td>
		<td colspan="1">
			<label for="">HST tax Amount:</label>
		</td>
		<td colspan="4">
			<input type="number" step="0.001" name="total_hst_tax" id="hst_tax_amount" class="form-control" value="0.000" readonly="readonly">
		</td>
	</tr>
	<tr class="bg-success">
		<th width="150" colspan="1">
			<label for="id_pst_taxable">Pst taxable:</label>
		</th>
		<td colspan="4">
			<select class="form-control tax" ng-model="pst_tax" id="id_pst_taxable" name="pst_taxable" ng-change="updatePST(pst_tax)">
			<option value="False">NO</option>
			<option value="True">YES</option>
			</select>
			<input class="form-control decimal tax" ng-if="pst_tax" ng-model="pst_tax_amount" id="id_pst_taxable_amount" name="pst_taxable_amount" ng-change="addPstAmount(pst_tax_amount)" placeholder="PST Taxable Amount" type="text">
		</td>
		<td colspan="1">
			<label for="">PST tax Amount:</label>
		</td>
		<td colspan="4">
			<input type="number" step="0.001" name="total_pst_tax" id="pst_tax_amount" class="form-control" value="0.000" readonly="readonly">
		</td>
	</tr>
	<tr class="bg-warning">
		<th colspan="1">
			<label for="id_po_currency">Total tax amount:</label>
		</th>
		<td colspan="2">
			<input type="number" step="0.001" class="form-control" id="id_total_tax" style="font-size: 14px;" name="total_tax" value="{[{ total_tax }]}" readonly="readonly">
		</td>

		
		<th width="150">
			<label for="id_total_po_amount">Total po amount:</label>
		</th>
		<td colspan="3">
			<input class="form-control" ng-model="total_amount" id="id_total_po_amount" name="total_po_amount" value="0.00" readonly="readonly" type="text">
		</td>
		<th width="150">
			<label for="id_po_currency">Po currency:</label>
		</th>
		<td colspan="2">
			<select class="form-control" id="id_po_currency" name="po_currency">
			{% for currency in currencies %}
			<option data-currency-icon="{{ currency.get_currency_icon }}" value="{{currency.id}}" {% if currency.id == 1 %} selected="selected" {% endif %}>
					{{ currency.currency }} ({{ currency.get_currency_icon }})
				</option>
			{% endfor %}
			</select>
		</td>
	</tr>
	<tr>

		<td colspan="6">
			<label>PDF PO </label> <input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" name="pdf_po" id='pdf_po' style="margin-left: 10px; margin-right: 20px;">
			<label>Print PO</label><input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No"  name="print_po" id='print_po' style="margin-left: 10px; margin-right: 20px;">
			<label>Email PO</label><input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" name="email_po" id='email_po' style="margin-left: 10px; margin-right: 20px;">
			<label>Fax PO</label><input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" name="fax_po" id='fax_po' style="margin-left: 10px; margin-right: 20px;">
		</td>
		<td colspan="2">
			<button type="submit" ng-hide="show_add_button" class="btn btn-primary btn-large form-control" ng-disabled="!(purchase_add_form.$valid && purchase_add_form.$dirty && item_added)">Process PO</button>
		</td>
		<td colspan="2">
		{% if user.is_superuser %}
			<a ng-hide="show_add_button" id="delete-po" class="btn btn-danger btn-large right-pull" ng-disabled="!(purchase_add_form.$valid && purchase_add_form.$dirty && item_added)" ng-click="deletePO()">Delete PO</a>
		{% endif %}
			<button type="submit" ng-show="show_add_button" class="btn btn-primary btn-large form-control" ng-disabled="!(purchase_add_form.$valid && purchase_add_form.$dirty && item_added)">Add PO</button>
		</td>
	</tr>
</table>