<table class="table">
<tr>
	<td class="bg-info">
		<table class="table table-bordered">
			<tr>
				<th width="150">
					<label for="id_pl_number">PL Number:</label>
				</th>
				<td>
					<div style="position: relative;">
						<input class="form-control" ng-model='search_pl' maxlength="25" id="id_pl_number_search"  type="search" name="pl_number_search" ng-change="searchPl(search_pl)" placeholder="Search for PL by Customer Name, Address, Phone Number, Item Description, PL Number or leave Blank for New PL" autocomplete="off" ng-disabled="pl_checked" autofocus>
						
						<div id="pl_list" ng-show="pls.length && show_pl_list">
							<table class="table">
								<thead>
									<tr>
										<td>PL Number</td>
										<td>Date Issued</td>
										<td>Sold To</td>
										<td>Ship To</td>
										<td>Job Number</td>
										<td>Status</td>
									</tr>
									
								</thead>
								<tbody>
									<tr ng-repeat="pl in pls" ng-click="selectPl(pl)">
										<td>{[{pl.pl_number}]}</td>
										<td>{[{pl.date_issued}]}</td>
										
										<td>
											<div class="sl_contact">
												<p><b>{[{pl.sold_to.attention_to}]}</b> {[{pl.sold_to.contact_name}]}</p>
												<p>{[{pl.sold_to.address_1}]}</p>
												<p>{[{pl.sold_to.city}]} {[{pl.sold_to.province}]}</p>
												<p>Phone: {[{ pl.sold_to.phones[0]['number'] }]}</p>
											</div>
										</td>
										<td>
											<div class="sl_contact">
												<p><b>{[{pl.ship_to.attention_to}]}</b> {[{pl.ship_to.contact_name}]}</p>
												<p>{[{pl.ship_to.address_1}]}</p>
												<p>{[{pl.ship_to.city}]} {[{pl.ship_to.province}]}</p>
												<p>Phone: {[{ pl.ship_to.phones[0]['number'] }]}</p>
											</div>
										</td>
										<td>{[{pl.job.job_number}]}</td>
										<td>{[{pl.status.status}]}</td>
									</tr>
									
								</tbody>
								
							</table>
							
						</div>
						<div ng-show="!pls.length && show_pl_list">
							No Packing List Found!
						</div>
					</div>
					<input id="id_pl_number" name="pl_number" type="hidden" id="id_pl_number">
				</td>		
			</tr>
			<tr>
				<td width="" ng-class="{'ng-pristine': add_pl_form.search_sold_to.$pristine || add_pl_form.search_sold_to.$invalid}">
					<label for="id_sold_to">Sold to:</label>
				</td>
				<td>
					<div class="contact_box">						
					
						<input type="text" ng-model="search_sold_to" name="search_sold_to" placeholder="start typing to search sold to contact" class="form-control" ng-change="searchSoldTo(search_sold_to)" ng-required="true" style="width: 95%; display: inline;"><a href="/admin/contacts/contact/add/" class="add-another" id="add_id_primary_supplier" onclick="return showAddAnotherPopup(this);"> <img src="/statics/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>
						<span ng-show="add_pl_form.search_sold_to.$dirty && add_pl_form.search_sold_to.$error.required">*This field is required.</span>
						<table class="table sold_to_contact" id="sold_to_contact_list">
							<thead>
								<tr>
									<th>Rec No.</th>
									<th>Contact Name</th>
									<th>Attention To</th>
									<th>Address</th>
									<th>Primary Contacts</th>
									<th>Terms</th>
									<th>Shipping Method</th>
									<th><a href="" class="close" ng-click="hideSupplierContact()">x</a></th>
								</tr>
							</thead>
							<tbody>
								
								<tr class="ui-menu-item" ng-repeat="contact in soldto" ng-click="selectSoldTo(contact)">
									<td width="80">{[{contact.id}]}</td>
									<td width="180">{[{contact.contact_name}]}</td>
									<td width="180">{[{contact.attention_to}]}</td>
									<td width="200">
										<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
										<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
										<p>
										<span ng-if="contact.country != ''">{[{ contact.country }]}</span>
										</p>
										<p ng-if="contact.postal_code != ''">{[{ contact.postal_code }]}</p>
										
										
									</td>
									
									<td width="200">
										<div class='phone' ng-repeat="phon in contact.phones">
											{[{phon.number}]} <span ng-if="phon.ext"> (ext: {[{phon.ext}]})</span>
										</div>
										<p class='email' ng-repeat="email in contact.emails">
											{[{email.email_address}]} <span ng-if="email.email_type">({[{email.email_type}]})</span>
										</p>
									</td>
									<td>
										{[{contact.terms.term}]}
									</td>
									<td width="120">
										{[{contact.shipping_method.delivery_choice}]}
									</td>
									<td></td>
									
								</tr>
							</tbody>
						</table>

						<input type="hidden" id="id_sold_to" name="sold_to">
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<table class="table table-bordered" id="sold_to_contact_details">
							<tr>
								<th width="150">Contact Name</th>
								<td colspan="2">{[{ sold_to_contact.attention_to }]}</td>
							</tr>
							<tr>
								<th>Address</th>
								<td colspan="2">
									<p ng-if="sold_to_contact.address_1 != ''">
										{[{sold_to_contact.address_1}]}
									</p>
									<p ng-if="sold_to_contact.address_2 != ''">
										{[{sold_to_contact.address_2}]}
									</p>
									<p>{[{sold_to_contact.city}]}<span ng-if="sold_to_contact.province != ''">, {[{sold_to_contact.province}]}</span></p>
									
									<p>{[{sold_to_contact.country}]}</p>
									<p><span ng-if="sold_to_contact.postal_code != ''">{[{ sold_to_contact.postal_code }]}
									</span></p>
								</td>
							</tr>
							<tr>
								<th colspan="3">
									<a class="btn btn-info" ng-click="addSoldToExtraContact()">
										Add Extra Contact
									</a>
								</th>
							</tr>
							</table>
						<table class="table" id="pl_sold_to_extra_contact_list">
						<thead>
							<tr class='bg-primary'><td>Contact Type</td><td>Contact Details</td><td>Contact Name</td><td>Action</td></tr>
						</thead>
						<tbody>
							
						</tbody>
						<tfoot ng-show="sold_to_contact.phones || sold_to_contact.emails || sold_to_contact.contacts">
							<tr ng-repeat="ph in sold_to_contact.contacts" class="bg-warning">
								<td>{[{ ph.type}]}</td>
								<td>{[{ ph.number}]}<span ng-if="ph.ext != ''"> Ext: ({[{ph.ext}]})</span></td>
								<td ng-show="ph.contact_name">{[{ ph.contact_name }]}</td>
								<td ng-show="!ph.contact_name">{[{ sold_to_contact.attention_to }]}</td>
								<td>
									<a href="" data-contactid="{[{ph.id}]}" data-contacttype="soldto" class='delete-contact'>Delete</a>
									<input type="hidden" name='pl_sold_to_phone_type'  value="{[{ ph.type }]}">
									<input type="hidden" name='pl_sold_to_phone_number'  value="{[{ ph.number }]}">
									<input type="hidden" name='pl_sold_to_phone_ext'  value="{[{ ph.ext }]}">
									<input type="hidden" name='pl_sold_to_phone_attention'  value="{[{ sold_to_contact.attention_to }]}">
								</td>
							</tr>
							<tr ng-repeat="ph in sold_to_contact.phones" class="bg-warning">
								<td>{[{ ph.type}]}</td>
								<td>{[{ ph.number}]}<span ng-if="ph.ext != ''"> Ext: ({[{ph.ext}]})</span></td>
								<td ng-show="ph.contact_name">{[{ ph.contact_name }]}</td>
								<td ng-show="!ph.contact_name">{[{ sold_to_contact.attention_to }]}</td>
								<td>
									<a href="" data-contactid="{[{ph.id}]}" data-contacttype="soldto" class='delete-contact'>Delete</a>
									<input type="hidden" name='pl_sold_to_phone_type'  value="{[{ ph.type }]}">
									<input type="hidden" name='pl_sold_to_phone_number'  value="{[{ ph.number }]}">
									<input type="hidden" name='pl_sold_to_phone_ext'  value="{[{ ph.ext }]}">
									<input type="hidden" name='pl_sold_to_phone_attention'  value="{[{ sold_to_contact.attention_to }]}">
								</td>
							</tr>
							<tr ng-repeat="em in sold_to_contact.emails" class="bg-info">
								<td>{[{ em.email_type}]}</td>
								<td>{[{ em.email_address }]} </td>
								<td>{[{ sold_to_contact.attention_to }]}</td>
								<td>
									<a href="" data-contactid="{[{ph.id}]}" class='delete-contact'>Delete</a>
									<input type="hidden" name='pl_sold_to_email_type' value
									="{[{ em.email_type}]}" >
									<input type="hidden" name='pl_sold_to_email' value="{[{ em.email_address}]}" >
									<input type="hidden" name='pl_sold_to_email_attention' value="{[{ sold_to_contact.attention_to}]}" >
								</td>
							</tr>
						</tfoot>
					</table>
				</td>
				
			</tr>
			<tr>
				<th width="150">
					<label for="id_date_issued">Date Issued:</label>
				</th>
				<td>
					<input class="form-control datepicker" id="id_date_issued" name="date_issued" placeholder="date issued" type="text" autocomplate="off">
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_job_number">Job number:</label>
				</td>
				<td>
					<search-job-control job="job" select-job="selectJob"></search-job-control>
						<br/>
						<table class="table table-bordered" ng-show="show_job_details">
							<thead>
								<tr class="bg bg-primary">
									<th>Sold To</th>
									<th>Job Name</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										{[{job.sold_to.contact_name}]}
									</td>
									<td>
										{[{job.job_name}]}
									</td>
								</tr>
							</tbody>
						</table>
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_order_type">Order Type:</label>
				</td>
				<td>
					<select class="form-control" name="order_type" id="id_order_type">
						<option value="0">Engineering Parts Order</option>
						<option value="1">Standared Parts Order</option>
						<option value="2">F.O.B Order</option>
						<option value="3">Mod Parts Order Std</option>
						<option value="4">Mod Parts Order Eng</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_hold_at_dept_for_pickup">Hold at for pickup:</label>
				</td>
				<td>
					<select class="form-control" name="hold_at_dept_for_pickup" id="id_hold_at_dept_for_pickup">
						<option value="1">Yes</option>
						<option value="0">No</option>
					</select>
				</td>
			</tr>
			<tr>
				<td width="">
					<label for="id_ship_to">Customer Broker:</label>
				</td>
				<td>
					<div class="contact_box">
						<input type="text" ng-model="search_customer_broker" placeholder="start typing to search customer broker contact" class="form-control" ng-change="searchCustomerBroker(search_customer_broker)" style="width: 95%; display: inline;"><a href="/admin/contacts/contact/add/" class="add-another" id="add_id_primary_supplier" onclick="return showAddAnotherPopup(this);"> <img src="/statics/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>
						
						<table class="table customer_broker_contact" id="customer_broker_contact_list">
							<thead>
								<tr>
									<th>Rec No.</th>
									<th>Contact Name</th>
									<th>Attention To</th>
									<th>Address</th>
									<th>Primary Contacts</th>
									<th>Terms</th>
									<th>Shipping Method</th>
									<th><a href="" class="close">x</a></th>
								</tr>
							</thead>
							<tbody>
								
								<tr class="ui-menu-item" ng-repeat="contact in customer_brokers" ng-click="selectCustomerBroker(contact)">
						
						
									<td width="80">{[{contact.id}]}</td>
									<td width="180">{[{contact.contact_name}]}</td>
									<td width="180">{[{contact.attention_to}]}</td>
									<td width="200">
										<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
										<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
										<p>
										<span ng-if="contact.country != ''">{[{ contact.country }]}</span>
										</p>
										<p ng-if="contact.postal_code != ''">{[{ contact.postal_code }]}</p>
										
										
									</td>
									
									<td width="200">
										<div class='phone' ng-repeat="phon in contact.phones">
											{[{phon.number}]} <span ng-if="phon.ext"> (ext: {[{phon.ext}]})</span>
										</div>
										<p class='email' ng-repeat="email in contact.emails">
											{[{email.email_address}]} <span ng-if="email.email_type">({[{email.email_type}]})</span>
										</p>
									</td>
									<td>
										{[{contact.terms.term}]}
									</td>
									<td width="120">
										{[{contact.shipping_method.delivery_choice}]}
									</td>
									<td></td>
								</tr>
							</tbody>
						</table>

						<input type="hidden" id="id_customer_broker" name="customer_broker">
						
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<table class="table table-bordered" id="customer_broker_contact_details">
						<tr>
							<th width="150">Contact Name</th>
							<td colspan="2">{[{ customer_broker_contact.attention_to }]}</td>
						</tr>
						<tr>
							<th>Address</th>
							<td colspan="2">
								<p ng-if="customer_broker_contact.address_1 != ''">
									{[{customer_broker_contact.address_1}]}
								</p>
								<p ng-if="customer_broker_contact.address_2 != ''">
									{[{customer_broker_contact.address_2}]}
								</p>
								<p>{[{customer_broker_contact.city}]}<span ng-if="customer_broker_contact.province != ''">, {[{customer_broker_contact.province}]}</span></p>
								
								<p>{[{customer_broker_contact.country}]}</p>
								<p><span ng-if="customer_broker_contact.postal_code != ''">{[{ customer_broker_contact.postal_code }]}
								</span></p>
							</td>
						</tr>
						<tr>
							<th colspan="3">
								<a class="btn btn-info" ng-click="addCBExtraContact()">
									Add Extra Contact
								</a>
							</th>
						</tr>
						</table>
						<table class="table" ng-show="customer_broker_contact.phones || customer_broker_contact.emails">
						<thead>
							<tr class='bg-primary'><td>Contact Type</td><td>Contact Details</td><td>Contact Name</td><td>Action</td></tr>
						</thead>
						<tbody id="pl_cb_extra_contact_list">
							<tr ng-repeat="ph in customer_broker_contact.phones" class="bg-warning">
								<td>{[{ ph.type}]}</td>
								<td>{[{ ph.number}]}<span ng-if="ph.ext != ''"> Ext: ({[{ph.ext}]})</span></td>
								<td ng-show="ph.contact_name">{[{ ph.contact_name }]}</td>
								<td ng-show="!ph.contact_name">{[{ customer_broker_contact.attention_to }]}</td>
								<td>
									<a href="" data-contactid="{[{ph.id}]}" data-contacttype="cb" class='delete-contact'>Delete</a>
									<input type="hidden" name='cb_to_phone_type'  value="{[{ ph.type }]}">
									<input type="hidden" name='cb_to_phone_number'  value="{[{ ph.number }]}">
									<input type="hidden" name='cb_to_phone_ext'  value="{[{ ph.ext }]}">
									<input type="hidden" name='cb_to_phone_attention'  value="{[{ customer_broker_contact.attention_to }]}">
								</td>
							</tr>
							<tr ng-repeat="em in customer_broker_contact.emails" class="bg-info">
								<td>{[{ em.email_type}]}</td>
								<td>{[{ em.email_address }]} </td>
								<td>{[{ customer_broker_contact.attention_to }]}</td>
								<td>
									<a href="" data-contactid="{[{ph.id}]}" class='delete-contact'>Delete</a>
									<input type="hidden" name='cb_to_email_type' value
									="{[{ em.email_type}]}" >
									<input type="hidden" name='cb_to_email' value="{[{ em.email_address}]}" >
									<input type="hidden" name='cb_to_email_attention' value="{[{ customer_broker_contact.attention_to}]}" >
								</td>
							</tr>
							</tbody>
						</table>
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_freight_charges">Freight charges:</label>
				</td>
				<td>
					<input class="form-control" id="id_freight_charges" maxlength="20" name="freight_charges" placeholder="freight charges" type="number">
				</td>
			</tr>
			<tr>
				<th>
					<label for="id_shipping_comment">Comment:</label>
				</th>
				<td>
					<input class="form-control" id="id_shipping_comment" name="shipping_comment" placeholder="" type="textarea">
				</td>
			</tr>
		</table>
	</td>
	<td class="bg-info">
		<table class="table table-bordered">
				
			<tr>
				<th width="150">
					<label for="id_sl_number">SL Number:</label>
					<input type="hidden" value="{{next_pl_number}}" class="form-control">
				</th>
				<td>
					<div style="position: relative;">
					<input class="form-control" id="id_sl_number_search" name="sl_number_search" type="search" placeholder="Search for SL leave Blank for New SL" ng-model="search_sl" ng-change="searchSl(search_sl)" ng-disabled="sl_checked" autocomplete="off">
						<div id="sl_list" ng-show="sls.length && show_sl_list">
							<table class="table">
								<thead>
									<tr>
										<td>SL Number</td>
										<td>Sold To</td>
										<td>Ship To</td>
										<td>Job Number</td>
									</tr>
									
								</thead>
								<tbody>
									<tr ng-repeat="sl in sls" ng-click="selectSL(sl)">
										<td>{[{sl.sl_number}]}</td>
										<td>{[{sl.sold_to.contact_name}]}</td>
										<td>{[{sl.ship_to.contact_name}]}</td>
										<td>{[{sl.job_number}]}</td>
									</tr>
									
								</tbody>
								
							</table>
							
						</div>
					</div>
					<input id="id_sl_number" name="sl_number" type="hidden" value="">
				</td>		
			</tr>
			<tr>
				<td width="">
					<label for="id_ship_to">Ship to:</label>
				</td>
				<td>
					<div class="contact_box">
						<input type="text" ng-model="search_ship_to" placeholder="start typing to search ship to contact" class="form-control" ng-change="searchShipTo(search_ship_to)" style="width: 95%; display: inline;"><a href="/admin/contacts/contact/add/" class="add-another" id="add_id_primary_supplier" onclick="return showAddAnotherPopup(this);"><img src="/statics/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>
						
						<table class="table ship_to_contact" id="ship_to_contact_list">
							<thead>
								<tr>
									<th>Rec No.</th>
									<th>Contact Name</th>
									<th>Attention To</th>
									<th>Address</th>
									<th>Primary Contacts</th>
									<th>Terms</th>
									<th>Shipping Method</th>
									<th><a href="" class="close">x</a></th>
								</tr>
							</thead>
							<tbody>
							
								<tr class="ui-menu-item" ng-repeat="contact in shipto" ng-click="selectShipTo(contact)">
						
						
									<td width="80">{[{contact.id}]}</td>
									<td width="180">{[{contact.contact_name}]}</td>
									<td width="180">{[{contact.attention_to}]}</td>
									<td width="200">
										<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
										<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
										<p>
										<span ng-if="contact.country != ''">{[{ contact.country }]}</span>
										</p>
										<p ng-if="contact.postal_code != ''">{[{ contact.postal_code }]}</p>
										
										
									</td>
									
									<td width="200">
										<div class='phone' ng-repeat="phon in contact.phones">
											{[{phon.number}]} <span ng-if="phon.ext"> (ext: {[{phon.ext}]})</span>
										</div>
										<p class='email' ng-repeat="email in contact.emails">
											{[{email.email_address}]} <span ng-if="email.email_type">({[{email.email_type}]})</span>
										</p>
									</td>
									<td>
										{[{contact.terms.term}]}
									</td>
									<td width="120">
										{[{contact.shipping_method.delivery_choice}]}
									</td>
									<td></td>
								</tr>
							</tbody>
						</table>

						<input type="hidden" id="id_ship_to" name="ship_to">
					</div>
				</td>
			</tr>
			<tr>
				<td colspan="2">
					<table class="table table-bordered" id="ship_to_contact_details">
							<tr>
								<th width="150">Contact Name</th>
								<td colspan="2">{[{ ship_to_contact.attention_to }]}</td>
							</tr>
							<tr>
								<th>Address</th>
								<td colspan="2">
									<p ng-if="ship_to_contact.address_1 != ''">
										{[{ship_to_contact.address_1}]}
									</p>
									<p ng-if="ship_to_contact.address_2 != ''">
										{[{ship_to_contact.address_2}]}
									</p>
									<p>{[{ship_to_contact.city}]}<span ng-if="ship_to_contact.province != ''">, {[{ship_to_contact.province}]}</span></p>
									
									<p>{[{ship_to_contact.country}]}</p>
									<p><span ng-if="ship_to_contact.postal_code != ''">{[{ ship_to_contact.postal_code }]}
									</span></p>
								</td>
							</tr>
							<tr>
								<th colspan="3">
									<a class="btn btn-info" ng-click="addShipToExtraContact()">
										Add Extra Contact
									</a>
								</th>
							</tr>
						</table>
						<table class="table" id="pl_ship_to_extra_contact_list">
						<thead>
							<tr class='bg-primary'><td>Contact Type</td><td>Contact Details</td><td>Contact Name</td><td>Action</td></tr>
						</thead>
						<tbody>
							
						</tbody>
						<tfoot ng-show="ship_to_contact.phones || ship_to_contact.emails || ship_to_contact.contacts">
							<tr ng-repeat="ph in ship_to_contact.contacts" class="bg-warning">
								<td>{[{ ph.type}]}</td>
								<td>{[{ ph.number}]}<span ng-if="ph.ext != ''"> Ext: ({[{ph.ext}]})</span></td>
								<td ng-show="ph.contact_name">{[{ ph.contact_name }]}</td>
								<td ng-show="!ph.contact_name">{[{ ship_to_contact.attention_to }]}</td>
								<td>
									<a href="" data-contactid="{[{ph.id}]}" data-contacttype="shipto" class='delete-contact'>Delete</a>
									<input type="hidden" name='pl_ship_to_phone_type'  value="{[{ ph.type }]}">
									<input type="hidden" name='pl_ship_to_phone_number'  value="{[{ ph.number }]}">
									<input type="hidden" name='pl_ship_to_phone_ext'  value="{[{ ph.ext }]}">
									<input type="hidden" name='pl_ship_to_phone_attention'  value="{[{ ship_to_contact.attention_to }]}">
								</td>
							</tr>
							<tr ng-repeat="ph in ship_to_contact.phones" class="bg-warning">
								<td>{[{ ph.type}]}</td>
								<td>{[{ ph.number}]}<span ng-if="ph.ext != ''"> Ext: ({[{ph.ext}]})</span></td>
								<td ng-show="ph.contact_name">{[{ ph.contact_name }]}</td>
								<td ng-show="!ph.contact_name">{[{ ship_to_contact.attention_to }]}</td>
								<td>
									<a href="" data-contactid="{[{ph.id}]}" data-contacttype="shipto" class='delete-contact'>Delete</a>
									<input type="hidden" name='pl_ship_to_phone_type'  value="{[{ ph.type }]}">
									<input type="hidden" name='pl_ship_to_phone_number'  value="{[{ ph.number }]}">
									<input type="hidden" name='pl_ship_to_phone_ext'  value="{[{ ph.ext }]}">
									<input type="hidden" name='pl_ship_to_phone_attention'  value="{[{ ship_to_contact.attention_to }]}">
								</td>
							</tr>
							<tr ng-repeat="em in ship_to_contact.emails" class="bg-info">
								<td>{[{ em.email_type}]}</td>
								<td>{[{ em.email_address }]} </td>
								<td>{[{ ship_to_contact.attention_to }]}</td>
								<td>
									<a href="" data-contactid="{[{ph.id}]}" class='delete-contact'>Delete</a>
									<input type="hidden" name='pl_ship_to_email_type' value
									="{[{ em.email_type}]}" >
									<input type="hidden" name='pl_ship_to_email' value="{[{ em.email_address}]}" >
									<input type="hidden" name='pl_ship_to_email_attention' value="{[{ ship_to_contact.attention_to}]}" >
								</td>
							</tr>
						</tfoot>
					</table>
				</td>
			</tr>
			<tr>
				<th width="150">
					<label for="id_date_shipped">Date Shipped:</label>
				</th>
				<td>
					<input class="form-control datepicker" id="id_date_shipped" name="date_shipped" placeholder="date shipped" type="text" autocomplate="off">
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_generated_by">Generated By:</label>
				</td>
				<td>
					<select class="form-control" name="generated_by" id="id_generated_by" 
					{% if cuser.is_superuser == 0 %} disabled {% endif %}>
					{% for us in users %}
						<option value="{{us.id}}">{{us.username}}</option>
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_ship_via">Ship Via:</label>
				</td>
				<td>
					<select class="form-control" name="ship_via" id="id_ship_via">
					{% for dc in dcs %}
						<option value="{{dc.id}}">{{dc.delivery_choice}}</option>					
					{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_shipping_bl_number">Shipping B/L Number:</label>
				</td>
				<td>
					<input class="form-control" id="id_shipping_bl_number" maxlength="200" name="shipping_bl_number" placeholder="" type="text">
				</td>
			</tr>
			<tr>
				<td>
					<label for="id_customer_po_number">Customer po number:</label>
				</td>
				<td>
					<input class="form-control" id="id_customer_po_number" maxlength="20" name="customer_po_number" placeholder="Customer PO Number" type="text">
				</td>
			</tr>
			<tr>
				<th width="150">
					<label for="id_invoiced_on_date">Invoiced On Date:</label>
				</th>
				<td>
					<input class="form-control datepicker" id="id_invoiced_on_date" name="invoiced_on_date" placeholder="date issued" type="text" autocomplate="off">
				</td>
			</tr>
			<tr>
				<th width="150">
					<label for="id_invoiced_on">Invoiced On:</label>
				</th>
				<td>
					<input class="form-control" id="id_invoiced_on" name="invoiced_on" placeholder="" type="text" autocomplate="off">
				</td>
			</tr>
			<tr>
				<th width="150">
					<label for="id_status">Status</label>
				</th>
				<td>
					<select name="status" id="id_status" class="form-control">
						<option value="0">New</option>
						<option value="1">Printed (in shipping)</option>
						<option value="2">Partial B/O</option>
						<option value="3">Closed / Printed</option>
						<option value="4">Closed - Manual</option>
					</select>
				</td>
			</tr>
		</table>
	</td>
</tr>

<tr>
	<td colspan="2"  ng-class="{'item_error ng-pristine': !item_added, 'bg-primary': item_added }" align="center">
		<h4>Add items here for this packing list </h4>
	</td>
</tr>
<tr>
	<td colspan="2">
	<div class="item_box">
		<table class="table item ">
			<thead>
				<tr>
					<th width="180">Item Number</th>
					<th width="">Description</th>
					<th width="180">Unit</th>
					<th width="180">Ordered</th>
					<th width="200">Qty shipped</th>
					<th width="180">Qty B/O</th>
					
					<th></th>
				</tr>
			</thead>
			<tbody id="add_item_list">
				<tr style="border-top: 2px dotted red;">
					<td style="position: relative;">
						<search-item item="item" select-item="selectItem"></search-item>
					</td>
					<td>
						<textarea rows="1" class="form-control" readonly=""></textarea>
					</td>
					<td>
						<input type="text" class="form-control" placeholder="Unit" readonly="">
					</td>
					<td>
						<input type="text" class="form-control" placeholder="Item Ordered" readonly="">
					</td>
					
					<td>
						<input type="text" class="form-control" placeholder="Qty shipped" readonly="">
					</td>
					<td>
						<input type="text" class="form-control" placeholder="Qty B/O" readonly="">
					</td>
					<td></td>
				</tr>
				<tr class="removed_item">
					
				</tr>
				<tr class="footer"></tr>			
			</tbody>
		</table>				
	</div>
		
	</td>
</tr>
<tr>
	<td colspan="2">
		<label>PDF PL</label><input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" name="pdf_pl" id='pdf_pl' style="margin-left: 20px; margin-right: 50px;">
		<label>Print PL</label><input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No"  name="print_pl" id='print_pl' style="margin-left: 20px; margin-right: 50px;">
		<label>Email PL</label><input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" name="email_pl" id='email_pl' style="margin-left: 20px; margin-right: 50px;">
		<label>Fax PL</label><input type="checkbox" data-toggle="toggle" data-on="Yes" data-off="No" name="fax_pl" id='fax_pl' style="margin-left: 10px; margin-right: 20px;">
	</td>
</tr>
<tr>
	<td>
		<input type="submit" ng-show="new_pl_form" class="form-control btn btn-primary" value="Add PL" ng-disabled="!(add_pl_form.$valid && add_pl_form.$dirty && item_added)">
	</td>
	<td>
		<button class="btn btn-primary" ng-hide="new_pl_form">Save & Generate Invoice</button>
		<button type="submit" class="btn btn-primary" ng-hide="new_pl_form" ng-disabled="!(add_pl_form.$valid && add_pl_form.$dirty && item_added)">Save & process PL</button>

		{% if user.is_superuser %}
			<a ng-hide="new_pl_form" id="delete-po" class="btn btn-danger btn-large" ng-click="deletePO()">Delete PL</a>
		{% endif %}
	</td>
</tr>
</table>