<div class="search_job_control">
	<input class="form-control" id="id_job_number" name="job_number_search" ng-model="job_number" type="text" ng-change="searchJob(job_number)"  placeholder="start typing to search jobs or leave blank for new" value="{[{job_number}]}" autocomplete="off">
	<input type="hidden" name="job_number"  id="job_number" value="{[{job_number}]}">
	<div id="show_job_list" ng-show="show_job_list">
		<table class="table">
		<thead>
			<tr>
				<th>Job number</th>
				<th width="150">Job name</th>
				<th width="150">Sold to</th>
				<th width="150">Ship to</th>
				<th>Start Date</th>
				<th>Delivery Date</th>
				<th>Cabs</th>
				<th>Floors</th>
				<th>Elevator Type <a ng-click='closeJobList()'>X</a></th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="job in jobs" ng-click="selectMyJob(job)">
				<td>{[{job.job_number}]}</td>
				<td>{[{job.job_name}]}</td>
				<td>{[{job.sold_to.contact_name}]}</td>
				<td>{[{job.ship_to.contact_name}]}</td>
				<td>{[{job.start_date}]}</td>
				<td>{[{job.delivery_date}]}</td>
				<td>{[{job.number_of_cabs}]}</td>
				<td>{[{job.number_of_floors}]}</td>
				<td>{[{job.elevetor_type}]}</td>
				
			</tr>
			<tr ng-show="!jobs.length">
				<td colspan="3">
					No jobs found
				</td>
			</tr>
		</tbody>
		</table>
	</div>
</div>