<div class="search_contact">
	<input type="text" ng-model="search_contact" placeholder="start typing to search contact" class="form-control" name="search_contact" ng-change="searchContact(search_contact)" style="width: 95%; display: inline;" >
	
	<div class="contact_list" ng-show="show_contact_list">
		<table class="table selectable" class="ui-autocomplete ui-widget-content-custom ui-corner-all" id="{[{contactfieldname}]}_contact_list">
			<thead>
				<tr>
					<th>Contact Name</th><th>Address</th><th>Primary Cont No. <a href="" class="close" ng-click="hideContactList()">x</a></th>
				</tr>
			</thead>
			<tbody>
				<tr class="ui-menu-item" ng-repeat="contact in contacts" ng-click="setmycon(contact)">
					
					<td>{[{contact.contact_name}]}</td>
					<td>
						<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
						<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
						<p>
						<span ng-if="contact.country != ''">{[{ contact.country }]}</span>
						</p>
						<p ng-if="contact.postal_code != ''">{[{ contact.postal_code }]}</p>
						
						
					</td>
					
					<td>
						<div class='phone' ng-repeat="phon in contact.phones" ng-if="$first">
							{[{phon.number}]} <span ng-if="phon.ext !=''"> (ext: {[{phon.ext}]})</span>
						</div>
					</td>
					
				</tr>
			</tbody>
		</table>

		<input type="hidden" name="{[{contactfieldname}]}" id="id_{[{contactfieldname}]}">
	</div>
</div>