<div style="position: relative;">
	<input class="form-control" ng-model='search_item' maxlength="25" id="id_item_number_search"  type="text" name="item_number_search" ng-change="searchItem(search_item)" placeholder="Search for Item by Customer Name, Address, Phone Number, Item Description, Item Number or leave blank for new MAT number" autocomplete="off">

	<input type="hidden" name="item_number" id="id_item_number" value="{[{search_item}]}">
	
	<div id="item-list" ng-show="show_item_list">
		<table class="table">
			<thead>
				<th>Item Number</th>
				<th>Description</th>
				<th>Unit Measure</th>
				<th width="200">Supplier</th>
				<th>Terms</th>
				<th>Qty on hand</th>
				<th>Qty on order</th>
				<th>Cost</th>
				<th><a class="close" ng-click="closeMe()">X</a></th>
			</thead>
			<tbody>
				<tr ng-repeat="item in items" ng-class-even="'even'" ng-click="selectMyItem(item)">
					<td>{[{item.item_number}]}</td>
					<td>{[{item.description}]}</td>
					<td>{[{item.unit.unit_name}]}</td>
					<td>
						<div class="contact">
							<p ng-if="item.supplier.attention_to" class="label label-primary">{[{item.supplier.attention_to}]}</p>
							<p ng-if="item.supplier.phones[0].number" class="label label-info">Phone: {[{item.supplier.phones[0].number}]} <span ng-if="item.supplier.phones[0].phone_ext" class="text-danger">Ext:{[{item.supplier.phones[0].phone_ext}]}</span></p>
							<p ng-if="item.supplier.emails[0].email_address" class="label label-info">{[{item.supplier.emails[0].email_address}]}</p>
						</div>
					</td>
					<td>
						<span ng-if="item.terms.term" class="label label-warning">
							{[{item.terms.term}]}
						</span>
					</td>
					<td><span ng-if="item.quantity_on_hand" class="label label-success">{[{item.quantity_on_hand}]}</span></td>
					<td><span ng-if="item.quantity_on_order" class="label label-warning">{[{item.quantity_on_order }]}</span></td>
					<td><span ng-if="item.wholesale_cost" class="label label-danger">{[{item.wholesale_cost | currency }]}</span></td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>