<!-- Modal -->
<!-- Modal -->
<div class="modal fade" id="view_report" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

			<div class="modal-header">
			    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			    <h4 class="modal-title" id="myModalLabel">Report</h4>
			</div>

			<div class="modal-body">

			    		
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
			</div>

			<script type="text/javascript">
			(function(){
				

			})(jQuery)
			    
			</script>
		</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->