<table class="table table-bordered">

<tr class="bg-info">
	<th colspan="1"><label for="id_job_number">Job Number:</label></th>
	<td id="job" colspan="3">
		<search-job-control job="job" select-job="selectJob"></search-job-control>
	</td>
	<th colspan="1"><label for="id_start_date">Start Date:</label></th>
	<td colspan="3">
		<input class="form-control datepicker" id="id_start_date" name="start_date" ng-model="start_date" type="text" value="{[{start_date}]}">
	</td>
</tr>
<tr>
	<th colspan="1"><label for="id_job_name">Job Name:</label></th>
	<td colspan="3">
		<input class="form-control" id="id_job_name" name="job_name" ng-model="job_name" type="text"  value="{[{job_name}]}" autocomplete="off">
	</td>
	<th colspan="1"><label for="id_elevetor_type">Elevetor Type:</label></th>
	<td colspan="3">
		<select class="form-control" id="id_elevetor_type" name="elevetor_type" value="{[{elevetor_type}]}">
		{% for elt in elevetor_types %}
			<option value="{{elt.id}}">{{elt.elevetor_type}}</option>
		{% empty %}
			<option value="">None</option>
		{% endfor %}
		</select>
	</td>
</tr>
<tr class="bg-info">
	<th>
		<label for="id_sold_to">Sold to:</label>
	</th>
	<td colspan="3">
		<input type="text" ng-model="search_sold_to" placeholder="start typing to search sold to contact" class="form-control" ng-change="searchSoldTo(search_sold_to)"  value="" autocomplete="off" style="display: inline; width:95%;"><a href="/admin/contacts/contact/add/" class="add-another" id="add_id_primary_supplier" onclick="return showAddAnotherPopup(this);" style="width: 95%; display: inline;"> <img src="/statics/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>
			<input type="hidden" name="sold_to" value="{[{sold_to.id}]}">

	</td>
	<th>
		<label for="id_ship_to">Ship to:</label>
	</th>
	<td colspan="3">
		<input type="text" ng-model="search_ship_to" placeholder="start typing to search ship to contact" class="form-control" ng-change="searchShipTo(search_ship_to)" style="width: 95%; display: inline;"><a href="/admin/contacts/contact/add/" class="add-another" id="add_id_primary_supplier" onclick="return showAddAnotherPopup(this);"> <img src="/statics/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>
		<input type="hidden" name="ship_to" value="{[{ship_to.id}]}">
	</td>

	
</tr>
<tr>
	<td colspan="4">
		<div class="contact_box">
			
			
			<table class="table selectable sold_to_contact ui-autocomplete ui-widget-content-custom ui-corner-all" ng-show="show_sold_to_contact_list">
				<thead>
					<tr>
						<th>Rec No.</th>
						<th>Contact Name</th>
						<th>Attention To</th>
						<th>Address</th>
						<th>Primary Contacts</th>
						<th>Terms</th>
						<th>Shipping Method</th>
						<th><a href="" class="close" ng-click="hideContactList()">x</a></th>
					</tr>
				</thead>
				<tbody>
				
					<tr class="ui-menu-item" ng-repeat="contact in contacts" ng-click="selectSoldTo(contact)">
					
					
						<td width="80">{[{contact.id}]}</td>
						<td width="180">{[{contact.contact_name}]}</td>
						<td width="180">{[{contact.attention_to}]}</td>
						<td width="200">
							<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
							<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
							<p>
							<span ng-if="contact.country != ''">{[{ contact.country }]}</span>
							</p>
							<p ng-if="contact.postal_code != ''">{[{ contact.postal_code }]}</p>
							
							
						</td>
						
						<td width="200">
							<div class='phone' ng-repeat="phon in contact.phones">
								{[{phon.number}]} <span ng-if="phon.ext"> (ext: {[{phon.ext}]})</span>
							</div>
							<p class='email' ng-repeat="email in contact.emails">
								{[{email.email_address}]} <span ng-if="email.email_type">({[{email.email_type}]})</span>
							</p>
						</td>
						<td>
							{[{contact.terms.term}]}
						</td>
						<td width="120">
							{[{contact.shipping_method.delivery_choice}]}
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>


			
			<table class="table contact" ng-show="sold_to_contact_details">
				<tr>
					<th width="150">Contact Name</th>
					<td colspan="2">{[{ sold_to.contact_name }]}</td>
				</tr>
				<tr>
					<th>Address</th>
					<td colspan="2">
						<p ng-if="sold_to.address_1 != ''">
							<b>Address Line1: </b>{[{sold_to.address_1}]}
						</p>
						<p ng-if="sold_to.address_2 != ''">
							<b>Address Line2:</b>{[{sold_to.address_2}]}
						</p>
						<p><b>city / province</b>: {[{sold_to.city}]}<span ng-if="sold_to.province != ''">, {[{sold_to.province}]}</span></p>
						
						<p><b>country</b>: {[{sold_to.country}]}</p>
						<p><b>Post code</b>: {[{ sold_to.post_code }]}</p>
					</td>
				</tr>
				<tr>
					<th>Phones</th>
					<td colspan="2">
						<li ng-repeat="ph in sold_to.phones">
							<span class='bg-info phone'>{[{ ph.type}]}: {[{ ph.number}]} </span> <span ng-if="ph.ext != ''">Ext: ({[{ph.ext}]})</span>
						</li>
					</td>
				</tr>
				<tr>
					<th>Emails</th>
					<td colspan="2">
						<li ng-repeat="em in sold_to.emails">
							<span class='bg-info email'>{[{ em.email_address}]} ({[{em.email_type}]})</span>
						</li>
					</td>
				</tr>
			</table>
			
		</div>
	</td>
	<td colspan="4">
		<div class="contact_box">
		

		<table class="table selectable ship_to_contact ui-autocomplete ui-widget-content-custom ui-corner-all" ng-show="show_ship_to_contact_list">
				<thead>
					<tr>
						<th>Rec No.</th>
						<th>Contact Name</th>
						<th>Attention To</th>
						<th>Address</th>
						<th>Primary Contacts</th>
						<th>Terms</th>
						<th>Shipping Method</th>
						<th><a href="" class="close" ng-click="hideContactList()">x</a></th>
					</tr>
				</thead>
				<tbody>
				
				<tr class="ui-menu-item" ng-repeat="contact in contacts" ng-click="selectShipTo(contact)">
					
					
					<td width="80">{[{contact.id}]}</td>
					<td width="180">{[{contact.contact_name}]}</td>
					<td width="180">{[{contact.attention_to}]}</td>
					<td width="200">
						<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
						<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
						<p>
						<span ng-if="contact.country != ''">{[{ contact.country }]}</span>
						</p>
						<p ng-if="contact.postal_code != ''">{[{ contact.postal_code }]}</p>
						
						
					</td>
					
					<td width="200">
						<div class='phone' ng-repeat="phon in contact.phones">
							{[{phon.number}]} <span ng-if="phon.ext"> (ext: {[{phon.ext}]})</span>
						</div>
						<p class='email' ng-repeat="email in contact.emails">
							{[{email.email_address}]} <span ng-if="email.email_type">({[{email.email_type}]})</span>
						</p>
					</td>
					<td>
						{[{contact.terms.term}]}
					</td>
					<td width="120">
						{[{contact.shipping_method.delivery_choice}]}
					</td>
					<td></td>
				</tr>
				</tbody>
			</table>


		<table class="table contact" ng-show="ship_to_contact_details" autocomplete="off">
		
			<tr>
					<th width="150">Contact Name</th>
					<td colspan="2">{[{ ship_to.contact_name }]}</td>
				</tr>
				<tr>
					<th>Address</th>
					<td colspan="2">
						<p ng-if="ship_to.address_1 != ''">
							<b>Address Line1: </b>{[{ship_to.address_1}]}
						</p>
						<p ng-if="ship_to.address_2 != ''">
							<b>Address Line2:</b>{[{ship_to.address_2}]}
						</p>
						<p><b>city / province</b>: {[{ship_to.city}]}<span ng-if="ship_to.province != ''">, {[{ship_to.province}]}</span></p>
						
						<p><b>country</b>: {[{ship_to.country}]}</p>
						<p><b>Post code</b>: {[{ ship_to.post_code }]}</p>
					</td>
				</tr>
				<tr>
					<th>Phones</th>
					<td colspan="2">
						<li ng-repeat="ph in ship_to.phones">
							<span class='bg-info phone'>{[{ ph.type}]}: {[{ ph.number}]} </span> <span ng-if="ph.ext != ''">Ext: ({[{ph.ext}]})</span>
						</li>
					</td>
				</tr>
				<tr>
					<th>Emails</th>
					<td colspan="2">
						<li ng-repeat="em in ship_to.emails">
							<span class='bg-info email'>{[{ em.email_address}]} ({[{em.email_type}]})</span>
						</li>
					</td>
				</tr>
		</table>
		
	</div>

	</td>
</tr>
<tr class="bg-info">
	<th><label for="id_number_of_cabs">Number of cabs:</label></th>
	<td>
		<input class="form-control" id="id_number_of_cabs" name="number_of_cabs" ng-model="number_of_cabs" type="text" value="{[{number_of_cabs}]}" autocomplete="off">
	</td>
	<th><label for="id_number_of_floors">Number of floors:</label></th>
	<td>
		<input class="form-control" id="id_number_of_floors" name="number_of_floors" ng-model="number_of_floors" type="text" value="{[{number_of_floors}]}" autocomplete="off">
	</td>

	<th><label for="id_front">Front:</label></th>
	<td>
		<input class="form-control" id="id_front" name="front" ng-model="front" type="text" value="{[{front}]}" autocomplete="off">
	</td>

	<th><label for="id_rear">Rear:</label></th>
	<td>
		<input class="form-control" id="id_rear" name="rear" ng-model="rear" placeholder="Rear" type="text" value="{[{rear}]}" autocomplete="off">
	</td>
</tr>

<tr class="bg-info">
	<th><label for="id_capacity">Capacity:</label></th>
	<td colspan="3">
		<input class="form-control" id="id_capacity" name="capacity" ng-model="capacity" placeholder="capacity" type="text" value="{[{capacity}]}" autocomplete="off">
	</td>
	<th><label for="id_rgw">RGW:</label></th>
	<td colspan="3">
		<input class="form-control" id="id_rgw" name="rgw" placeholder="RGW" ng-model="rgw" type="text" value="{[{rgw}]}" autocomplete="off">
	</td>
</tr>
<tr>
	<th colspan="2"><label for="id_customer_po_number">Customer PO Number:</label></th>
	<td colspan="2">
		<input class="form-control" id="id_customer_po_number" name="customer_po_number" ng-model="customer_po_number" placeholder="customer_po_number" type="text" value="{[{customer_po_number}]}" autocomplete="off">
	</td>
	<th colspan="2"><label for="id_delivery_date">Delivery date:</label></th>
	<td colspan="2">
		<input class="form-control datepicker" id="id_delivery_date" name="delivery_date" ng-model="delivery_date" type="text" value="{[{delivery_date}]}" autocomplete="off">
	</td>
</tr>
<tr class="bg-info">
	<th><label for="id_installed_by">Installed By:</label></th>
	<td colspan="3">
		<div class="contact_box">
			<input type="text" ng-model="search_installed_by" placeholder="start typing to search installed by contact" class="form-control" ng-change="searchInstalledBy(search_installed_by)" autocomplete="off">
			<input type="hidden" name="installed_by" value="{[{installed_by.id}]}">
			<table class="table installed_by_contact" ng-show="show_installed_by_contact_list">
				<thead>
					<tr>
						<th>Rec No.</th>
						<th>Contact Name</th>
						<th>Attention To</th>
						<th>Address</th>
						<th>Primary Contacts</th>
						<th>Terms</th>
						<th>Shipping Method</th>
						<th><a href="" class="close" ng-click="hideInstalledByContact()">x</a></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="contact in contacts" ng-click="selectInstalledBy(contact)">
						
						<td width="80">{[{contact.id}]}</td>
						<td width="180">{[{contact.contact_name}]}</td>
						<td width="180">{[{contact.attention_to}]}</td>
						<td width="200">
							<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
							<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
							<p>
							<span ng-if="contact.country != ''">{[{ contact.country }]}</span>
							</p>
							<p ng-if="contact.postal_code != ''">{[{ contact.postal_code }]}</p>
							
							
						</td>
						
						<td width="200">
							<div class='phone' ng-repeat="phon in contact.phones">
								{[{phon.number}]} <span ng-if="phon.ext"> (ext: {[{phon.ext}]})</span>
							</div>
							<p class='email' ng-repeat="email in contact.emails">
								{[{email.email_address}]} <span ng-if="email.email_type">({[{email.email_type}]})</span>
							</p>
						</td>
						<td>
							{[{contact.terms.term}]}
						</td>
						<td width="120">
							{[{contact.shipping_method.delivery_choice}]}
						</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<table class="table contact" ng-show="installed_by_contact_details">
				<tr>
					<th width="150">Contact Name</th>
					<td>{[{ installed_by.contact_name }]}</td>
				</tr>
				<tr>
					<th>Phone</th>
					<td>
						<li ng-repeat="phone in installed_by.phones">{[{ phone.type }]} {[{ phone.number }]} (ext: {[{phone.ext}]})</li>
					</td>
				</tr>
				<tr>
					<th>Email</th>
					<td><span class='bg-info email' ng-repeat="em in installed_by.emails">{[{ em.email_address}]}</span></td>
				</tr>
			</table>
			
		</div>
	</td>
	<th colspan="2"><label for="id_estimated_price_for_job">Estimated price for job:</label></th>
	<td colspan="2">
		<input class="form-control decimal" id="id_estimated_price_for_job" name="estimated_price_for_job" ng-model="estimated_price_for_job" type="text" value="{[{estimated_price_for_job}]}" autocomplete="off">
	</td>
</tr>

<tr class="bg-info">
	<th><label for="id_fixtures">Fixtures:</label></th>
	<td>
		<input class="form-control" id="id_fixtures" name="fixtures" ng-model="fixtures" type="text" value="{[{fixtures}]}" autocomplete="off">
	</td>
	<th><label for="id_wood_shop">Wood Shop:</label></th>
	<td>
		<input class="form-control" id="id_wood_shop" name="wood_shop" ng-model="wood_shop" type="text" value="{[{wood_shop}]}" autocomplete="off">
	</td>

	<th><label for="id_machine_shop">Machine Shop:</label></th>
	<td>
		<input class="form-control" id="id_machine_shop" name="machine_shop" ng-model="machine_shop" type="text" value="{[{machine_shop}]}" autocomplete="off">
	</td>

	<th><label for="id_welding">Welding:</label></th>
	<td>
		<input class="form-control" id="id_welding" name="welding" ng-model="welding" placeholder="Welding" type="text" value="{[{welding}]}" autocomplete="off">
	</td>
</tr>

<tr class="bg-info">
	<th><label for="id_lacquer">Lacquer:</label></th>
	<td>
		<input class="form-control" id="id_lacquer" name="lacquer" ng-model="lacquer" type="text" value="{[{lacquer}]}" autocomplete="off">
	</td>
	<th><label for="id_trim_shop">Trim Shop:</label></th>
	<td>
		<input class="form-control" id="id_trim_shop" name="trim_shop" ng-model="trim_shop" type="text" value="{[{trim_shop}]}" autocomplete="off">
	</td>

	<th><label for="id_cab_assembly">Cab Assembly:</label></th>
	<td>
		<input class="form-control" id="id_cab_assembly" name="cab_assembly" ng-model="cab_assembly" type="text" value="{[{cab_assembly}]}" autocomplete="off">
	</td>

	<th><label for="id_install_date">Install Date:</label></th>
	<td>
		<input class="form-control" id="id_install_date" name="install_date" ng-model="install_date" placeholder="Install Date" type="text" value="{[{install_date}]}" autocomplete="off">
	</td>
</tr>

<tr class="bg-info">
	<th><label for="id_premier_glass">Premier Glass:</label></th>
	<td>
		<input class="form-control" id="id_premier_glass" name="premier_glass" ng-model="premier_glass" type="text" value="{[{premier_glass}]}" autocomplete="off">
	</td>
	<th><label for="id_tile_installer">Tile Installer:</label></th>
	<td>
		<input class="form-control" id="id_tile_installer" name="tile_installer" ng-model="tile_installer" type="text" value="{[{tile_installer}]}" autocomplete="off">
	</td>

	<th><label for="id_bill">Bill:</label></th>
	<td>
		<input class="form-control" id="id_bill" name="bill" ng-model="bill" type="text" value="{[{bill}]}" autocomplete="off">
	</td>

	<th><label for="id_hayward">Hayward:</label></th>
	<td>
		<input class="form-control" id="id_hayward" name="hayward" ng-model="hayward" placeholder="hayward" type="text" value="{[{hayward}]}" autocomplete="off">
	</td>
</tr>

<tr class="bg-info">
	<th><label for="id_glenn">Glenn:</label></th>
	<td>
		<input class="form-control" id="id_glenn" name="glenn" ng-model="glenn" type="text" value="{[{glenn}]}" autocomplete="off">
	</td>
	<th><label for="id_suren">Suren:</label></th>
	<td>
		<input class="form-control" id="id_suren" name="suren" ng-model="suren" type="text" value="{[{suren}]}" autocomplete="off">
	</td>

	<th><label for="id_roger">Roger:</label></th>
	<td>
		<input class="form-control" id="id_roger" name="roger" ng-model="roger" type="text" value="{[{roger}]}" autocomplete="off">
	</td>

	<th><label for="id_matt">Matt:</label></th>
	<td>
		<input class="form-control" id="id_matt" name="matt" ng-model="matt" placeholder="Matt" type="text" value="{[{matt}]}" autocomplete="off">
	</td>
</tr>

<tr class="bg-info">
	<th colspan="2"><label for="id_third_party_install">Third Party Install:</label></th>
	<td colspan="6">
		<input class="form-control" id="id_third_party_install" name="third_party_install" ng-model="third_party_install" type="text" value="{[{third_party_install}]}" autocomplete="off">
	</td>
</tr>

<tr>
	<td colspan="4"></td>
	<td colspan="4">
		<button type="submit" ng-show="new_jc_form" class="btn btn-primary btn-lg pull-right">Add Job Control</button>
		<button type="submit" ng-hide="new_jc_form" class="btn btn-primary btn-lg ">Save Job Control</button>
		{% if user.is_superuser %}
		<a ng-hide="new_jc_form" id="delete-jc" class="btn btn-danger btn-lg pull-right" ng-click="deleteJC()">Delete Job Control</a>
		{% endif %}
	</td>
</tr>

</table>
