<table class="table table-bordered">
	<tr class="bg-info">
		<th colspan="1"><label for="id_serial">Serial:</label></th>
		<td id="jobtimecontrol" colspan="3">
			<input class="form-control"  name="search_serial" ng-model="search_serial" type="text" ng-change="searchJobTimeControl(search_serial)"  placeholder="start typing to search jobs or leave blank for new" autocomplete="off" ng-required="true">
			<span ng-show="job_time_control.search_serial.$dirty && job_time_control.search_serial.$error.required">*This field is required.</span>
			<div id="job_control_list" ng-show="show_job_time_control_list">
				<table class="table">
					<thead>
						<tr>
							<th>Serial</th>
							<th>Job number</th>
							<th>Entry</th>
						</tr>
					</thead>
					<tbody>

						<tr ng-repeat="job in job_time_controls" ng-click="selectJobTimeControl(job)">
							<td>{[{ job.serial }]}</td>
							<td>{[{ job.job_number }]}</td>
							<td>{[{ job.entry }]}</td>
						</tr>
						
					</tbody>
				</table>
			</div>
			<input type="hidden" name="serial" value="{[{serial}]}" id="id_serial">
		</td>
	</tr>
	<tr>
		<th colspan="1"><label for="id_job_number">Job Number:</label></th>
		<td colspan="3">
			<search-job-control job="job" select-job="selectJob"></search-job-control>
			<br/>
			<table class="table table-bordered" ng-show="show_job_details">
				<thead>
					<tr class="bg bg-info">
						<th>Sold To</th>
						<th>Job Name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{[{job_sold_to.contact_name}]}
						</td>
						<td>
							{[{job_name}]}
						</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<th colspan="1"><label for="id_entry">Entry Date:</label></th>
		<td colspan="3">
			<input class="form-control datetimepicker" id="id_entry" name="entry" ng-model="entry" type="text"  value="{[{entry}]}" autocomplete="off">
		</td>
	</tr>
	<tr>
		<th colspan="1"><label for="id_total_hours_worked">Total Hours Worked:</label></th>
		<td colspan="3">
			<input class="form-control" id="id_total_hours_worked" name="total_hours_worked" ng-model="total_hours_worked" type="number" min="0" max="10000" step="0.01" value="0.00"  value="{[{total_hours_worked}]}" autocomplete="off" float-value>
		</td>
	</tr>
	<tr>
		<th colspan="1"><label for="id_department_worked">Department Worked:</label></th>
		<td colspan="3">
			<select class="form-control" id="id_department_worked" name="department_worked">
			{% for production_type in production_types %}
				<option value="{{production_type.id}}">
					{{production_type.production_type_name}}
				</option>
			{% endfor %}
			</select>
			
		</td>
	</tr>
	<tr>
		<th colspan="1"><label for="id_eng_comment">Eng Comment:</label></th>
		<td colspan="3">
			<textarea class="form-control" id="id_eng_comment" name="eng_comment" ng-model="eng_comment" value="{[{eng_comment}]}"></textarea>
		</td>
	</tr>
	<tr>
		<td></td>
		<td colspan="3">
			<button type="submit" class="btn btn-primary pull-right" ng-show='new_job_time_control'>Add Job Time Controll</button>
			<button type="submit" class="btn btn-primary pull-left" ng-hide='new_job_time_control'>Update Job Time Controll</button>
			<a class="btn btn-danger pull-right" ng-hide='new_job_time_control'>Delete Job Time Controll</a>
		</td>
	</tr>
</table>