<table class="table add-invoice-form">
<tr class="bg-info">
	<th width="150">
		<label for="id_invoice_number">Invoice Number:</label>
	</th>
	<td>
		<div style="position: relative;">
			<input class="form-control" ng-model='search_invoice' maxlength="25" id="id_invoice_number_search"  type="search" name="invoice_number_search" ng-change="searchInvoice(search_invoice)" placeholder="Search for invoice leave Blank for New invoice" autocomplete="off" ng-disabled="invoice_checked">
			
			
				<div id="invoice_list" ng-show="show_invoice_list">
					<table class="table">
						<thead>
							<tr>
								<th>Invoice Number</th>
								<th>PO</th>
								<th>Date shipped</th>
								<th>Status</th>
								<th>Total Amount</th>
								<th>
									<a href="" class="close" ng-click="closeMe('show_invoice_list')">x</a>
								</th>
							</tr>
							
						</thead>
						<tbody>
							<tr ng-repeat="invoice in invoices" ng-click="selectInvoice(invoice)">
								<td>{[{invoice.invoice_number}]}</td>
								<td>{[{invoice.job_number}]}</td>
								<td>{[{invoice.invoice_date}]}</td>
								<td>{[{invoice.status_id}]}</td>
								<td>{[{ invoice.total_amount }]}</td>
								<td></td>
							</tr>
							
						</tbody>
						
					</table>
					
				</div>
				<div ng-show="!invoices.length && show_invoice_list">
					No Packing List Found!
				</div>
				
			
		</div>
		<input id="id_invoice_number" name="invoice_number" type="hidden" value="{[{search_invoice}]}">
		
		
	</td>
	<th width="150">
		<label for="id_pl_number">PL Number:</label>
	</th>
	<td>
		<div style="position: relative;">
			<input class="form-control" ng-model='search_pl' maxlength="25" id="id_pl_number_search"  type="search" name="pl_number_search" ng-change="searchPl(search_pl)" placeholder="Search for PL" autocomplete="off" ng-disabled="pl_checked">
			<span ng-show="invoice_add_form.pl_number_search.$dirty && invoice_add_form.pl_number_search.$error.required">*This field is required.</span>
				
					<div id="pl_list" ng-show="pls.length && show_pl_list">
						<table class="table">
							<thead>
								<tr>
									<td>PL Number</td>
									<td>Job Number</td>
									<td>Date shipped</td>
									<td>Status</td>
									<th><a href="" class="close" ng-click="closeMe('show_pl_list')">x</a></th>
								</tr>
								
							</thead>
							<tbody>
								<tr ng-repeat="pl in pls | filter:search_pl" ng-click="selectPl(pl)">
									<td>{[{pl.pl_number}]}</td>
									<td>{[{pl.job_number}]}</td>
									<td>{[{pl.date_shipped}]}</td>
									<td>{[{pl.status}]}</td>
									<td></td>
								</tr>
								
							</tbody>
							
						</table>
						
					</div>
					<div ng-show="!pls.length && show_pl_list">
						No Packing List Found!
					</div>
				
		</div>
		<input id="id_pl" name="pl" type="hidden" value="">
	</td>
	
</tr>
<tr class="bg-success">
	<th width="150">
		<label for="id_invoice_date">Invoice Date:</label>
	</th>
	<td>
		<input ng-model="dateInvoice" class="form-control datepicker" id="id_invoice_date" name="date" value="{[{dateInvoice}]}" placeholder="Invoice date" type="text" >
	</td>
	
	<td><label for="id_job">Job:</label></td>
	<td>
		<search-job-control job="job" select-job="selectJob"></search-job-control>
			<br/>
			<table class="table table-bordered" ng-show="show_job_details">
				<thead>
					<tr class="bg bg-primary">
						<th>Sold To</th>
						<th>Job Name</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							{[{job.sold_to.contact_name}]}
						</td>
						<td>
							{[{job.job_name}]}
						</td>
					</tr>
				</tbody>
			</table>
	</td>
		
</tr>

<tr class="bg-info">
	<th width="150" ng-class="{'ng-pristine': invoice_add_form.search_sold_to.$pristine || invoice_add_form.search_sold_to.$invalid}">
		<label for="id_sold_to">Sold To:</label>
	</th>
	<td>
		<div class="contact_box">
			<input type="text" ng-model="search_sold_to" name="search_sold_to" placeholder="start typing to search" class="form-control" ng-change="searchSoldTo(search_sold_to)" ng-required="true" style="width: 95%; display: inline;"><a href="/admin/contacts/contact/add/" class="add-another" id="add_id_primary_supplier" onclick="return showAddAnotherPopup(this);"> <img src="/statics/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>

			<span ng-show="invoice_add_form.search_sold_to.$dirty && invoice_add_form.search_sold_to.$error.required">*This field is required.</span>

			<table class="table" id="sold_to_contact_details">
				<tr>
						<th width="150">Contact Name</th>
						<td colspan="2">{[{ sold_to.attention_to }]}</td>
					</tr>
					<tr>
						<th>Address</th>
						<td colspan="2">
							<p ng-if="sold_to.address_1 != ''">
								{[{sold_to.address_1}]}
							</p>
							<p ng-if="sold_to.address_2 != ''">
								{[{sold_to.address_2}]}
							</p>
							<p>{[{sold_to.city}]}<span ng-if="sold_to.province != ''">, {[{sold_to.province}]}</span></p>
							
							<p>{[{sold_to.country}]}</p>
							<p>{[{ sold_to.postal_code }]}</p>
						</td>
					</tr>
					<tr>
						<th>Phones</th>
						<td colspan="2">
							<li ng-repeat="ph in sold_to.phones">
								<span class='bg-info phone'>{[{ ph.type}]}: {[{ ph.number}]} </span> <span ng-if="ph.ext != ''">Ext: ({[{ph.ext}]})</span>
							</li>
						</td>
					</tr>
					<tr>
						<th>Emails</th>
						<td colspan="2">
							<li ng-repeat="em in sold_to.emails">
								<span class='bg-info email'>{[{ em.email_address}]} ({[{em.email_type}]})</span>
							</li>
						</td>
					</tr>			
				
			</table>

			<table class="table sold_to_contact" id="sold_to_contact_list" ng-show="show_sold_to_contact_list">
				<thead>
					<tr>
						<th>Contact Name</th><th>Address 1</th><th> Primary Cont No. </th>
						<th><a href="" class="close" ng-click="closeMe('show_sold_to_contact_list')">x</a></th>
						
					</tr>
				</thead>
				<tbody>
				
						<tr class="ui-menu-item" ng-repeat="contact in soldto" ng-click="setSoldto(contact)">
							
							
							<td class="contact_name">{[{contact.contact_name}]}</td>
							<td class="address_1">
								<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
								<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
								<p>
								<span ng-if="contact.postal_code !=''">{[{ contact.postal_code }]}, </span>
								<span ng-if="contact.country != ''">{[{contact.country}]}</span>
								</p>
							</td>
							
							<td class="city">
								<div class='phone' ng-repeat="phon in contact.phones" ng-if="$first">
									{[{phon.number}]} <span ng-if="phon.ext !=''"> (ext: {[{phon.ext}]})</span>
								</div>
							</td>
							
							<td>
								
							</td>
						</tr>
					<tr ng-show="!soldto.length">
						<td colspan="4">No contacts</td>
					</tr>
				</tbody>
			</table>

			<input type="hidden" name="sold_to" id="id_sold_to">
		</div>

	</td>
		<th width="150">
		<label for="id_ship_to">Ship to:</label>
	</th>
	<td>
	<div class="contact_box">

		<input type="text" ng-model="search_ship_to" name="search_ship_to" placeholder="start typing to search ship to contact" class="form-control" ng-change="searchShipTo(search_ship_to)" style="width: 95%; display: inline;"><a href="/admin/contacts/contact/add/" class="add-another" id="add_id_primary_supplier" onclick="return showAddAnotherPopup(this);"> <img src="/statics/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>
		
		<table class="table ship_to_contact" id="ship_to_contact_list" ng-show="show_ship_to_contact_list">
			<thead>
				<tr>
					<th>Contact Name</th>
					<th>Address</th>
					
					<th> Cont No.</th>
					<th><a href="" class="close">x</a></th>
				</tr>
			</thead>
			<tbody>
				
				<tr class="ui-menu-item" ng-repeat="contact in shipto" ng-click="selectShipTo(contact)">
						
						
						<td class="contact_name">{[{contact.contact_name}]}</td>
						<td class="address_1">
							<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
							<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
							<p>
							<span ng-if="contact.postal_code !=''">{[{ contact.postal_code }]}, </span>
							<span ng-if="contact.country != ''">{[{contact.country}]}</span>
							</p>
						</td>
						
						<td class="city">
							<div class='phone' ng-repeat="phon in contact.phones" ng-if="$first">
								{[{phon.number}]} <span ng-if="phon.ext !=''"> (ext: {[{phon.ext}]})</span>
							</div>
						</td>
						
						<td>
							
						</td>
					</tr>
			</tbody>
		</table>

		<input id="id_ship_to" name="ship_to" type="hidden">
	</div>

	</td>
</tr>
<tr class="bg-success">	

	<th width="150">
		<label for="id_broker">Broker:</label>
	</th>
	<td>
		<div class="contact_box">
			<input type="text" ng-model="search_broker" name="search_broker" placeholder="start typing to search" class="form-control" ng-change="searchCustomerBroker(search_broker)" style="width: 95%; display: inline;"><a href="/admin/contacts/contact/add/" class="add-another" id="add_id_primary_supplier" onclick="return showAddAnotherPopup(this);"> <img src="/statics/admin/img/icon_addlink.gif" width="10" height="10" alt="Add Another"></a>

			<span ng-show="invoice_add_form.search_broker.$dirty && invoice_add_form.search_broker.$error.required">*This field is required.</span>

			<table class="table broker_contact" id="broker_contact_list" ng-show="show_broker_contact_list">
				<thead>
					<tr>
						<th>Contact Name</th>
						<th>Address</th>
						
						<th> Cont No.</th>
						<th><a href="" class="close">x</a></th>
					</tr>
				</thead>
				<tbody>
					
					<tr class="ui-menu-item" ng-repeat="contact in customer_brokers" ng-click="setBroker(contact)">
							
							
							<td class="contact_name">{[{contact.contact_name}]}</td>
							<td class="address_1">
								<p ng-if="contact.address_1 != ''">{[{contact.address_1}]}</p>
								<p ng-if="contact.city != ''">{[{contact.city}]}<span ng-if="contact.province != ''">, {[{contact.province}]}</span></p>
								<p>
								<span ng-if="contact.postal_code !=''">{[{ contact.postal_code }]}, </span>
								<span ng-if="contact.country != ''"> {[{contact.country}]}</span>
								</p>
							</td>
							
							<td class="city">
								<div class='phone' ng-repeat="phon in contact.phones" ng-if="$first">
									{[{phon.number}]} <span ng-if="phon.ext !=''"> (ext: {[{phon.ext}]})</span>
								</div>
							</td>
							
							<td>
								
							</td>
						</tr>
					<tr ng-show="!contacts.length">
						<td colspan="4">No contacts</td>
					</tr>
				</tbody>
			</table>

			<input type="hidden" name="broker" id="id_broker">
		</div>
		<table class="table" id="broker_contact_details">
			<tr>
				<th width="150">Contact Name</th>
				<td colspan="2">{[{ broker.attention_to }]}</td>
			</tr>
			<tr>
				<th>Address</th>
				<td colspan="2">
					<p ng-if="broker.address_1 != ''">
						{[{broker.address_1}]}
					</p>
					<p ng-if="broker.address_2 != ''">
						{[{broker.address_2}]}
					</p>
					<p>{[{broker.city}]}<span ng-if="broker.province != ''">, {[{broker.province}]}</span></p>
					
					<p>{[{broker.country}]}</p>
					<p>{[{ broker.postal_code }]}</p>
				</td>
			</tr>
			<tr>
				<th>Phones</th>
				<td colspan="2">
					<li ng-repeat="ph in broker.phones">
						<span class='bg-info phone'>{[{ ph.type}]}: {[{ ph.number}]} </span> <span ng-if="ph.ext != ''">Ext: ({[{ph.ext}]})</span>
					</li>
				</td>
			</tr>
			<tr>
				<th>Emails</th>
				<td colspan="2">
					<li ng-repeat="em in broker.emails">
						<span class='bg-info email'>{[{ em.email_address}]} ({[{em.email_type}]})</span>
					</li>
				</td>
			</tr>		
			
		</table>
	</td>
	<th width="150">
		<label for="id_broker">Status:</label>
	</th>
	<td>
		<select class="form-control" name="status">
			<option value="1">New</option>
			<option value="2">Invoiced</option>
			<option value="3">Paid (full)</option>
			<option value="4">Paid (partial)</option>
			<option value="5">Closed</option>
		</select>
	</td>
</tr>

<tr class="bg-info">
	<th width="150">
		<label for="id_fob">Fob:</label>
	</th>
	<td>
		<input class="form-control" id="id_fob" maxlength="200" name="fob" placeholder="FOB" type="text" value="1400 Phillip Murray Avenue, Oshawa, Ontario - L1J7E8">
	</td>
	<th width="150">
		<label for="id_terms"> Invoiced Terms:</label>
	</th>
	<td>
		<select class="form-control" id="id_terms" name="terms">
			{% for pt in terms %}
				<option value="{{pt.id}}" {% if pt.term == 'Net 30' %} selected {% endif %}>{{pt.term}}</option>
			{% endfor %}
		</select>
	</td>
	
</tr>

<tr class="bg-success">	
	<th width="150">
		<label for="id_ship_via">Ship via:</label>
	</th>
	<td>
		<select class="form-control" id="id_ship_via" name="ship_via">
		{% for dc in delivery_choices %}
			<option value="{{dc.id}}">{{dc.delivery_choice}}</option>
		{% endfor %}
		</select>
	</td>

	<th width="150">
		<label for="id_po">Customer PO Reference:</label>
	</th>
	<td>
		<input type="text" name="po" id='id_po' class="form-control">
	</td>
</tr>

<tr>
	<td colspan="4" ng-class="{'item_error ng-pristine': !item_added, 'bg-primary': item_added }" align="center">
		<h4>Add Items to Invoice</h4>		
	</td>
</tr>

<tr class="bg-info">
	<td colspan="4">
		<div class="item_box">
						
			<table class="table item">
			<thead>
				<tr>
					<th width="150">Ref</th>
					<th width="150">Item Number</th>
					<th width="">Description</th>
					<th width="140">Unit</th>
					<th width="140">Qty</th>
					<th width="140">Price</th>
					<th width="140">Subtotal</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="add_item_list">
				<tr style="border-top: 2px dotted red;">
				<td>
					<input type="text" name="ref" class="form-control" placeholder="Ref..">
				</td>
				<td style="position: relative;">
					<input type="text" class="form-control added_item_number" name="" value="" ng-model="search_item" ng-change="searchItem(search_item)" placeholder="search for item" autocomplete="off">

					<table class="table supplier_contact" id="items_list">
						<thead>
								<tr>
									<th width="110">Item Number</th>
									<th width="160">Description</th>
									<th>Unit Measure</th>
									<th>Wholesale Cost</th>
									<th>Currency</th>
									<th>Primary Supplier</th>
									<th>QTY on hand</th>
									<th>Qty on Order</th>
									<th>Last Ordered</th>
									<th><a href="" class="close" ng-click="hideItemList()">x</a></th>
								</tr>
							</thead>
						<tbody>
							<tr ng-repeat="item in items" ng-click="selectItem(item)">
								<td>{[{item.item_number}]}</td>
								<td>{[{item.description}]}</td>
								<td>{[{item.item_unit_measure}]}</td>
								<td>{[{item.wholesale_cost}]}</td>
								<td>{[{item.currency}]}</td>
								<td>{[{item.primary_supplier.contact_name}]}</td>
								<td>{[{item.quantity_on_hand}]}</td>
								<td>{[{item.quantity_on_order}]}</td>
								<td>{[{item.last_ordered}]}</td>
								<td></td>
								
							</tr>

							<tr ng-show="!items.length">
								<td colspan="10">No Items</td>
							</tr>
						</tbody>

					</table>
				</td>
				<td>
					<textarea rows="1" class="form-control demo_box" readonly=""></textarea>
				</td>
				<td>
					<input type="text" name="" class="form-control" placeholder="Unit" readonly>
				</td>
				
				<td>
					<input type="number" class="form-control demo_box" placeholder="Qty" readonly="readonly">
				</td>
				<td>
					<input type="currency" class="form-control demo_box" placeholder="Price"readonly="readonly">
				</td>
				<td>
					<input type="currency" step="0.0001" class="form-control demo_box" placeholder="Subtotal" readonly="readonly">
				</td>
				
				
				<td><a class='remove-item btn' ng-click='removeField($event)'><span class='glyphicon glyphicon-remove'></span></a></td>
				</tr>
				<tr class="footer"></tr>			
			</tbody>
			<tr id='calculated_total_amount'>
				<td width="150">
					Items Total Qty:
				</td>
				<td colspan="3">
					<span id='items_total_qty'>0.0</span>
					<input class="form-control" id="id_invoice_qty" name="invoice_qty" type="hidden">
				</td>
				<td colspan="1">Total Items Amount</td>
				<td width="120">{{ currency.get_currency_icon }}<span id="sub_total_amount">0</span></td>
				<td width="10" colspan="5"></td>
			</tr>
				
			</table>
				
		</div>
	</td>	

</tr>
<tr>
	<td colspan="2"></td>
	<th><label for="id_sub_total"> Subtotal:</label></th>
	<td>
		<input type="text" ng-model='sub_total' class="form-control" name="sub_total" id="id_sub_total" readonly="readonly" >
	</td>

</tr>
<tr>
	<td colspan="2"></td>
	<th width="10%"><label for="id_discount">Discount:</label></th>
	<td width="40%">
		<div class="input-group">
			<input type="number" ng-model='discount' class="form-control" name="discount" id="id_discount" value="0">
			<span class="btn">
				<input type="radio" name="discount_type" ng-model="discount_type" value="fixed" ng-change="hello()" style="margin-right: 5px;">Fixed <input type="radio" name="discount_type" ng-model="discount_type" value="parcent" ng-change="hello()" >Parcent (%)
			</span><!-- /btn-group -->
		</div><!-- /input-group -->
	</td>
</tr>
<tr>
	<td colspan="2"></td>
	<th>
		<label for="id_discount">Comment:</label>
	</th>
	<td>
		<textarea name="comment" class="form-control" id="id_comment"></textarea>
	</td>
</tr>
<tr>
	<td colspan="2"></td>
	<th><label for="id_discounted_sub_total">Discounted Sub Total:</label></th>
	<td>
		<input type="text" ng-model='discounted_sub_total' class="form-control" name="discounted_sub_total" id="id_discounted_sub_total" readonly="readonly">
	</td>
</tr>
<tr class="bg-success">
	<th width="150">
		<label for="id_hst_taxable">Hst taxable:</label>
	</th>
	<td>
		<select class="form-control tax" ng-model="hst_tax" id="id_hst_taxable" name="hst_taxable" placeholder="Blanket PO" ng-change="updateTax()">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</select>
		<input class="form-control decimal tax" ng-if="hst_tax" ng-model="hst_tax_amount" ng-change="updateTax()" id="id_hst_taxable_amount" name="hst_taxable_amount" placeholder="HST Taxable Amount" type="text">
	</td>
	<th width="150">
		<label for="id_pst_taxable">Pst taxable:</label>
	</th>
	<td>
		<select class="form-control tax" ng-model="pst_tax" id="id_pst_taxable" name="pst_taxable" placeholder="Blanket PO" ng-change="updateTax()">
			<option value="0">NO</option>
			<option value="1">YES</option>
		</select>
		<input class="form-control decimal tax" ng-if="pst_tax" ng-model="pst_tax_amount" id="id_pst_taxable_amount" name="pst_taxable_amount" ng-change="updateTax()" placeholder="PST Taxable Amount" type="text" autocomplete="off">
	</td>
</tr>

<tr class="bg-info">
	<th width="150">
		<label for="id_invoice_currency">Invoice currency:</label>
	</th>
	<td>
		<select class="form-control" id="id_invoice_currency" name="invoice_currency">
		{% for currency in currencies %}
		<option data-currency-icon="{{ currency.get_currency_icon }}" value="{{currency.id}}">
				{{ currency.currency }} ({{ currency.get_currency_icon }})
			</option>
		{% endfor %}
		</select>
	</td>
	<th width="150">
		<label for="id_total_po_amount">Total Invoice amount:</label>
	</th>
	<td>
		<input class="form-control" ng-model="total_amount" id="id_total_amount" name="total_amount" readonly="readonly" type="text">
	</td>
</tr>

<tr>
	<td colspan="2">
		<button type="submit" ng-hide="show_new_invoice" class="btn btn-primary btn-large form-control" ng-disabled="!(invoice_add_form.$valid && invoice_add_form.$dirty && item_added)">Update Invoice</button>
		
	</td>
	<td colspan="2">
		<button type="submit" ng-show="show_new_invoice" class="btn btn-primary btn-large form-control" ng-disabled="!(invoice_add_form.$valid && invoice_add_form.$dirty && item_added)">Create Invoice</button>
		{% if user.is_superuser %}
			<a ng-hide="show_new_invoice" id="delete-invoice" class="btn btn-danger btn-large" ng-click="deleteInvoice()">Delete Invoice</a>
		{% endif %}
	</td>
</tr>
</table>