<form name="pocontact" action="/purchase/add-supplier-extra-contact/" method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title" id="myModalLabel">Add Extra Supplier Contact</h4>
</div>


<div class="modal-body">
	<table class="add-user-table">
		<tr>
			<th>Contact Type</th>
			<td>
				<select class="form-control" id="id_contact_type" name="contact_type">
					<option value="phone">Phone</option>
					<option value="email">Email</option>
					<option value="fax">Fax</option>
				</select>
			</td>
		</tr>
		<tr>
			<th>
				<label>Department</label>
			</th>
			<td>
				<input type="text" class="form-control" id="id_department" name="department">
			</td>
		</tr>
		<tr>
			<th>
				<label>Enter Phone Number</label>
			</th>
			<td>
				<input type="text" class="form-control" id="id_contact" name="contact">
			</td>
		</tr>
		<tr>
			<th>
				<label>Phone Ext</label>
			</th>
			<td>
				<input type="text" class="form-control" id="id_contact_ext" name="contact_ext">
			</td>
		</tr>
		<tr>
			<th>
				<label>Contact Name</label>
			</th>
			<td>
				<input type="text" class="form-control" id="id_contact_name" name="contact_name">
			</td>
		</tr>
	</table>
</div>



<div class="modal-footer">
    <button type="button" class="btn btn-default close-modal" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Add Contact</button>
</div>
</form>
<script type="text/javascript">
	(function(){

		$("form[name='pocontact']").on("submit", function(e){
			e.preventDefault();
			form_data = $(this).serialize();
			// console.log($(this).attr('action'));
			$.ajax({
				type: "POST",
				url: $(this).attr('action'),
				data: form_data,
				success: function(rdata) {
					console.log(rdata);
	                $( "button.close-modal" ).trigger( "click" );
	                // var em = "<li> mamun@gmali.com</li>";
	                var extraContactPlaceHolder = $("#supplier_extra_contact_list tbody");
	                var no = extraContactPlaceHolder.find("tr");	                
	                
	                if (no) {
	                	extraContactPlaceHolder.html(rdata);
					} else {
						extraContactPlaceHolder.append(rdata);
					}
	                
	                // window.location.reload(false);
	                // win = window.open("",'_blank');
	                // win.location.href = "/contacts/edit/" + rdata + "/";

	            }
			});

		});

		var label = $("#id_contact").closest("tr").find("label");
		var ext = $("#id_contact_ext").closest("tr");

		$('select#id_contact_type').on('change', function (e) {

		    var optionSelected = $("option:selected", this);
		    
		    var textSelected = optionSelected.text();

		    if(textSelected == 'Email') {
		    	
		    	label.text("Enter Email");
		    	ext.hide();

		    } else if(textSelected == 'Phone') {
		    	
		    	ext.show();
		    	ext.find("label").text('Enter Phone Ext');
		    	label.text("Enter Phone Number");

		    } else if(textSelected == 'Fax') {
		    	
		    	ext.show();
		    	ext.find("label").text('Enter Fax Ext');
		    	label.text("'Enter Fax Number");
		    	
		    }
		});

	})(jQuery)

</script>