{% extends "base.html" %}



{% block content %}
<style type="text/css">
#shipto_contact_list .selectable {
	position: absolute;
	right: 550px;
}
#show_job_list {
	right: 0px;
}
#supplier, #producer {
	width: 550px;
	position: relative;
}
#contact-list {
	/*border: 2px solid #333;*/
}
#container, #container-producer {
	width: 520px;
	position: absolute;
}

#container .ui-widget-content-custom, #container-producer .ui-widget-content-custom {
	background-color: #333 !important;
	color: #FFF;
}
/*=============================*/
#ui-datepicker-div {
	z-index: 10 !important;
}
.add-po-form {

}
.panel-body {
	padding: 0px !important;
}
.item_box {
	position: relative;
}

.input-group {
	width: 90% !important;
}

#items_list {
	width: 1120px !important;
	max-width: 1120px !important;
	position: absolute;
	top: 42px;
	left: 5px;
	z-index: 1000;
}
#items_list thead {
	background-color: #333 !important;
	color: #FF0;
}

.glyphicon {
	color: red;
}
.panel-body {
	background-color: #FFF !important;

}
table.item {
	margin-top: 10px;
	background-color: #DDD !important;
}
table.item thead {
	background-color: #333;
	color: #FF0;
}
#calculated_total_amount {
	background-color: #999;
}
#calculated_total_amount td {
	background-color: #333;
	color: #FF0;
	font-size: 16px;
}
#po_list table tbody tr{
	border: 1px solid #000 !important;
}
span.amount {
	color: #FF0;
	font-size: 16px;
}
.topmargin {
	margin-top: 5px;
}
.remove-item, .add-item {
	width: 20px;
	display: inline;
	padding: 2px !important;
}
tr.add_item {
	border-top: 2px solid #333;
}
tr.item_custom_detail {
	background-color: #777;
}
a.close {
	color: red !important;
	opacity: 1 !important;
}
.rcv_date_label {
	margin-left: 0px;
}

.rcv_date {
	margin-left: 10px;
	/*background-color: green;*/
	padding: 5px;
}
.item_desc {
	margin-top: 5px;
	padding: 2px;
	border: 1px solid #CCC;
}
span.email {
	padding: 5px;
	margin: 1px 5px;
	font-weight: bold;
}
.tax {
	width: 45% !important;
	display: inline-block !important;
}
#add_item_list .form-control {
	font-size: 12px;
}
input.ng-invalid-max {
	background-color: red;
}
#po_list {
	width: 98%;
	border: 1px solid #000;
}
#po_list table {
	margin-bottom: 0px;
}
/*#po_list table thead {
	background-color: #000;
	color: #FFF;
}*/

#po_list table tbody tr:hover {
	background-color: #ddd;
	color: #000;
}
.ng-invalid {
	background-color: #FAA;
}
h2.label {
	display: block;
	font-size: 12px;
	margin: 2px !important;
	text-align: left;
	color: #000;	
}

h3.label {
	display: block;
	font-size: 10px;
	margin: 2px !important;
	text-align: left;
	color: red;
}

b.label {
	display: block;
	font-size: 10px;
	margin: 2px !important;
	text-align: left;
}

.label {
	padding-top: 5px !important;
}

</style>
<div class="container-fluid" ng-app="poApp">
{% if messages %}
<section id="message">
	{% for message in messages %}
    	<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</section>
{% endif %}

	<section class="row " ng-controller="AddPOController">
	<article class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4>Add Purchase Order</h4>
		  	</div>
			<div class="panel-body">

				<form name='purchase_add_form' action="/purchase/add-po/" method="POST" enctype="multipart/form-data">	
				{% include "purchase/partials/add-po-form.html" %}
				</form>
			</div>
		</div>
	</article>
	</section>
</div>
{% include "modals/item-details-modal.html" %}

{% include "modals/add-modal.html" %}
<script type="text/javascript">
(function(){

$(".datepicker").datepicker();

$(document).on("change", "input.decimal", function(e){
	var myval = parseFloat($(this).val())
	$(this).val(myval.toFixed(2));
});

$("a#add_id_primary_supplier").on("click", function(e){
	e.preventDefault();
	url = "/contacts/add/rel/",
	mdal = $('#addModal');
	mdal.on("shown.bs.modal", function(){
		$("#addModal .modal-content").load(url);
		// console.log(url);
	}).modal();
	return false;
});

// $("a.close").on("click", function(){
// 	$(this).closest('table').hide();
// });
$(document).on("click", "a.call_number", function(e){
	e.preventDefault();
	alert("Calling...");
	var url = $(this).data('call');
	console.log(url);
	$.ajax({
		type: "POST",
		url: url,
		success: function(rdata) {
               console.log(rdata);
           }
	});
});

$(document).on("click", "a.delete-contact", function(e){
	// console.log("Hello world!");
	var row = $(this).closest("tr");
	row.remove();
});

$("a.call_number").on("click", function(e){
	// alert("hello");
	// e.preventDefault();
	console.log('hello');

});


$(document).on("change", "input[name='item_cost']", function(e){
	var cost = parseFloat($(this).val());
	var qty = parseFloat($(this).closest('tr').find('input[name="item_qty"]').val());
	
	if(isNaN(qty)) {
		qty = 0.0;
	}
	console.log(cost);
	var sub_total = parseFloat(cost * qty).toFixed(2);
	// console.log(sub_total);
	$(this).closest('tr').find("input[name='item_sub_total']").val(sub_total);

	var item_total = 0;

	$("tbody#add_item_list tr input[name='item_sub_total']").each(function(index){
		var subtotal = $(this).val();
		item_total = item_total + parseFloat(subtotal);
		// console.log(item_total);
	});

	$("#calculated_total_amount span.amount").text(item_total.toFixed(2));
	$("#po_total_before_tax").val(item_total.toFixed(2));

	var hst_tax = $("#id_hst_taxable").val();
	var pst_tax = $("#id_pst_taxable").val();
	
	if(hst_tax == 'True'){
		var hst_tax_amount = parseFloat($("#id_hst_taxable_amount").val());
		
		if(isNaN(hst_tax_amount)) {
			hst_tax_amount = 0.0;
		}

		hst_tax_total = parseFloat((item_total * hst_tax_amount)/100).toFixed(2);
	} else {
		hst_tax_total = 0.00;
	}

	$("#hst_tax_amount").val(parseFloat(hst_tax_total).toFixed(2));

	if(pst_tax == 'True'){
		var pst_tax_amount = parseFloat($("#id_pst_taxable_amount").val());

		if(isNaN(pst_tax_amount)) {
			pst_tax_amount = 0.0;
		}

		pst_tax_total = parseFloat((item_total * pst_tax_amount)/100).toFixed(2);
	} else {
		pst_tax_total = 0.00;
	}

	$("#pst_tax_amount").val(parseFloat(pst_tax_total).toFixed(2));

	var total_tax_amount = parseFloat(pst_tax_total) + parseFloat(hst_tax_total);
	$("#total_tax_amount").val(total_tax_amount.toFixed(2));

	item_total = parseFloat(item_total) + parseFloat(total_tax_amount);

	$("#id_total_po_amount").val(item_total.toFixed(2));
	item_total = 0;

});   	

$(document).on("change", "input[name='item_sub_total']",function(e){
	var item_total = 0;
	$("tbody#add_item_list tr input[name='item_sub_total']").each(function(index){
		var subtotal = $(this).val();
		item_total = item_total + parseFloat(subtotal);
		// console.log(itemtotal);
	});
	
	$("#calculated_total_amount span.amount").text(item_total.toFixed(2));
	$("#po_total_before_tax").val(item_total.toFixed(2));

	var hst_tax = $("#id_hst_taxable").val();
	var pst_tax = $("#id_pst_taxable").val();
	
	if(hst_tax == 'True'){
		var hst_tax_amount = parseFloat($("#id_hst_taxable_amount").val())
		hst_tax_total = parseFloat((item_total * hst_tax_amount)/100).toFixed(2);
	} else {
		hst_tax_total = 0.00;
	}
	$("#pst_tax_amount").val(parseFloat(pst_tax_total).toFixed(2));

	if(pst_tax == 'True'){
		var pst_tax_amount = parseFloat($("#id_pst_taxable_amount").val())
		pst_tax_total = parseFloat((item_total * pst_tax_amount)/100).toFixed(2);
	} else {
		pst_tax_total = 0.00;
	}

	$("#pst_tax_amount").val(parseFloat(pst_tax_total).toFixed(2));

	var total_tax_amount = parseFloat(pst_tax_total) + parseFloat(hst_tax_total);
	$("#total_tax_amount").val(total_tax_amount.toFixed(2));

	item_total = parseFloat(item_total) + parseFloat(total_tax_amount);

	$("#id_total_po_amount").val(item_total.toFixed(2));

	item_total = 0;
});

$(document).on("change", "input[name='item_qty']", function(e){
	var qty = parseFloat($(this).val());
	var cost = parseFloat($(this).closest('tr').find('input[name="item_cost"]').val());
	var sub_total = parseFloat(cost * qty).toFixed(2);

	$(this).closest('tr').find("input[name='item_sub_total']").val(sub_total);

	var item_total = 0;

	$("tbody#add_item_list tr input[name='item_sub_total']").each(function(index){
		var subtotal = $(this).val();
		item_total = item_total + parseFloat(subtotal);
		// console.log(item_total);
	});
	
	
	$("#calculated_total_amount span.amount").text(item_total.toFixed(2));
	$("#po_total_before_tax").val(item_total.toFixed(2));
	
	var hst_tax = $("#id_hst_taxable").val();
	var pst_tax = $("#id_pst_taxable").val();
	
	if(hst_tax == 'True'){
		var hst_tax_amount = parseFloat($("#id_hst_taxable_amount").val());

		if(isNaN(hst_tax_amount)) {
			hst_tax_amount = 0.0;
		}

		hst_tax_total = parseFloat((item_total * hst_tax_amount)/100).toFixed(2);
	} else {
		hst_tax_total = 0.00;
	}
	$("#hst_tax_amount").val(parseFloat(hst_tax_total).toFixed(2));

	if(pst_tax == 'True'){
		var pst_tax_amount = parseFloat($("#id_pst_taxable_amount").val());

		if(isNaN(pst_tax_amount)) {
			pst_tax_amount = 0.0;
		}

		pst_tax_total = parseFloat((item_total * pst_tax_amount)/100).toFixed(2);
	} else {
		pst_tax_total = 0.00;
	}

	$("#pst_tax_amount").val(parseFloat(pst_tax_total).toFixed(2));

	var total_tax_amount = parseFloat(pst_tax_total) + parseFloat(hst_tax_total);
	$("#total_tax_amount").val(total_tax_amount.toFixed(2));

	item_total = item_total + total_tax_amount;

	$("#id_total_po_amount").val(item_total.toFixed(2));
	
	
	var item_subtotal_qty = 0;
	$("tbody#add_item_list tr input[name='item_qty']").each(function(index){
		var subtotal_qty = $(this).val();
		item_subtotal_qty = item_subtotal_qty + parseFloat(subtotal_qty);
	});
	$("#id_items_total").val(item_subtotal_qty.toFixed(2));
	$("span#items_total_qty").html(item_subtotal_qty.toFixed(2));

	item_total = 0;
	item_subtotal_qty = 0;
	
});
var poApp = angular.module("poApp", ['components'], function ($interpolateProvider) {
        $interpolateProvider.startSymbol("{[{");
        $interpolateProvider.endSymbol("}]}");
});

poApp.controller('AddPOController', ['$scope', '$http', '$compile', function ($scope, $http, $compile) {
	
	$scope.init = function (){

		$scope.show_contact_list = false;
		$scope.supplier_contact_details = false;
		
		$scope.show_add_button = true;

		$("#print_po").bootstrapToggle('on');
		$("#email_po").bootstrapToggle('on');

		// $scope.ship_via = ['shippingone', 'shippingtwo', 'other'];
		$scope.pst_tax = 0;
		$scope.hst_tax = 0;
		$scope.total_amount = '0.00';
		
		var hst = $("#hst_default_amount").val();
		$scope.hst_tax_amount = hst;
		var pst = $("#pst_default_amount").val();
		$scope.pst_tax_amount = pst;

		$scope.total_tax_amount = '0.00';
		
		// intialize dateIssued value to current date
		var now = new Date();
		$scope.dateIssued = now.dateFormat("m/d/Y");

		// get premier #1 contact
		$http({method: 'GET', url: "/contacts/get-contact/1/"}).
        	success(function(data, status, headers, config){

        	$scope.search_shipto_contact = data.contact_name;
        	$scope.ship_to_contact = data;
			$("#id_ship_to").val(data.id);
			$scope.shipto_contact_details = true;
        });

        // Get items
        // $http({method: 'GET', url: "/inventory/items/"}).
        // 	success(function(data, status, headers, config){
        // 	$scope.items = data;
        // });

        $http({method: 'GET', url: "/inventory/unit-measure-list/json/"}).
        	success(function(data, status, headers, config){
        	$scope.item_unit_measures = data;
        });

		// Items
		$("#items_list").hide();
		// $("#po_list").hide();
		$scope.show_po_list = false;

		var items_count = $("input.added_item_number").length;
        if(items_count < 2) {
            $scope.item_added = false;
        } else {
            $scope.item_added = true;
        }

        $scope.add_item_seq_no = 0;
        $scope.set_supplier = false;
        $scope.po_total_before_tax = '0.00';

	}

	$scope.init();


	// suppplier google search and select
	$scope.closeMe = function() {
		$scope.show_po_list = false;
	}

	$scope.hideItemList = function() {
		$("#items_list").hide();
	}

	$scope.searchContact = function(q) {
		console.log(q);
		if(q != undefined){
			if(q.length > 1 ) {
	    		var url = "/contacts/search/?q=" + q
	    		
	    		$http({method: 'GET', url: url}).
		            success(function(data, status, headers, config) {
		            	if(data.length > 0) {
		            		$scope.contacts = data;
		            		$scope.show_contact_list = true;	
		            	} else {
		            		$scope.show_contact_list = false;
		            	}
		            });					        
	    		
	    	} else {
	    		$scope.show_contact_list = false;
	    	}
		} else {
			$scope.show_contact_list = false;
		}
	}

	$scope.setSupplier = function(con){
		console.log(con.contact_name);
		$scope.show_contact_list = false;
		$scope.supplier_contact_details = true;

		$scope.set_supplier = true;
		$scope.supplier_contact = con;
		$scope.search_contact = con.contact_name;
		// $("#supplier_contact_details").show();
		// $scope.show_contact_list = false;

		// ==========this has to be worked out very soon =========
		// if(con.hst_tax_exempt){
		// 	$scope.hst_tax = true;
		// 	$scope.updateHST($scope.hst_tax);
		// } else {
		// 	$scope.hst_tax = false;	
		// 	$scope.updateHST($scope.hst_tax);
		// }

		// if(con.pst_tax_exempt){
		// 	$scope.pst_tax = true;
		// 	$scope.updatePST($scope.pst_tax);
		// } else {
		// 	$scope.pst_tax = false;	
		// 	$scope.updatePST($scope.pst_tax);
		// }

		$("#id_supplier").val(con.id);

		if(con.shipvia_id){
			$("#id_ship_via").val(con.shipvia_id);	
		}
		
		// autoselect terms
		if(con.term){
			$("#id_terms").val(con.term.id);	
			// console.log("Terms id"+ con.term.id);
		}
		
		// autoselect FOB
		if(con.fob){
			$("#id_fob").val(con.fob);	
		}
		
	};

	$scope.searchShipToContact = function(q) {
		console.log(q);
		if(q != undefined){
			if(q.length > 1 ) {
	    		var url = "/contacts/search/?q=" + q
	    		
	    		$http({method: 'GET', url: url}).
		            success(function(data, status, headers, config) {
		            	if(data.length > 0) {
		            		$scope.shipto_contacts = data;
		            		$scope.show_shipto_contact_list = true;	
		            	} else {
		            		$scope.show_shipto_contact_list = false;
		            	}
		            });					        
	    		
	    	} else {
	    		$scope.show_shipto_contact_list = false;
	    	}
		} else {
			$scope.show_shipto_contact_list = false;
		}

	}

	$scope.setShipTo = function(con) {
		console.log(con.contact_name);
		$scope.show_shipto_contact_list = false;
		$scope.shipto_contact_details = true;
		$scope.search_shipto_contact = con.contact_name;
		$scope.ship_to_contact = con;
		$("#id_ship_to").val(con.id);

	}

	$scope.removeContact = function(event) {
		$(event.target).closest('tr').remove();
	}

	$scope.deleteSupplierContact = function(event) {
		
		var con_tr =  $(event.target).closest('tr');	
		var supplier_contact_id = $(event.target).data("pocid");

		$.ajax({
			type: "POST",
			url: "/purchase/delete-po-supplier-contact/",
			
			data: {
				'pocid': supplier_contact_id,
			},
			success: function(rdata) {
				// console.log(rdata);
				con_tr.remove();
				

	        }
		});

	}

	$scope.deleteShiptoContact = function(event) {
		
		var con_tr =  $(event.target).closest('tr');	
		var shipto_contact_id = $(event.target).data("pocid");

		$.ajax({
			type: "POST",
			url: "/purchase/delete-po-shipto-contact/",
			
			data: {
				'pocid': shipto_contact_id,
			},
			success: function(rdata) {
				console.log(rdata);
				con_tr.remove();
				// $("a[data-pecid='"+rdata+"']").closest("tr").remove();

	        }
		});
	}

	$scope.selectJob = function(job) {
		console.log(job);
	}

	$scope.selectShipTo = function(con) {
		// console.log(con.contact_name);
		$scope.shipto_contact_details = true;
		$scope.ship_to_contact = con;
		$("#id_ship_to").val(con.id);

	};

	$scope.searchPo = function(q) {
		if(q.length > 1) {
			
			url = "/purchase/po/search/?q="+q;

			$http({method: 'GET', url: url}).
	        	success(function(data, status, headers, config){
	        	
	        	if(data.length > 0){
	        		$scope.pos = data;
	        		$scope.show_po_list = true;	
	        	} else {
	        		$scope.show_po_list = false;
	        	}
	        	
	        });
			
		} else {

			$scope.show_po_list = false;
		}
		
	}

	$scope.selectPo = function(po){
		console.log(po);

		$scope.show_add_button = false;
		$scope.show_po_list = false;
		var po_number = po.po_number;
		$scope.search_po = po_number;
		
		$("#po_form_state").val('old');
		$("#id_po_number").val(po.po_number);
		$("#id_date_issued").val(po.date_issued);
		$("#id_date_expected").val(po.date_expected);

		if(po.supplier){
			$scope.supplier_contact = po.supplier;
			$scope.search_contact = po.supplier.contact_name;
			$("#id_supplier").val(po.supplier.id);
			$scope.purchase_add_form.search_contact.$setViewValue($scope.purchase_add_form.search_contact.$viewValue);

			var ec_div = $("#supplier_extra_contact_list");
			var ci = 0;

			if(po.supplier.phones.length > 0){
				
				for(var i=0; i < po.supplier.phones.length; i++) {
					
					var contact_phone = po.supplier.phones[i];
					if(ci==0) {
						var header = "<tr class='bg-primary'><td>Contact Type</td><td>Contact Details</td><td>Contact Name</td><td>Action</td></tr>";
						ec_div.html(header);
					}
					var con = "<tr class='bg-info'><td>"+contact_phone.department+"</td><td>"+contact_phone.number+"</td><td>"+contact_phone.contact_name+"</td><td>";

					con += "<a data-pocid='"+contact_phone.id+"' ng-click='deleteSupplierContact($event)'>Delete</a>";
					
					con += "</td></tr>";

					ec_div.append(con);
					ci++;
				}
			}

			if(po.supplier.faxes.length > 0) {

				for(var i=0; i < po.supplier.faxes.length; i++) {
					var contact_fax = po.supplier.faxes[i];
					if(ci==0) {
						var header = "<tr class='bg-primary'><td>Contact Type</td><td>Contact Details</td><td>Contact Name</td><td>Action</td></tr>";
						ec_div.html(header);
					}
					var con = "<tr class='bg-info'><td>"+contact_fax.department+"</td><td>"+contact_fax.number+"</td><td>"+contact_fax.contact_name+"</td><td>";

					con += "<a data-pocid='"+contact_fax.id+"' ng-click='deleteSupplierContact($event)'>Delete</a>";
					
					con += "</td></tr>";

					ec_div.append(con);
					ci++;
				}
			}

			if(po.supplier.emails.length > 0) {

				for(var i=0; i < po.supplier.emails.length; i++) {
					var contact_email = po.supplier.emails[i];
					if(ci==0) {
						var header = "<tr class='bg-primary'><td>Contact Type</td><td>Contact Details</td><td>Contact Name</td><td>Action</td></tr>";
						ec_div.html(header);
					}
					var con = "<tr class='bg-info'><td>"+contact_email.department+"</td><td>"+contact_email.email+"</td><td>"+contact_email.contact_name+"</td><td>";

					con += "<a data-pocid='"+contact_email.id+"' ng-click='deleteSupplierContact($event)'>Delete</a>";
					
					con += "</td></tr>";

					ec_div.append(con);
					ci++;
				}
			}

			$compile(ec_div)($scope);

			$scope.supplier_contact_details = true;
		}
		
		if(po.ship_to) {

			$scope.ship_to_contact = po.ship_to;

			$scope.search_shipto_contact = po.ship_to.contact_name;
			$("#id_ship_to").val(po.ship_to.id);

			var ec_div = $("#ship_to_extra_contact_list");
			var ci = 0;

			if(po.ship_to.phones.length > 0){
				

				for(var i=0; i < po.ship_to.phones.length; i++) {
					
					var contact_phone = po.ship_to.phones[i];
					if(ci==0) {
						var header = "<tr class='bg-primary'><td>Contact Type</td><td>Contact Details</td><td>Contact Name</td><td>Action</td></tr>";
						ec_div.html(header);
					}
					var con = "<tr class='bg-info'><td>"+contact_phone.department+"</td><td>"+contact_phone.number+"</td><td>"+contact_phone.contact_name+"</td><td>";

					con += "<a data-pocid='"+contact_phone.id+"' ng-click='deleteShiptoContact($event)'>Delete</a>";
					
					con += "</td></tr>";

					ec_div.append(con);
					ci++;
				}
			}

			if(po.ship_to.faxes.length > 0) {

				for(var i=0; i < po.ship_to.faxes.length; i++) {
					var contact_fax = po.ship_to.faxes[i];
					if(ci==0) {
						var header = "<tr class='bg-primary'><td>Contact Type</td><td>Contact Details</td><td>Contact Name</td><td>Action</td></tr>";
						ec_div.html(header);
					}
					var con = "<tr class='bg-info'><td>"+contact_fax.department+"</td><td>"+contact_fax.number+"</td><td>"+contact_fax.contact_name+"</td><td>";

					con += "<a data-pocid='"+contact_fax.id+"' ng-click='deleteShiptoContact($event)'>Delete</a>";
					
					con += "</td></tr>";

					ec_div.append(con);
					ci++;
				}
			}

			if(po.ship_to.emails.length > 0) {

				for(var i=0; i < po.ship_to.emails.length; i++) {
					var contact_email = po.ship_to.emails[i];
					if(ci==0) {
						var header = "<tr class='bg-primary'><td>Contact Type</td><td>Contact Details</td><td>Contact Name</td><td>Action</td></tr>";
						ec_div.html(header);
					}
					var con = "<tr class='bg-info'><td>"+contact_email.department+"</td><td>"+contact_email.email+"</td><td>"+contact_email.contact_name+"</td><td>";

					con += "<a data-pocid='"+contact_email.id+"' ng-click='deleteShiptoContact($event)'>Delete</a>";
					
					con += "</td></tr>";

					ec_div.append(con);
					ci++;
				}
			}

			$compile(ec_div)($scope);

			$scope.shipto_contact_details = true;

		} else {
			$scope.shipto_contact_details = false;
		}
		
		if(po.ship_via){
			$("#id_ship_via").val(po.ship_via.id);	
		}

		if(po.deliver_internal){
			$("#id_deliver_internal").val(po.deliver_internal.id);	
		}

		$("#id_shipping_inst").val(po.shipping_inst);

		if(po.po_status) {
			$("#id_po_status").val(po.po_status.id);
		}

		$("#id_blanket_po").val(po.blanket_po);

		if(po.terms){
			$("#id_terms").val(po.terms.id);	
		}	

		if(po.purchasing_agent){
			$("#id_purchasing_agent").val(po.purchasing_agent.id);
		}

		if(po.returned_type){
			$("#id_returned_type").val(po.returned_type.id);	
		}

		var items_total = parseFloat(po.items_total).toFixed(2);
		$("#items_total_qty").html(items_total);
		$("#id_items_total").val(items_total);

		var po_total_amount_before_tax = parseFloat(po.po_total_before_tax).toFixed(2);
		$("#po_total_before_tax").val(po_total_amount_before_tax);
		$("#calculated_total_amount span.amount").text(po_total_amount_before_tax);
		$scope.po_total_before_tax = po_total_amount_before_tax;

		if(po.hst_taxable){
			$("#id_hst_taxable").val(po.hst_taxable);
			$scope.hst_tax = "True";
			var hst = parseFloat(po.hst_taxable_amount).toFixed(2);
			$scope.hst_tax_amount = hst;
			$("#hst_tax_amount").val(parseFloat(po.total_hst_tax).toFixed(2));
		} else {
			$("#hst_tax_amount").val(0.0);
		}

		if(po.pst_taxable){
			$("#id_pst_taxable").val(po.pst_taxable);
			$scope.pst_tax = "True";
			var pst = parseFloat(po.pst_taxable_amount).toFixed(2);
			$scope.pst_tax_amount = pst;
			// $("#id_pst_taxable_amount").val(pst);
			$("#pst_tax_amount").val(parseFloat(po.total_pst_tax).toFixed(2));
		} else {
			$("#pst_tax_amount").val(0.0);
		}

		$("#total_tax_amount").val(parseFloat(po.total_tax).toFixed(2));

		$("#id_total_po_amount").val(parseFloat(po.total_po_amount).toFixed(2));

		if(po.currency) {
			$("#id_po_currency").val(po.currency.id);
		}

		if(po.pdf_po == true) {
			$("#pdf_po").bootstrapToggle('on');
		} else {
			$("#pdf_po").bootstrapToggle('off');
		}

		if(po.print_po == true) {
			$("#print_po").bootstrapToggle('on');
		} else {
			$("#print_po").bootstrapToggle('off');
		}

		if(po.email_po == true) {
			$("#email_po").bootstrapToggle('on');
		} else {
			$("#email_po").bootstrapToggle('off');
		}

		if(po.fax_po == true) {
			$("#fax_po").bootstrapToggle('on');
		} else {
			$("#fax_po").bootstrapToggle('off');
		}

		$scope.po_items = po.items;

		if(po.items.length > 0){
			$scope.item_added = true;
			$scope.add_item_seq_no = po.items.length;

			var myitem = $("tbody#add_item_list tr.add_item");

			for (var i = 0; i < po.items.length; i++) {

				var line_item_id = po.items[i].id;
				var line_item_seq = po.items[i].line_item_seq;
		    	var item_number = po.items[i].item_number;
		    	var item_description = po.items[i].item_description;
		    	var unit_measure_id = po.items[i].unit.id;
		    	var wholesale_cost = parseFloat(po.items[i].cost).toFixed(2);
		    	var item_qty = parseFloat(po.items[i].qty_ordered).toFixed(2);
		    	var item_sub_total = parseFloat(po.items[i].sub_total).toFixed(2);

		    	if(po.items[i].job_number){
		    		var item_job_number = po.items[i].job_number.job_number;	
		    	}
		    	
		    	var item_qty_received = parseFloat(po.items[i].item_recv).toFixed(2);
		    	var last_received_date = po.items[i].item_recv_date;
		    	var item_custom_detail = po.items[i].custom_detail;	    	
		    	
		    	var str = "<tr class='add_item'>";

		    	str += "<td><input type='hidden' name='line_item_seq' value='"+line_item_seq+"'><input type='hidden' name='po_item_id' value='"+line_item_id+"'><input type='text' class='form-control added_item_number' name='added_item_number' value='"+item_number+"' readonly></td>";
		    	str += "<td><textarea class='form-control' name='item_description' rows='3'>"+item_description+"</textarea></td>";
		    	
		    	str += "<td><select class='form-control' name='unit'>";
		    	str += "<option ng-repeat='um in item_unit_measures' value='{[{um.id}]}' ng-selected='{[{um.id}]} == "+unit_measure_id+"'>{[{um.unit_name}]}</option>";
		    	str += "</select></td>";

		    	str += "<td><input type='currency' class='form-control' step='0.0001' name='item_cost' value='"+wholesale_cost+"'></td>";
		    	str += "<td><input type='number' class='form-control decimal' step='0.01' name='item_qty' value='"+item_qty+"'></td>";
		    	str += "<td><input type='currency' step='0.001' name='item_sub_total' class='form-control' value='"+item_sub_total+"' readonly></td>";
		    	str += "<td><search-job-control job-number='"+item_job_number+"' job='job' select-job='selectJob'></search-job-control></td>";
		    	
		    	str += "<td><input type='number' step='0.01' name='qty_received' class='form-control' value='"+item_qty_received+"' readonly></td>";
		    	str += "<td><input type='text' name='last_received_date' class='form-control' value='"+last_received_date+"' readonly></td>";


		    	str += "<td><a class='unit-measure-edit' data-toggle='modal' data-seq='"+line_item_seq+"' data-target='#itemDetailsModal'><i class='glyphicon glyphicon-pencil'></i></a><a class='remove-item btn' data-lineitemid='"+line_item_id+"' ng-click='deleteField($event)'>X</a></td>";
		    	

		    	str += "</tr>";

		    	if(item_custom_detail != '') {
		    		var custom_str = '';
		    		custom_str += '<tr id="'+line_item_id+'" class="bg-warning"><td colspan="2"><b>Customisation Details</b></td>';
		    		custom_str += '<td colspan="8"><textarea class="form-control" name="custom_detail_'+line_item_seq+'">';
		    		custom_str += item_custom_detail;
		    		
		    		custom_str += '</textarea></td></tr>';

		    		str += custom_str;
		    	}


		    	
		    	var element = $compile(str)($scope);

		    	$("tbody#add_item_list").append(element);
		    	
			}

		}

	}

	$scope.addService = function() {
		// console.log("Hello world.......");

		url = "/inventory/get-item-hello/";

		$http({method: 'GET', url: url}).
        	success(function(data, status, headers, config){
        	// console.log(data);
        	$scope.item = data;
        	$scope.add_item_seq_no++;

	    	var str = "<tr class='add_item'>";

	    	str += "<td><input type='hidden' name='line_item_seq' value='"+$scope.add_item_seq_no+"'><input type='text' class='form-control added_item_number' name='added_item_number' value='.' readonly><input type='hidden' name='po_item_id' value='none'></td>";
	    	str += "<td><textarea class='form-control' name='item_description' rows='3'>"+$scope.item.description+"</textarea></td>";
	    	
	    	str += "<td><select class='form-control' name='unit'>";
	    	str += "<option ng-repeat='um in item_unit_measures' value='{[{um.id}]}'>{[{um.unit_name}]}</option>";
	    	str += "</select></td>";

	    	str += "<td><input type='currency' class='form-control' step='0.001' name='item_cost' value=''></td>";
	    	str += "<td><input type='number' class='form-control' step='0.001' name='item_qty' required></td>";
	    	str += "<td><input type='currency' step='0.01' name='item_sub_total' class='form-control' value='0.0' readonly></td>";
	    	str += "<td><search-job-control job='job' select-job='selectJob'></search-job-control></td>";
	    	
	    	str += "<td><input type='number' step='0.001' name='qty_received' class='form-control' value='' readonly></td>";
	    	str += "<td><input type='text' name='last_received_date' class='form-control' value='' readonly></td>";


	    	str += "<td><a class='unit-measure-edit' data-toggle='modal' data-seq='"+$scope.add_item_seq_no+"' data-target='#itemDetailsModal'><i class='glyphicon glyphicon-pencil'></i></a><a class='remove-item btn' ng-click='removeField($event)'><span class='glyphicon glyphicon-remove'></span></a></td>";
	    	str += "</tr>";
	    	

	    	
	    	var element = $compile(str)($scope);
			
	    	
	    	$("tbody#add_item_list").append(element);

	    	$scope.item_added = true;
        	
        });

		

	}

	$scope.deletePO = function() {
		console.log("Delete PO.");
		var status = confirm("Do you want to delete this PO?");
		if(status == true) {
			var po_id = $("#id_po_number").val();
			// console.log(po_id);
			var url = "/purchase/po-delete/";
			$.ajax({
                type: "POST",
                url: url,
                
                data: {
                    'po_id': po_id,
                },
                success: function(rdata) {
                    // console.log(rdata);
                    window.location.reload();

                }
            });
		}
		
	}


    $scope.selectItem = function(item) {
    	console.log(item);

    	$scope.search_item = '';
    	$scope.mixed_currency = false;
    	$("#items_list").hide();
    	var myitem = $("tbody#add_item_list tr.add_item");
    	var item_number = item.item_number;
    	var item_term = item.terms.id;
    	var item_description = item.description;
    	var currency_id = item.currency.id;
    	var unit_measure_id = item.unit.id;

    	if(item.qty_received){
    		var item_qty_received = parseFloat(item.qty_received).toFixed(2);	
    	} else {
    		var item_qty_received = 0.0;
    	}
    	if(item.qty_received_date){
    		var last_received_date = item.qty_received_date;	
    	} else {
    		var last_received_date = '01/01/1970';
    	}
    	
    	var max_single_order_qty = item.max_single_order_qty;
    	var max_order_qty_remains = item.max_order_qty_remains;
    	var max_order_qty = item.max_order_qty;

    	// if (max_order_qty_remains == null && max_single_order_qty == null ) {
    		
    	// 	var order_constrain = max_order_qty;

    	// } else {

    	// 	if(max_order_qty_remains > max_single_order_qty) {
    	// 		var order_constrain = max_single_order_qty;
    	// 	} else {
    	// 		var order_constrain = max_order_qty_remains;
    	// 	}
    	// }

    	// console.log(item.qty_received_date);
    	var wholesale_cost = item.wholesale_cost;

    	if($scope.first_currency_id === undefined){
    		$scope.first_currency_id = currency_id;
    		$("#id_po_currency").val(currency_id);
    		
    	}
    	
    	if($scope.first_currency_id != currency_id && $scope.mixed_currency == false){
    		alert("Currency not matched!");
    		$scope.mixed_currency = true;

    	}
    	

    	var item_count = myitem.length;

    	if(item_number == undefined) {
    		alert("Please choose an item first.");
    		return;
    	}

    	if(item_count > 0) {
    		try{
	    		myitem.each(function(index){
	    			var myval = $(this).find("input[name='added_item_number']").val();
	    			if(myval == item_number){
	    				alert("This item already added.");
	    				throw 'duplicate';
	    			}
	    			
	    		});
	    	} catch(e) {

	    		return;
	    	}
			
    	}
    	
    	$scope.add_item_seq_no++;

    	var str = "<tr class='add_item'>";

    	str += "<td><input type='hidden' name='line_item_seq' value='"+$scope.add_item_seq_no+"'><input type='text' class='form-control added_item_number' name='added_item_number' value='"+item_number+"' readonly><input type='hidden' name='po_item_id' value='none'></td>";
    	str += "<td><textarea class='form-control' name='item_description' rows='3'>"+item_description+"</textarea></td>";
    	
    	str += "<td><select class='form-control' name='unit'>";
    	str += "<option ng-repeat='um in item_unit_measures' value='{[{um.id}]}' ng-selected='{[{um.id}]} == "+unit_measure_id+"'>{[{um.unit_name}]}</option>";
    	str += "</select></td>";

    	str += "<td><input type='currency' class='form-control' step='0.001' name='item_cost' value='"+wholesale_cost+"'></td>";
    	str += "<td><input type='number' class='form-control' step='0.001' name='item_qty' required></td>";
    	str += "<td><input type='currency' step='0.01' name='item_sub_total' class='form-control' value='0.0' readonly></td>";
    	str += "<td><search-job-control job='job' select-job='selectJob'></search-job-control></td>";
    	
    	str += "<td><input type='number' step='0.001' name='qty_received' class='form-control' value='"+item_qty_received+"' readonly></td>";
    	str += "<td><input type='text' name='last_received_date' class='form-control' value='"+last_received_date+"' readonly></td>";


    	str += "<td><a class='unit-measure-edit' data-toggle='modal' data-seq='"+$scope.add_item_seq_no+"' data-target='#itemDetailsModal'><i class='glyphicon glyphicon-pencil'></i></a><a class='remove-item btn' ng-click='removeField($event)'><span class='glyphicon glyphicon-remove'></span></a></td>";
    	str += "</tr>";
    	

    	
    	var element = $compile(str)($scope);
		
    	// if(item_count == 0){
    	// 	$("tbody#add_item_list").html(element);
    	// } else {
    	// 	$("tbody#add_item_list").append(element);
    	// }
    	$("tbody#add_item_list").append(element);

/* ====== This needs to be fixed ==========
    	if ($scope.add_item_seq_no == 1) {
    		if($scope.set_supplier) {
    			if($scope.hst_tax) {
	    			$scope.updateHST($scope.hst_tax);
	    		}

	    		if($scope.pst_tax) {
	    			$scope.updatePST($scope.pst_tax);
	    		}	
    		} else {
    			var supplier = item.supplier;
    			if(supplier.hst_tax) {
    				$scope.hst_tax = 1;
    				$scope.updateHST($scope.hst_tax);
    			} else {
    				$scope.hst_tax = 0;
    			}

    			if(supplier.pst_tax) {
    				$scope.pst_tax = 1;
    				$scope.updatePST($scope.pst_tax);
    			} else {
    				$scope.pst_tax = 0;
    			}
    			console.log(" Supplier : =====");
    			console.log(supplier);

    			$("input[name='search_supplier']").removeClass("ng-pristine");
    			$("input[name='search_supplier']").addClass("ng-dirty");

    			$("#supplier_contact_list").hide();
				
				$scope.supplier_contact = supplier;
				// $scope.supplier = con;
				$("#id_supplier").val(supplier.id);
				$("#supplier_contact_details").show();
				$scope.search_supplier = supplier.contact_name;

				// autoselect ship via
				if(supplier.shipvia_id){
					$("#id_ship_via").val(supplier.shipvia_id);	
				}
				
				// autoselect terms
				if(supplier.term){
					$("#id_terms").val(supplier.term.id);
				}
				
				// autoselect FOB
				if(supplier.fob){
					$("#id_fob").val(supplier.fob);	
				}
    		}    		
    	}
===========================================*/
				
        $scope.item_added = true;
        
    }

    $scope.addDetails = function() {
    	console.log("Adding details...");
    }

    $scope.deleteField = function (event) {
        // $(event.target).closest('tr').remove();
        var removed_item_id = $(event.target).data("lineitemid");
        
        $(event.target).closest('tr').remove();
		$("tr#"+removed_item_id).remove();

        var myitem = $("tbody#add_item_list tr.add_item");
        var items_length = myitem.length;
              
		if(items_length > 0) {

        	var item_total = 0;
			$("tbody#add_item_list tr input[name='item_sub_total']").each(function(index){
				var subtotal = $(this).val();
				item_total = item_total + parseFloat(subtotal);
			});
			$("#calculated_total_amount span.amount").text(item_total.toFixed(2));
			$("#po_total_before_tax").val(item_total.toFixed(2));

			// ========== tax calculation ============
			var hst_tax = $("#id_hst_taxable").val();
			var pst_tax = $("#id_pst_taxable").val();

			if($scope.pst_tax == "True") {
	    		var pst_tax_amount = $scope.pst_tax_amount;
	    		var pst_tax_total = parseFloat((item_total *  eval(pst_tax_amount))/100).toFixed(2);
	    	} else {
	    		var pst_tax_total = 0.00;
	    	}

	    	$("#pst_tax_amount").val(parseFloat(pst_tax_total).toFixed(2));

	    	if($scope.hst_tax == "True") {
	    		var hst_tax_amount = $scope.hst_tax_amount;
	    		var hst_tax_total = parseFloat((item_total *  eval(hst_tax_amount))/100).toFixed(2);
	    	} else {
	    		var hst_tax_total = 0.00;
	    	}
	    	$("#hst_tax_amount").val(parseFloat(hst_tax_total).toFixed(2));

	    	var total_tax_amount = parseFloat(pst_tax_total) + parseFloat(hst_tax_total);
			$("#total_tax_amount").val(total_tax_amount.toFixed(2));

			$scope.total_amount = parseFloat(item_total) + parseFloat(total_tax_amount);
			$scope.total_amount = $scope.total_amount.toFixed(2);

			// ========= calculate item qty ==========
			var item_subtotal_qty = 0;
			$("tbody#add_item_list tr input[name='item_qty']").each(function(index){
				var subtotal_qty = $(this).val();
				item_subtotal_qty = item_subtotal_qty + parseFloat(subtotal_qty);
			});
			$("#id_items_total").val(item_subtotal_qty.toFixed(2));
			$("span#items_total_qty").text(item_subtotal_qty.toFixed(2));



		} else {

			$("#calculated_total_amount span.amount").text('0.0');
			$("#po_total_before_tax").val('0.0');

			$("#id_hst_taxable").val('False');
			$("#id_pst_taxable").val('False');
			$("#id_pst_taxable_amount").hide();
			$("#id_hst_taxable_amount").hide();
			
			$scope.pst_tax_amount = '0.0';
			$scope.hst_tax_amount = '0.0'; 

			$("#pst_tax_amount").val('0.0');
			$("#hst_tax_amount").val('0.0');

			$("#total_tax_amount").val('0.0');

			$("#id_items_total").val('0.0');
			$("span#items_total_qty").text('0.0');

			$scope.total_amount = '0.0';

			$scope.first_currency_id = undefined;
			$scope.item_added = false;
		}

		

        /*
		
		item_subtotal_qty = 0;

		if(items_length == 1) {
			// window.location.reload();
			$scope.first_currency_id = undefined;
		}


		var removed_item = "<input type='hidden' name='removed_item' value='"+removed_item_id+"'>";
		$("#add_item_list tr.footer").append(removed_item);

		var items_count = $("input.added_item_number").length;
        
        if(items_count < 2) {
            $scope.item_added = false;
        } else {
            $scope.item_added = true;
        }
        
        */

    };


    $scope.removeField = function (event) {
        // $(event.target).closest('tr').remove();
        var myitem = $("tbody#add_item_list tr.add_item");
        var items_length = myitem.length;
        
		$(event.target).closest('tr').next("tr.bg-warning").remove();
		$(event.target).closest('tr').remove();
		
		var item_total = 0;
		$("tbody#add_item_list tr input[name='item_sub_total']").each(function(index){
			var subtotal = $(this).val();
			item_total = item_total + parseFloat(subtotal);
		});
		
		$("#calculated_total_amount span.amount").text(item_total.toFixed(2));
		$("#po_total_before_tax").val(item_total.toFixed(2));


		var hst_tax = $("#id_hst_taxable").val();
		var pst_tax = $("#id_pst_taxable").val();

		if($scope.pst_tax == "True") {
    		var pst_tax_amount = $scope.pst_tax_amount;
    		var pst_tax_total = parseFloat((item_total *  eval(pst_tax_amount))/100).toFixed(2);
    	} else {
    		var pst_tax_total = 0.00;
    	}

    	$("#pst_tax_amount").val(parseFloat(pst_tax_total).toFixed(2));

    	if($scope.hst_tax == "True") {
    		var hst_tax_amount = $scope.hst_tax_amount;
    		var hst_tax_total = parseFloat((item_total *  eval(hst_tax_amount))/100).toFixed(2);
    	} else {
    		// var pst_tax_amount = $scope.pst_tax_amount;
    		var hst_tax_total = 0.00;
    	}

    	$("#hst_tax_amount").val(parseFloat(hst_tax_total).toFixed(2));

    	var total_tax_amount = parseFloat(pst_tax_total) + parseFloat(hst_tax_total);
		$("#total_tax_amount").val(total_tax_amount.toFixed(2));

		$scope.total_amount = parseFloat(item_total) + parseFloat(total_tax_amount);

		$scope.total_amount = $scope.total_amount.toFixed(2);



		var item_subtotal_qty = 0;
		$("tbody#add_item_list tr input[name='item_qty']").each(function(index){
			var subtotal_qty = $(this).val();
			item_subtotal_qty = item_subtotal_qty + parseFloat(subtotal_qty);
		});
		$("#id_items_total").val(item_subtotal_qty.toFixed(2));
		item_subtotal_qty = 0;

		if(items_length == 1) {
			// window.location.reload();
			$scope.first_currency_id = undefined;
		}

		var items_count = $("input.added_item_number").length;
        if(items_count < 2) {
            $scope.item_added = false;
        } else {
            $scope.item_added = true;
        }
    };


    $scope.addSupplierExtraContact = function() {
		console.log("testing..");
		mdal = $('#addModal');
		url = "/purchase/add-supplier-extra-contact/",
		mdal.on("shown.bs.modal", function(){
			$("#addModal .modal-content").load(url);
			
			// console.log(url);
		}).modal();
		return false;
    };

    $scope.addShipToExtraContact = function() {

		mdal = $('#addModal');
		url = "/purchase/add-shipto-extra-contact/",
		mdal.on("shown.bs.modal", function(){
			$("#addModal .modal-content").load(url);
			
			// console.log(url);
		}).modal();
		return false;
    };

    $scope.addHstAmount = function(amount){
    	$scope.hst_tax_amount = amount;
		var pst_tax_amount = parseFloat($scope.pst_tax_amount);
		// console.log(pst_tax_amount);
		// console.log(amount);

		var item_total = 0;
		$("tbody#add_item_list tr input[name='item_sub_total']").each(function(index){
			var subtotal = $(this).val();
			item_total = item_total + parseFloat(subtotal);
		});



		if($scope.pst_tax == "True") {
    		var pst_tax_amount = $scope.pst_tax_amount;
    		var pst_tax_total = parseFloat((item_total *  eval(pst_tax_amount))/100).toFixed(2);
    	} else {
    		var pst_tax_total = 0.00;
    	}

    	$("#pst_tax_amount").val(parseFloat(pst_tax_total).toFixed(2));

    	if($scope.hst_tax == "True") {
    		var hst_tax_amount = $scope.hst_tax_amount;
    		var hst_tax_total = parseFloat((item_total *  eval(hst_tax_amount))/100).toFixed(2);
    	} else {
    		// var pst_tax_amount = $scope.pst_tax_amount;
    		var hst_tax_total = 0.00;
    	}
    	$("#hst_tax_amount").val(parseFloat(hst_tax_total).toFixed(2));

    	var total_tax_amount = parseFloat(pst_tax_total) + parseFloat(hst_tax_total);
		$("#total_tax_amount").val(total_tax_amount.toFixed(2));

		$scope.total_amount = parseFloat(item_total) + parseFloat(total_tax_amount);

		$scope.total_amount = $scope.total_amount.toFixed(2);

    };
    $scope.addPstAmount = function(amount){
		$scope.pst_tax_amount = amount;
		var hst_tax_amount = parseFloat($scope.hst_tax_amount);
		
		var item_total = 0;
		$("tbody#add_item_list tr input[name='item_sub_total']").each(function(index){
			var subtotal = $(this).val();
			item_total = item_total + parseFloat(subtotal);
		});

		if($scope.hst_tax == "True") {
    		var hst_tax_amount = $scope.hst_tax_amount;
    		var hst_tax_total = parseFloat((item_total *  eval(hst_tax_amount))/100).toFixed(2);
    	} else {
    		var hst_tax_total = 0.00;
    	}

    	$("#hst_tax_amount").val(parseFloat(hst_tax_total).toFixed(2));

    	if($scope.pst_tax == "True") {
    		var pst_tax_amount = $scope.pst_tax_amount;
    		var pst_tax_total = parseFloat((item_total *  eval(pst_tax_amount))/100).toFixed(2);
    	} else {
    		// var pst_tax_amount = $scope.pst_tax_amount;
    		var pst_tax_total = 0.00;
    	}

    	$("#pst_tax_amount").val(parseFloat(pst_tax_total).toFixed(2));

    	var total_tax_amount = parseFloat(pst_tax_total) + parseFloat(hst_tax_total);
		$("#total_tax_amount").val(total_tax_amount.toFixed(2));

		$scope.total_amount = parseFloat(item_total) + parseFloat(total_tax_amount);

		$scope.total_amount = $scope.total_amount.toFixed(2);	

    };

    $scope.updatePST = function(pst) {

    	var item_total = 0;
		$("tbody#add_item_list tr input[name='item_sub_total']").each(function(index){
			var subtotal = $(this).val();
			item_total = item_total + parseFloat(subtotal);
		});
		
		if($scope.hst_tax == "True") {
    		var hst_tax_amount = $scope.hst_tax_amount;
    		
    		if(isNaN(hst_tax_amount)) {
    			hst_tax_amount = 0.0;
    		}

    		var hst_tax_total = parseFloat((item_total *  eval(hst_tax_amount))/100).toFixed(2);

    	} else {

    		var hst_tax_total = 0.00;
    		$scope.hst_tax_amount = hst_tax_total;

    	}

    	$("#hst_tax_amount").val(parseFloat(hst_tax_total).toFixed(2));

    	if(pst == "True") {
    		var pst_tax_amount = $scope.pst_tax_amount;
    		
    		if(isNaN(pst_tax_amount)) {
    			pst_tax_amount = 0.0;
    		}

    		var pst_tax_total = parseFloat((item_total *  eval(pst_tax_amount))/100).toFixed(2);
    		
    	} else {
    		// var pst_tax_amount = $scope.pst_tax_amount;
    		var pst_tax_total = 0.00;
    		$scope.pst_tax_amount = pst_tax_total;
    	}

    	$("#pst_tax_amount").val(parseFloat(pst_tax_total).toFixed(2));

    	var total_tax_amount = parseFloat(pst_tax_total) + parseFloat(hst_tax_total);
		$("#total_tax_amount").val(parseFloat(total_tax_amount).toFixed(2));

		$scope.total_amount = parseFloat(item_total) + parseFloat(total_tax_amount);

		$scope.total_amount = $scope.total_amount.toFixed(2);
 	
    }

    $scope.updateHST = function(hst) {

    	var item_total = 0;
		$("tbody#add_item_list tr input[name='item_sub_total']").each(function(index){
			var subtotal = $(this).val();
			item_total = item_total + parseFloat(subtotal);
		});

		
		if($scope.pst_tax == "True") {
    		var pst_tax_amount = $scope.pst_tax_amount;

    		if(isNaN(pst_tax_amount)) {
    			pst_tax_amount = 0.0;
    		}

    		var pst_tax_total = parseFloat((item_total *  eval(pst_tax_amount))/100).toFixed(2);
    	} else {
    		var pst_tax_total = 0.0;
    		$scope.pst_tax_amount = pst_tax_total;
    	}

    	$("#pst_tax_amount").val(parseFloat(pst_tax_total).toFixed(2));

    	if(hst=="True") {
    		var hst_tax_amount = $scope.hst_tax_amount;
    		
    		if(isNaN(hst_tax_amount)) {
    			hst_tax_amount = 0.0;
    		}

    		var hst_tax_total = parseFloat((item_total *  eval(hst_tax_amount))/100).toFixed(2);
    	} else {
    		// var pst_tax_amount = $scope.pst_tax_amount;
    		var hst_tax_total = 0.0;
    		$scope.hst_tax_amount = hst_tax_total;
    	}

    	$("#hst_tax_amount").val(parseFloat(hst_tax_total).toFixed(2));

    	var total_tax_amount = parseFloat(pst_tax_total) + parseFloat(hst_tax_total);
		$("#total_tax_amount").val(total_tax_amount.toFixed(2));

		$scope.total_amount = parseFloat(item_total) + parseFloat(total_tax_amount);

		$scope.total_amount = $scope.total_amount.toFixed(2);

    }

	
}])

$(document).on("click", "a.delete-supplier-contact", function(e){
	e.preventDefault();
	var poecid = $(this).data("pocid");
	// var url = "/purchase/delete-po-contact/";
	$.ajax({
		type: "POST",
		url: "/purchase/delete-po-contact/",
		
		data: {
			'poecid': poecid,
		},
		success: function(rdata) {
			
			$("a[data-pecid='"+rdata+"']").closest("tr").remove();

        }
	});
});

$(document).on("click", "a.delete-shipto-contact", function(e){
	e.preventDefault();
	var pocid = $(this).data("pocid");
	// var url = "/purchase/delete-po-contact/";
	$.ajax({
		type: "POST",
		url: "/purchase/delete-shipto-po-contact/",
		
		data: {
			'poecid': pocid,
		},
		success: function(rdata) {
			
			$("a[data-pecid='"+rdata+"']").closest("tr").remove();

        }
	});
});

$(document).on("change", "input.demo_box", function(e){
	e.preventDefault();
	alert("Please select item first.");
	$(this).val("");
});

$(document).on("click", "button#email_po", function(e){
	e.preventDefault();
	var formData = $("form[name='purchase_add_form']").serialize();
	console.log(formData);

	$.ajax({
		type: "POST",
		url: "/purchase/add-po-email/",
		contentType: 'application/x-www-form-urlencoded; charset=utf-8',
		data: formData,

		success: function(rdata) {
			console.log('success');
		}
	});
	return false;
	
});

$('#itemDetailsModal').on('show.bs.modal', function(e) {

    //get data-id attribute of the clicked element
    var bookId = $(e.relatedTarget).data('seq');

    //populate the textbox
    $(e.currentTarget).find('#item_seq').val(bookId);
});

})(jQuery);
</script>

{% endblock content %}
