{% extends "base.html" %}


{% block content %}
<style>
.contact_box, .item_box, .job_box {
	position: relative;
}
table#sold_to_contact_details, table#ship_to_contact_details, table#customer_broker_contact_details {
	margin-top: 10px;
}
table#sold_to_contact_details th, table#ship_to_contact_details th, table#customer_broker_contact_details th{
	background-color: #83AD9E;
}
table > thead {
	background-color: #333;
    color: #FF0;
}
table > tbody {
	background-color: #FFF;
}
#sold_to_contact_list thead, #ship_to_contact_list thead, #customer_broker_contact_list thead {
    background-color: #ed791a;
    color: #FFF;
    font-size: 16px;
}
#sold_to_contact_list tbody, #ship_to_contact_list tbody, #customer_broker_contact_list tbody {
    background-color: #333;
    color: #FFF;
    font-size: 16px;
}
#ship_to_contact_list, #sold_to_contact_list, #items_list, #customer_broker_contact_list, #job_list {
	position: absolute;
	top: 34px;
	left: 0px;
    width: 980px;
	background-color: #DDD;
	z-index: 1000;
	/*border: 1px solid #000;*/
	-webkit-box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 0px 10px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 0px 10px 0px rgba(50, 50, 50, 0.75);
}
#ship_to_contact_list {
    left: -600px !important;
}
.sold_to_contact tbody tr:hover, .ship_to_contact tbody tr:hover, .customer_broker_contact tbody tr:hover {
	background-color: #616183;
}
table#items_list {
	width: 940px;
    top: 42px;
    left: 5px;
}
#items_list tbody tr:hover, #pl_list tbody tr:hover{
	background-color: #CCC;
}
a.close {
    opacity: 1 !important;
    color: red !important;
}
.bg-hello {
	background-color: #777;
}
p.item_desc {
	min-height: 34px;
	margin-bottom: 0px;
	padding: 5px;
}
.glyphicon {
	color: red;
}
#job-details {
	margin-top: 5px;
	margin-bottom: 0px !important;
}
#sl_list, #pl_list {
    position: absolute;
    width: 940px;
    z-index: 100;
    border: 1px solid #333;
}
 #pl_list table, #sl_list table {
    margin-bottom: 0px !important;
 }
#sl_list ul, #pl_list ul {
    padding-left: 0px;
    list-style: none;
}
#sl_items_list {
    position: absolute;
    width: 650px;
}

</style>
<div class="container-fluid shadow4 main-body" ng-app="plApp">

<section class="row " ng-controller="AddPLController">
	
	<form action="/purchase/add-pl/" method="POST" name="add_pl_form" enctype="multipart/form-data">{% csrf_token %}
	<div class="col-md-12">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4>Add / Update Packing List</h4>
		  	</div>
		  	

			  	{% include "purchase/partials/add-pl-form.html" %}			  		
				
			
		</div>
	</div>
	

	</form>

</section>

</div>
{% include "modals/pl-comment-modal-form.html" %}
{% include "modals/add-modal.html" %}
<script type="text/javascript">
(function(){
$(".datepicker").datepicker();
$("a.close").on("click", function(){
	$(this).closest('table').hide();
});

$(document).on("change", "input.decimal", function(e){
    var myval = parseFloat($(this).val())
    $(this).val(myval.toFixed(2));
});

$(document).on("change", "input.ordered", function(e){
    var ordered = parseFloat($(this).val()).toFixed(3);

    var shipped_obj = $(this).closest("tr").find("input.shipped");
    var qtybo_obj = $(this).closest("tr").find("input.qtybo");

    if(shipped_obj.val()) {
        var bo = ordered - shipped_obj.val();
        qtybo_obj.val(parseFloat(bo).toFixed(3));
    } else {
        shipped_obj.val(0.000);
        qtybo_obj.val(0.000);
    }
    

});

$(document).on("change", "input.shipped", function(e){
    var shipped = parseFloat($(this).val()).toFixed(3);

    var ordered_obj = $(this).closest("tr").find("input.ordered");
    var qtybo_obj = $(this).closest("tr").find("input.qtybo");

    if(ordered_obj.val()) {
        var bo = ordered_obj.val() - shipped;
        qtybo_obj.val(parseFloat(bo).toFixed(3));
    } else {
        // shipped_obj.val(0.000);
        qtybo_obj.val(0.000);
    }
    

});

$(document).on("click", "a.delete-contact", function(e){
    e.preventDefault();
    
    var row = $(this).closest("tr");
    row.remove();
    var poecid = $(this).data("contactid");
    var type = $(this).data("contacttype");
    if(poecid != ""){
        if(type=='shipto') {
            var url = "/purchase/delete-pl-shipto-contact/";
        } else if(type=='soldto') {
            var url = "/purchase/delete-pl-soldto-contact/";    
        } else {
            var url = "/purchase/delete-pl-cb-contact/";
        }
        

        $.ajax({
            type: "POST",
            url: url,
            
            data: {
                'contactid': poecid,
            },
            success: function(rdata) {
                
                $("a[data-contactid='"+rdata+"']").closest("tr").remove();

            }
        });    
    }

    return false;
    
});
$("a#add_id_primary_supplier").on("click", function(e){
        e.preventDefault();
        url = "/contacts/add/rel/",
        mdal = $('#addModal');
        mdal.on("shown.bs.modal", function(){
            $("#addModal .modal-content").load(url);
            // console.log(url);
        }).modal();
        return false;
    });

var plApp = angular.module("plApp", ["components"], function ($interpolateProvider) {
        $interpolateProvider.startSymbol("{[{");
        $interpolateProvider.endSymbol("}]}");
});

plApp.controller('AddPLController',['$scope', '$http','$compile', function ($scope, $http, $compile) {
	
	$scope.init = function() {
        $scope.search_sl_item = "";
        $scope.show_job_details = false;

        $http({method: 'GET', url: "/inventory/unit-measure-list/json/"}).
            success(function(data, status, headers, config){
            $scope.item_unit_measures = data;
            // console.log(data);
        });

        $scope.new_pl_form = true;

        $("#email_pl").bootstrapToggle('on');
        $("#print_pl").bootstrapToggle('on');

        $("#sold_to_contact_list").hide();
        $("#sold_to_contact_details").hide();
        $("#pl_sold_to_extra_contact_list").hide();

        $("#ship_to_contact_list").hide();
        $("#ship_to_contact_details").hide();
        $("#pl_ship_to_extra_contact_list").hide();

        $("#customer_broker_contact_list").hide();
        $("#customer_broker_contact_details").hide();

        $("#job_list").hide();
        $("#job-details").hide();

        $("#items_list").hide();
        
        // $("#ship-to-container").hide();
        $scope.show_pl_list = false;
        $scope.show_sl_list = false;
        $scope.show_sl_item_list = false;

        
        $scope.add_item_seq_no = 1;

        // $scope.add_pl_form.$valid.item_empty = false;
        var items_count = $("input.added_item_number").length;
        if(items_count < 2) {
            $scope.item_added = false;
        } else {
            $scope.item_added = true;
        }       

	};

	$scope.init();

    $scope.addSoldToExtraContact = function() {
        console.log("testing..");
        mdal = $('#addModal');
        url = "/purchase/add-pl-soldto-extra-contact/",
        mdal.on("shown.bs.modal", function(){
            $("#addModal .modal-content").load(url);
            
            // console.log(url);
        }).modal();
        return false;
    };

    $scope.addShipToExtraContact = function() {
        console.log("testing..");
        mdal = $('#addModal');
        url = "/purchase/add-pl-shipto-extra-contact/",
        mdal.on("shown.bs.modal", function(){
            $("#addModal .modal-content").load(url);
            
            // console.log(url);
        }).modal();
        return false;
    };

    $scope.addCBExtraContact = function() {
        console.log("testing..");
        mdal = $('#addModal');
        url = "/purchase/add-pl-cb-extra-contact/",
        mdal.on("shown.bs.modal", function(){
            $("#addModal .modal-content").load(url);
            
            // console.log(url);
        }).modal();
        return false;
    };

    $scope.deleteItem = function (event) {

        var removed_item_id = event.currentTarget.attributes[1].value;
        console.log("removed item: "+ removed_item_id);
        if(removed_item_id){
            var removed_item = "<input type='hidden' name='removed_item' value='"+removed_item_id+"'>";
            $("#add_item_list tr.removed_item").append(removed_item); 
            $(event.target).closest('tr').remove();   
        }

        var items_count = $("input.added_item_number").length;
        if(items_count < 2) {
            $scope.item_added = false;
        }
    };

    $scope.removeItem = function (event) {

        var removed_item_id = event.currentTarget.attributes[1].value;
        $(event.target).closest('tr').remove();
        var items_count = $("input.added_item_number").length;
        console.log(items_count);
        if(items_count < 2) {
            $scope.item_added = false;
        }

    };

    $scope.searchPl = function(q) {

        if(q.length > 1) {
            
            var url = "/purchase/pl/search/?q="+q
            $http({method: 'GET', url: url}).
                success(function(data, status, headers, config){
                $scope.pls = data;
            });

            $scope.show_pl_list = true;
        } else {

            $scope.show_pl_list = false;
        }
        
    }
    $scope.selectJob = function(job) {
        // console.log(job);
        $scope.show_job_details = true;
        $scope.job = job;

    }

    $scope.selectPl = function (pl) {
        // console.log(pl);
        $scope.show_pl_list = false;
        $scope.new_pl_form = false;
        // $scope.show_update_button = true;
        // $scope.show_add_button = false;

        $scope.sl_checked = true;
        $scope.search_pl = pl.pl_number;
        $scope.pl_checked = true;
        var url = "/purchase/get-pl/"+pl.pl_number+"/"
        $http({method: 'GET', url: url}).
                success(function(data, status, headers, config){
            $scope.pl = data;
            console.log(data);

            if(data.pdf_pl == true) {
                $("#pdf_pl").bootstrapToggle('on')
            } else {
                $("#pdf_pl").bootstrapToggle('off')
            }

            if(data.print_pl == true) {
                $("#print_pl").bootstrapToggle('on');
            } else {
                $("#print_pl").bootstrapToggle('off');
            }

            if(data.email_pl == true) {
                $("#email_pl").bootstrapToggle('on');
            } else {
                $("#email_pl").bootstrapToggle('off');
            }

            if(data.fax_pl == true) {
                $("#fax_pl").bootstrapToggle('on')
            } else {
                $("#fax_pl").bootstrapToggle('off')
            }         
            
            $("#id_pl_number").val($scope.pl.pl_number);

            if ($scope.pl.sold_to) {

                $("#sold_to_contact_details").show();
                $("#pl_sold_to_extra_contact_list").show();
                $scope.sold_to_contact = $scope.pl.sold_to; 
                $("#id_sold_to").val($scope.pl.sold_to.id); 
                $scope.search_sold_to = $scope.pl.sold_to.contact_name;
                $scope.add_pl_form.search_sold_to.$setViewValue($scope.add_pl_form.search_sold_to.$viewValue);    
                
            }

            $("#id_date_issued").val($scope.pl.date_issued);
            $("#id_invoiced_on_date").val($scope.pl.invoiced_on_date);
            $("#id_shipping_bl_number").val($scope.pl.shipping_bl_number);
            $("#id_status").val($scope.pl.status);

            if(pl.job){
                $("#id_job_number").val(pl.job.job_number);
                $("#job_number").val(pl.job.job_number);
                $scope.job_number = pl.job.job_number;
                $scope.show_job_details = true;
                $scope.job = pl.job;
            }
            
            
            $("#id_order_type").val($scope.pl.order_type);

            if($scope.pl.hold_at_dept_for_pickup == true){
                $("#id_hold_at_dept_for_pickup").val(1);    
            } else {
                $("#id_hold_at_dept_for_pickup").val(0);
            }

            if($scope.pl.customer_broker) {
                $scope.customer_broker_contact = $scope.pl.customer_broker;
                $scope.search_customer_broker = $scope.pl.customer_broker.contact_name;
                $("#customer_broker_contact_details").show();
                $("#id_customer_broker").val($scope.pl.customer_broker.id);
            }

            $("#id_freight_charges").val($scope.pl.freight_charges)

            if($scope.pl.sl) {
                $("#id_sl_number").val($scope.pl.sl);
                $scope.search_sl = $scope.pl.sl;
                $scope.sl_checked = true;
            }

            if ($scope.pl.ship_to) {
                $("#ship_to_contact_details").show();
                $("#pl_ship_to_extra_contact_list").show();
                $scope.ship_to_contact = $scope.pl.ship_to; 
                $("#id_ship_to").val($scope.pl.ship_to.id); 
                $scope.search_ship_to = $scope.pl.ship_to.contact_name; 
            }

            $("#id_date_shipped").val($scope.pl.date_shipped);

            
            if($scope.pl.generated_by){
                $("#id_generated_by").val($scope.pl.generated_by_id)    
            }
            
            
            $("#id_ship_via").val($scope.pl.ship_via_id);


            $("#id_customer_po_number").val($scope.pl.customer_po_number);

            $("#id_invoiced_on").val($scope.pl.invoiced_on);
            if($scope.pl.shipping_comment != 'Null'){
                $("#id_shipping_comment").val($scope.pl.shipping_comment);    
            }
            $("#id_shipping_comment").val($scope.pl.shipping_comment);    

            
            // pl_items = $scope.pl.pl_items;

        });
        $http({method:'GET', url: '/purchase/get-pl-items/'+pl.pl_number+'/'}).
            success(function(data, status, header, config) {
            var pl_items = data;
            console.log(data);
            $("tbody#add_item_list tr.add_item").remove();
            // if(pl_items.length > 0){
            //     $scope.item_added = true;
            // }

            if (pl_items.length > 0) {
                
                for(var i=0; i < pl_items.length; i++) {
                    var str = "<tr class='add_item'>";
                    str += "<td><input type='text' class='form-control added_item_number' name='pl_added_item_number' value='"+pl_items[i].item_number+"' readonly><input type='hidden'  name='pl_item_ids' value='"+pl_items[i].id+"'><input type='hidden' name='pl_item_seq' value='"+pl_items[i].pl_item_seq+"'></td>";
                    str += "<td><textarea class='form-control' name='pl_item_description' rows='3'>"+pl_items[i].description+"</textarea></td>";
                    
                    str += "<td><select class='form-control' name='pl_item_unit'>";
                    str += "<option ng-repeat='um in item_unit_measures' value='{[{um.id}]}' ng-selected='{[{um.id}]} == "+pl_items[i].unit.id+"'>{[{um.unit_name}]}</option>";
                    str += "</select></td>";

                    str += "<td><input type='text' class='form-control ordered decimal' name='pl_item_ordered' value='"+pl_items[i].qty_ordered.toFixed(4)+"' readonly></td>";
                    
                    str += "<td><input type='number' name='pl_item_shipped' class='form-control shipped decimal' value='"+pl_items[i].qty_shipped.toFixed(4)+"' max='"+ pl_items[i].qty_ordered.toFixed(4)+"' required></td>";
                    
                    str += "<td><input type='text' class='form-control decimal qtybo' name='pl_item_qtybo' value=''></td>";

                    str += "<td><a class='remove-item btn' data-item-id='"+pl_items[i].id+"'  ng-click='deleteItem($event)'>X</a></td>";
                    str += "</tr>";

                    str += "<tr><td colspan='2'>Comment</td><td colspan='5'>";
                    str += "<textarea class='form-control custom_details pl_comment' name='comment_detail_"+pl_items[i].pl_item_seq+"'>"+pl_items[i].comment+"</textarea>";
                    str += "</td></tr>";
                    
                    var element = $compile(str)($scope);

                    $("tbody#add_item_list").append(element);   
                }
        
                $scope.item_added = true;
            } else {
                $scope.item_added = false;
            }
            
        });    
    }

    $scope.deletePO = function() {
        console.log("Delete PL.");
        var status = confirm("Do you want to delete this PL?");
        if(status == true) {
            var pl_id = $("#id_pl_number").val();
            // console.log(po_id);
            var url = "/purchase/pl-delete/";
            $.ajax({
                type: "POST",
                url: url,
                
                data: {
                    'pl_id': pl_id,
                },
                success: function(rdata) {
                    // console.log(rdata);
                    window.location.reload();

                }
            });
        }
        
    }

    $scope.searchJob = function(q) {
        if(q.length > 1) {
            url = "/schedule/job/search/?q=" + q
            $http({method: 'GET', url: url}).
                success(function(data, status, headers, config) {
                    console.log(data);
                    $scope.schedule_jobs = data;
                });
            $("#job_list").show();
            
            
        } else {
            $("#job_list").hide();
        }
    }

    $scope.searchSoldTo  = function(q) {
        if(q.length > 1) {
            url = "/contacts/auto/?q=" + q
            $http({method: 'GET', url: url}).
                success(function(data, status, headers, config) {
                    console.log(data.results);
                    $scope.soldto = data.results;
                });
            $("#sold_to_contact_list").show();
            
            
        } else {
            $("#sold_to_contact_list").hide();
        }
    }
    $scope.selectSoldTo = function(con) {
        $("#sold_to_contact_list").hide();
        $scope.search_sold_to = con.contact_name;
        $scope.sold_to_contact = con;
        $("#id_sold_to").val(con.id);
        $("#sold_to_contact_details").show();
        $("#pl_sold_to_extra_contact_list").show();
    };

    $scope.searchShipTo  = function(q) {
        if(q.length > 1) {
            url = "/contacts/auto/?q=" + q
            $http({method: 'GET', url: url}).
                success(function(data, status, headers, config) {
                    console.log(data.results);
                    $scope.shipto = data.results;
                });
            $("#ship_to_contact_list").show();
            
            
        } else {
            $("#ship_to_contact_list").hide();
        }
    }

    $scope.selectShipTo = function(con) {
        $("#ship_to_contact_list").hide();
        $scope.search_ship_to = con.contact_name;
        $scope.ship_to_contact = con;
        $("#id_ship_to").val(con.id);
        $("#ship_to_contact_details").show();
        $("#pl_ship_to_extra_contact_list").show();


    };

    $scope.searchCustomerBroker  = function(q) {
        if(q.length > 1) {
            url = "/contacts/auto/?q=" + q
            $http({method: 'GET', url: url}).
                success(function(data, status, headers, config) {
                    console.log(data.results);
                    $scope.customer_brokers = data.results;
                });
            $("#customer_broker_contact_list").show();
            
            
        } else {
            $("#customer_broker_contact_list").hide();
        }
    }

    $scope.selectCustomerBroker = function(con) {
        $("#customer_broker_contact_list").hide();
        $scope.search_customer_broker = ""
        $scope.customer_broker_contact = con;
        // console.log(con);
        $("#id_customer_broker").val(con.id);
        $("#customer_broker_contact_details").show();
    }
    
    $scope.searchSl = function(q) {
        if(q.length > 1) {
            // console.log(q);
            var url = "/purchase/sl/search/?q=" + q;
            $http({method: 'GET', url: url}).
                success(function(data, status, headers, config){
                $scope.sls = data;
                console.log(data);
            });
            // $("#po_list").show();
            $scope.show_sl_list = true;
        } else {
            // $("#po_list").hide();
            $scope.show_sl_list = false;
        }
        
    }
    $scope.selectSL = function(sl){
        $scope.search_sl = sl.sl_number;
        $scope.sl_checked = true;
        $scope.show_sl_list = false;
        
        $("#id_sl_number").val(sl.sl_number);
    }

    $scope.searchItem = function(q) {
        if(q.length > 1) {
            /*
            var sl_number = $("#id_sl_number").val();
            // console.log("SL NUMBER:"+sl_number);
            if (sl_number) {
                var url = "/purchase/sl-item-json/?sl="+sl_number+"&q=" + q;    
            } else {
                var url = "/inventory/search_item/?q=" + q;
            }
            */

            var url = "/inventory/search/?q=" + q;
            $http({method: 'GET', url: url}).
                success(function(data, status, headers, config){
                // console.log(data);
                $scope.items = data;
            });
            $("#items_list").show();
        } else {
            $("#items_list").hide();
        }
    }

    $scope.selectItem = function(item) {
        $("#items_list").hide();
        $scope.search_item = '';
        
        // $scope.add_pl_form.$valid.item_empty = true;
        $scope.item_added = true;
        
        var str = "<tr class='add_item'>";
        str += "<td><input type='text' class='form-control added_item_number' name='added_item_number' value='"+item.item_number+"' readonly><input type='hidden'  name='sl_item_ids' value='"+item.item_number+"'><input type='hidden' name='pl_item_seq' value='"+$scope.add_item_seq_no+"'></td>";
        
        str += "<td><textarea class='form-control' name='sl_item_description' rows='3'>"+item.description+"</textarea></td>";
        
        str += "<td><select class='form-control' name='sl_item_unit'>";
        str += "<option ng-repeat='um in item_unit_measures' value='{[{um.id}]}' ng-selected='{[{um.id}]} == "+item.item_unit_measure_id+"'>{[{um.unit_name}]}</option>";
        str += "</select></td>";

        str += "<td><input type='text' class='form-control decimal ordered' name='sl_item_ordered' value=''></td>";

        str += "<td><input type='number' name='sl_item_shipped' class='form-control decimal shipped' value='' required max=''></td>";

        str += "<td><input type='text' class='form-control decimal qtybo' name='sl_item_qtybo' value=''></td>";
        
        
        str += "<td><a class='' data-toggle='modal' data-seq='"+$scope.add_item_seq_no+"' data-target='#plCommentModal'><i class='glyphicon glyphicon-pencil'></i></a><a class='remove-item btn' data-item-id='"+item.sl_item_id+"'  ng-click='removeItem($event)'>X</a></td>";
        str += "</tr>";
        
        var element = $compile(str)($scope);

        $("tbody#add_item_list").prepend(element);
        $scope.add_item_seq_no += 1;

    }
}]);


$('#plCommentModal').on('show.bs.modal', function(e) {

    //get data-id attribute of the clicked element
    var bookId = $(e.relatedTarget).data('seq');

    //populate the textbox
    $(e.currentTarget).find('#item_seq').val(bookId);
});

})(jQuery)
</script>
{% endblock content %}
	
