<tr class='bg-warning'>
	<td>{{pocontact.contact_type}}</td>
	<td>{{pocontact.contact}}</td>
	<td>{{pocontact.contact_name}}</td>
	<td width="">
		<a data-pocid='{{pocontact.id}}' ng-click='deleteShipToContact($event)'>Delete</a>
		<input type='hidden' name='po_extra_shipto_contacts' value='{{pocontact.id}}'>
	</td>
</tr>