<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
<head>
	<title>PO Report</title>
<style type="text/css">
 @page {
  size: a4 landscape;
  margin: 0.5cm;
  font-style: 16px;
} 
.logo {
	display: inline-block;
}
.title {
	display: inline-block;
}
table.con {
	border: 2px solid #777;
	margin-right: 5px;
}
table tr th {
	background-color: #EEE;
}
table thead th {
	background-color: #333;
	color: #FFF;
}

ul {
    list-style-type: none !important;
    padding: 0px;
    margin: 0px;
}

</style>
</head>
<body>
<table width="100%" cellpadding="10">
	<tr>
		<td width="60%">
			<img src="{{resource_directory}}/statics/images/premier-logo.jpeg" width="150" height="100">
		</td>
		<td align="center">
			<table>
				<tr><td><h1>Packing List</h1></td></tr>
			</table>
			<table border="1" width="100" cellpadding="10">

				<tr>
					<td align="center">
						{{pl.pl_number}}
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td style="text-align: left;">
			1400 Phillip Murray Avenue, Oshawa, Ontario (Canada) - L1J7E8
		</td>
		<td align="center">
			<span>Tel: (416) 773-1400</span>
			<span>Fax: (416) 847-5284</span>
		</td>
	</tr>

	<tr style="outline: thin solid">
		<td colspan="2" width="100%">
			<table width="100%">
				<tr>
					<td>
						<table width="100%" height="200" cellpadding="1" style="background-color:#CCC; color:#000;">
							<thead>
								<tr >
									<th colspan="2" cellspacing="2">Supplier</th>
								</tr>
							</thead>
							
							<tr>
								<td width="100">Contact Name</td>
								<td>
									{{sl.supplier.contact_name}}
								</td>
							</tr>
							<tr>
								<td width="100">Address</td>
								<td>
									{{sl.supplier.address_1}}, {{sl.supplier.city}}, {{sl.ship_to.postal_code}}
								</td>
							</tr>
														
							<tr>
								<td width="100">Phones</td>
								<td>
									<ul>
									{% for ph in sl.supplier.contact_phone.all %}
										<li><b>{{ph.phone_type}}</b>: {{ph.phone}} ({{ph.phone_ext}})</li>
									{% endfor %}
									</ul>
								</td>
							</tr>
							<tr>
								<td width="100">Emails</td>
								<td>
									<ul>
									{% for em in sl.supplier.contact_emails.all %}
										<li><b>{{em.email_address_type}}</b>: {{em.email_address}}</li>
									{% endfor %}
									</ul>
								</td>
							</tr>
						</table>
					</td>
					<td>
						<table width="100%" height="200" cellpadding="1" style="background-color:#EEE; color:#000;">
							<thead>
								<tr>
									<th colspan="2">Ship To</th>
								</tr>
							</thead>
							
							<tr>
								<td width="100">Contact Name</td>
								<td>
									{{sl.ship_to.contact_name}}
								</td>
							</tr>
							<tr>
								<td width="100">Address</td>
								<td>
									{{sl.ship_to.address_1}}, {{sl.ship_to.city}}, {{sl.ship_to.postal_code}}			
								</td>
							</tr>
							
							<tr>
								<td width="100">Phones</td>
								<td>
									<ul>
									{% for ph in sl.ship_to.contact_phone.all %}
										<li><b>{{ph.phone_type}}</b>: {{ph.phone}} ({{ph.phone_ext}})</li>
									{% endfor %}
									</ul>
								</td>
							</tr>
							<tr>
								<td width="100">Emails</td>
								<td>
									<ul>
									{% for em in sl.ship_to.contact_emails.all %}
										<li><b>{{em.email_address_type}}</b>: {{em.email_address}}</li>
									{% endfor %}
									</ul>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		
	</tr>
	<tr>
		<td colspan="2" width="100%">
			<table width="100%">
				<thead width="100%">
					<tr width="100%">
						<th>Date Ordered</th>
						<th>Date Required</th>
						<th>Ship Via</th>
						<th>Job Number</th>
						<th>Customer PO Number</th>
						<th>Status</th>
					</tr>
				</thead>
				<tbody width="100%">
					<tr width="100%">
						<td>{{sl.ordered_date}}</td>
						<td>{{sl.date_required}}</td>
						<td>{{sl.ship_via.delivery_choice}}</td>
						<td>{{sl.job_number.job_number}}</td>
						<td>{{sl.customer_po_number}}</td>
						<td>{{sl.status_verbose}}</td>
					</tr>
				</tbody>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2">
			<table width="100%" cellpadding="1">
				<thead>
					<tr>
						<th>Item Number</th>
						<th>Qty Ordered</th>
						<th>Cost / Item</th>
						<th>Comment</th>
						<th>Job number</th>
						<th>Sub Total</th>
					</tr>
				</thead>
				<tbody>
				{% for item in sl_items %}
					<tr>
						<td>{{item.item.item_number}}</td>
						<td>{{item.qty}}</td>
						<td>{{item.cost}}</td>
						<td>{{item.comment}}</td>
						<td>{{item.job_number.job_number}}</td>
						<td>{{item.sub_total}}</td>
					</tr>
				{% endfor %}
				<tr>
					<th colspan="5">Total HST Tax</th>
					<td style="background-color: #EEE; color: red">{{po.total_hst_tax}}</td>
				</tr>
				<tr>
					<th colspan="5">Total PST Tax</th>
					<td style="background-color: #EEE; color: red">{{po.total_pst_tax}}</td>
				</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="5" align="right">Total This Purchase Order: </th>
						<th align="left">{{po.total_po_amount}}</th>
					</tr>
				</tfoot>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan="2" width="100%">
			<table>
				<tr>
					<td>
						<ol>
							<li>Please send two copies of your invoice</li>
							<li>Enter this order in accordance with the price, term, delivery method and specifications listed above</li>
							<li>Please notify us immediately if you are unable to ship as specified.</li>
							<li>
								Send all coresponance to:<br>
								Dino Mele<br>
								Premier Elevator Interiors<br>
								1400 Phillip Murray Avenue<br>
								Oshawa, Ontario L1J 7E8<br>
								Tel: 416-773-1400<br>
								Fax: 416-847-5284
							</li>
							
						</ol>
					</td>
				</tr>
				<tr>
					<td colspan="2" width="80%" align="right">
						<b>Authorized By</b>
					</td>
					<td align="right">
						<b>Date</b>
					</td>
				</tr>
			</table>
				
		</td>
	</tr>
</table>

</body>
</html>
