{% extends "base.html" %}
{% block title %}{{site_name}}{% endblock title %}

{% block content %}
<div class="container main-body shadow4">
	
	<div class="row">
	    <div class="col-md-6 col-md-offset-3">
	    <section class="home">
	    	
	    	<div class="jumbotron shadow4" id="login-jumbo">
			<form action="/scomuser/login/" method="POST">{% csrf_token %}
				{% for field in lform %}
					{{ field.label }}
					{{ field }}
					
				{% endfor %}
				
				<button type="submit" class="btn btn-primary btn-lg form-control login-btn">Login</button>
			</form>
			</div>
	    </section>
			
		</div>
		<div class="col-md-6 col-md-offset-3">
			{{ form.as_p }}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-4">
			<img src="/statics/images/splashlogo.jpg">
		</div>
	</div>	
</div>

{% endblock content %}