{% extends "base.html" %}

{% block content %}


<div class="container shadow4 main-body" ng-app="queApp">

<section class="row"  id="que_control" ng-controller="AddQueController">
	

	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4>Add Que Control</h4>
		  	</div>
		  	<div class="panel-body">
			  	<form name="report-form" action="/report/add/que/" method="POST">{% csrf_token %}
			  		<table class="add-user-table">
				  		<tbody>
				  			<tr>
				  				<td><label for="id_control_id">Control ID:</label></td>
				  				<td>
				  				
				  				<input class="form-control" id="id_control_id" maxlength="150" name="control_id" placeholder="control id" type="text">
				  				
				  				</td>
				  			</tr>
				  		
				  			
				  			<tr>
			  					<td><label for="id_que_type">Que Type:</label></td>
			  					<td>
			  						<select class="form-control" id="id_que_type" name="que_type" ng-model="que_type">
			  							
										<option value="email">Email</option>
										<option value="printer">Printer</option>
										<option value="fax">Fax</option>
										
									</select>
								</td>
			  				</tr>
			  			
			  				<tr ng-if="que_type=='email'">
			  					<td><label for="id_email">Email:</label></td>
				  				<td>
				  					<input class="form-control" id="id_email" maxlength="500" name="email" placeholder="Email Address" type="email" required>
				  					<span class="error" ng-show="myForm.input.$error.email">Not valid email!</span>
				  				</td>
			  				</tr>
			  			
			  				<tr ng-if="que_type=='printer'">
			  					<td><label for="id_printer">Printer:</label></td>
			  					<td>
			  						<select class="form-control" id="id_printer" name="printer">
										{% for printer in printers %}
											<option value="{{printer.printer_id}}">{{printer.printer_id}}</option>
										{% endfor %}
									</select>
								</td>
			  				</tr>
			  			
			  				<tr ng-if="que_type=='fax'">
				  				<td><label for="id_fax">Fax:</label></td>
				  				<td>
				  					<input class="form-control" id="id_fax" maxlength="500" name="fax" placeholder="Fax Number" type="text"required>
				  				</td>
			  				</tr>

			  				<tr>
			  					<td><label for="id_current_job_status">Current job status:</label></td>
			  					<td>
			  						<select class="form-control" id="id_current_job_status" name="current_job_status" ng-model="current_job_status" ng-selected="{[{current_job_status}]}">

				  						<option value="new">New</option>
				  						<option value="inprogress">In Progress</option>
				  						<option value="error">Error</option>
				  						<option value="completed">Completed</option>
				  					</select>
			  					</td>
			  				</tr>

			  				<tr>
				  				<td><label for="id_datetime_submitted">Date Time Submitted:</label></td>
				  				<td>
				  					<input class="form-control datetimepicker" id="id_datetime_submitted" name="datetime_submitted" value="{[{datetime_submitted}]}" type="text" ng-model="datetime_submitted"></td>
			  				</tr>

			  				<tr>
			  					<td><label for="id_datetime_finished">Date Time Finished:</label></td>
			  					<td>
			  					<input class="form-control datetimepicker" id="id_datetime_finished" name="datetime_finished" placeholder="Search End Date" type="text" ng-model="datetime_finished"></td>
			  				</tr>
				  		
				  			<tr>
				  				<td><label for="id_file_path">Python script:</label></td>
				  				<td>
				  					<input class="form-control" id="id_file_path" maxlength="200" name="file_path" placeholder="File path" type="text">
				  				</td>
				  			</tr>

				  			<tr>
				  				<th width="150">
									<label for="id_que_generated_by">Que Generated By:</label>
								</th>
								<td colspan="4">
									<select class="form-control" id="id_que_generated_by" name="que_generated_by">
									{% for user in users %}
										<option value="{{user.id}}" {% if user.id == request.user.id %}selected='selected' {% endif %}>
											{{ user.first_name }} {{ user.last_name }}
										</option>
									{% endfor %}
									</select>
								</td>
				  			</tr>
				  		
				  		
					<tr>
						<td colspan="2">
							<button type="submit" class="btn btn-primary btn-lg form-control login-btn">Add Que Control</button>
						</td>
					</tr>
					</tbody>
				  	
					</table>
			  	</form>
			</div>
		</div>
	</div>

</section>
</div>
<script type="text/javascript">

var demoApp = angular.module("queApp", [], function ($interpolateProvider) {
        $interpolateProvider.startSymbol("{[{");
        $interpolateProvider.endSymbol("}]}");
});
demoApp.controller("AddQueController", ['$scope', '$http', function ($scope, $http){

	$scope.init = function() {
		$scope.que_type = 'email';
		$scope.current_job_status = 'new';

		$scope.show_control_list = false;

		var now = new Date();
		$scope.datetime_submitted = now.dateFormat("m/d/Y");


	}

	$scope.init();


}]);


(function(){
	$(".datetimepicker").datepicker();
})(jQuery)

</script>

{% endblock content %}
	