{% extends "base.html" %}

{% block content %}

<style type="text/css">

</style>

<div class="container shadow4 main-body">

<section class="row"  id="que_control">
	

	<div class="col-md-8 col-md-offset-2">
		<div class="panel panel-primary">
			<div class="panel-heading">
		    	<h4>Update Que Control</h4>
		  	</div>
		  	<div class="panel-body">
			  	<form name="report-form" action="/report/edit/que/{{cid}}/" method="POST">{% csrf_token %}
			  		<table class="add-user-table">
				  		<tbody>
				  			
				  			
				  			<tr>
				  				<td><label for="id_control_id">Control ID:</label></td>
				  				<td>
				  				
				  				<input class="form-control" id="id_control_id" maxlength="150" name="control_id" placeholder="control id" type="text" value="{{que_form.control_id.value}}" readonly="readonly">
				  				
				  				</td>
				  			</tr>
				  		
				  			
				  			<tr>
			  					<td><label for="id_que_type">Que Type:</label></td>
			  					<td>
			  						<select class="form-control" id="id_que_type" name="que_type">
			  							
										<option value="email" {% if que_form.que_type.value == 'email' %} selected {% endif %}>Email</option>
										<option value="printer" {% if que_form.que_type.value == 'printer' %} selected {% endif %} >Printer</option>
										<option value="fax" {% if que_form.que_type.value == 'fax' %} selected {% endif %}>Fax</option>
										
									</select>
								</td>
			  				</tr>
			  				
			  				
			  			
			  				<tr id="id_email_tr">
			  					<td><label for="id_email">Email:</label></td>
				  				<td>
				  					<input class="form-control" id="id_email" maxlength="500" name="email" placeholder="Email Address" type="email" value="{{que_form.email.value}}" required>
				  					
				  				</td>
			  				</tr>
			  				
			  				<tr id="id_printer_tr">
			  					<td><label for="id_printer">Printer:</label></td>
			  					<td>
			  						<select class="form-control" id="id_printer" name="printer">
										{% for printer in printers %}
											<option value="{{printer.printer_id}}" {% if que_form.printer.value == printer.printer_id %} selected {% endif %}>{{printer.printer_id}}</option>
										{% endfor %}
									</select>
								</td>
			  				</tr>
			  				
			  				<tr id="id_fax_tr">
				  				<td><label for="id_fax">Fax:</label></td>
				  				<td>
				  					<input class="form-control" id="id_fax" maxlength="500" name="fax" placeholder="Fax Number" type="text" value="{{que_form.fax.value}}">
				  				</td>
			  				</tr>
			  				

			  				<tr>
			  					<td><label for="id_current_job_status">Current job status:</label></td>
			  					<td>
			  						<select class="form-control" id="id_current_job_status" name="current_job_status">

				  						<option value="new" {% if que_form.current_job_status.value == 'new' %} selected {% endif %}>New</option>
				  						<option value="inprogress" {% if que_form.current_job_status.value == 'inprogress' %} selected {% endif %}>In Progress</option>
				  						<option value="error" {% if que_form.current_job_status.value == 'error' %} selected {% endif %}>Error</option>
				  						<option value="completed" {% if que_form.current_job_status.value == 'completed' %} selected {% endif %}>Completed</option>
				  					</select>
			  					</td>
			  				</tr>

			  				<tr>
				  				<td><label for="id_datetime_submitted">Date Time Submitted:</label></td>
				  				<td>
				  					<input class="form-control datetimepicker" id="id_datetime_submitted" name="datetime_submitted" value="{{que_form.datetime_submitted.value  | date:'m/d/Y'}}" type="text"></td>
			  				</tr>

			  				<tr>
			  					<td><label for="id_datetime_finished">Date Time Finished:</label></td>
			  					<td>
			  					<input class="form-control datetimepicker" id="id_datetime_finished" name="datetime_finished" placeholder="Search End Date" type="text" value="{{que_form.datetime_finished.value | date:'m/d/Y' }}"></td>
			  				</tr>
				  		
				  			<tr>
				  				<td><label for="id_file_path">Python script:</label></td>
				  				<td>
				  					<input class="form-control" id="id_file_path" maxlength="200" name="file_path" placeholder="File path" type="text" value="{{que_form.file_path.value}}">
				  				</td>
				  			</tr>

				  			<tr>
				  				<th width="150">
									<label for="id_que_generated_by">Que Generated By:</label>
								</th>
								<td colspan="4">
									<select class="form-control" id="id_que_generated_by" name="que_generated_by">
									{% for user in users %}
										<option value="{{user.id}}" {% if que_form.que_generated_by.value == user.id %} selected {% endif %} >
											{{ user.first_name }} {{ user.last_name }}
										</option>
									{% endfor %}
									</select>
								</td>
				  			</tr>
				  		
				  		
					<tr>
						<td colspan="2">
							<button type="submit" class="btn btn-primary btn-lg form-control login-btn">Update Que Control</button>
						</td>
					</tr>
					</tbody>
				  	
					</table>
			  	</form>
			</div>
		</div>
	</div>

</section>
</div>
<script type="text/javascript">

(function(){

	$("#id_email_tr").hide();
	$("#id_fax_tr").hide();
	$("#id_printer_tr").hide();

	$(".datetimepicker").datepicker();
	var que_type = $("select#id_que_type option:selected").val();
	
	if (que_type == 'email') {
		$("#id_email_tr").show();
	} else if (que_type == 'printer') {
		$("#id_printer_tr").show();
	} else if (que_type == 'fax') {
		$("#id_fax_tr").show();
	}
	


	$(document).on("change", "select#id_que_type", function() {
		
		var que_type = $(this).val();

		if (que_type == 'email') {
			
			$("#id_fax_tr").hide();
			$("#id_printer_tr").hide();
			$("#id_email_tr").show();

		} else if (que_type == 'printer') {
			$("#id_email_tr").hide();
			$("#id_fax_tr").hide();
			$("#id_printer_tr").show();

		} else if (que_type == 'fax') {
			
			$("#id_email_tr").hide();
			$("#id_printer_tr").hide();
			$("#id_fax_tr").show();
		}

	})

})(jQuery)

</script>

{% endblock content %}
	