{% extends "base.html" %}


{% block content %}

<div class="container shadow4 main-body" >

<section class="row"  id="report">
	

	<div class="col-md-12">

<table class="table">
	<thead>
	<tr>
		<th> ID </th>
		<th>Report Type</th>
		<th>Script Name</th>
		<th>Que Type</th>
		<th>Current job status</th>
		<th>Date submitted</th>
		<th> Comments </th>
		<th>File Path</th>
		
		
		<th width="120">Action</th>
		
	</tr>
	</thead>
	<tbody>
		{% for job in reports %}
		<tr ng-repeat="job in jobs">
			<td> {{ job.id }} </td>
			<td> {{ job.report.report_type }} </td>
			<td> {{ job.script_name }} </td>
			<td> {{ job.que_type }} </td>
			<td> {{ job.current_job_status }} </td>
			<td> {{ job.date_submitted }} </td>
			<td> {{ job.report_description }} </td>
			<td>{{ job.filepath }}</td>
			
			
			<td>
				<a href="" class="view-report" data-path="{{job.id}}" >View</a>
				<span ng-show="{{ job.permission.can_change_singlereport }}">
				 / 
				<a href="/report/singlejob/edit/{{job.id}}/" >Edit</a>
				</span>

				<span ng-show="{{ job.permission.can_delete_singlereport }}">
				 / 
				<a href=""  data-id="{{ job.id }}" class="single-job-delete">Delete</a>
				</span>
				
			</td>
			
		</tr>
		{% endfor %}
	</tbody>
</table>


{% include "modals/add-modal.html" %}
<script type="text/javascript">
(function(){
	$(document).on("click", "#recuring-report-list a.single-job-delete", function(e){
		e.preventDefault();
		var job_id = $(this).data("id");

		$( "#delete-user-confirm" ).css("display:block;");
		
		$( "#delete-job-confirm" ).dialog({
			resizable: false,
			height:200,
			modal: true,
			buttons: {
				"Delete Job": function() {
									
					$( this ).dialog( "close" );
					$.ajax({
						type: "POST",
						url: "/report/singlejob/delete/",
						data: {
							'id': job_id,
						},
						success: function(rdata) {
							console.log(rdata);
							$("a[data-id='"+ rdata + "']").closest("tr").remove();
						}
					})
				},
				Cancel: function() {
					$( this ).dialog( "close" );
				}
			}
		});

	});

	$(document).on("click", "a.view-report", function(e){
		e.preventDefault();
		var job_id = $(this).data("path");

		console.log(job_id);
		
		url = "http://127.0.0.1:8000/report/singlejob/viewpdf/56/",
		mdal = $('#addModal');
		mdal.on("shown.bs.modal", function(){
			$("#addModal .modal-content").load(url);
			// console.log(url);
		}).modal();
		return false;
	});

})(jQuery)

</script>

</div>
</section>
</div>
{% endblock content %}


